<div class="control-boxstep">
  <div class="step-taxform fourstep">
    <div class="bg-lineprogress" *ngIf="stepper$ | async as stepper">
        <div class="status-line" [class.haftstep]="stepper == 1" [class.passstep]="stepper > 1"><span>&nbsp;</span></div>
        <div class="status-line" [class.haftstep]="stepper == 2" [class.passstep]="stepper > 2"><span>&nbsp;</span></div>
        <div class="status-line" [class.haftstep]="stepper == 3" [class.passstep]="stepper > 3"><span>&nbsp;</span></div>
        <div class="clear"></div>
    </div>
    <div class="row" *ngIf="stepper$ | async as stepper">
      <div class="col-3">
          <div class="box-formprogress" [class.active]="stepper > 0">
              <div class="icon-progress"><img src="assets/images/{{ breadcrumb[0].icon }}" alt=""></div>
              <div class="text-progress">{{ breadcrumb[0].title }}</div>
          </div>
      </div>
      <div class="col-3">
        <div class="box-formprogress" [class.active]="stepper > 1">
            <div class="icon-progress"><img src="assets/images/{{ breadcrumb[1].icon }}" alt=""></div>
            <div class="text-progress">{{ breadcrumb[1].title }}</div>
        </div>
      </div>
      <div class="col-3">
        <div class="box-formprogress" [class.active]="stepper > 2">
            <div class="icon-progress"><img src="assets/images/{{ breadcrumb[2].icon }}" alt=""></div>
            <div class="text-progress">{{ breadcrumb[2].title }}</div>
        </div>
      </div>
      <div class="col-3">
          <div class="box-formprogress" [class.active]="stepper > 3">
              <div class="icon-progress"><img src="assets/images/{{ breadcrumb[3].icon }}" alt=""></div>
              <div class="text-progress">{{ breadcrumb[3].title }}</div>
          </div>
        </div>
    </div>
  </div>
</div>
