.previewdoc {
    line-height: 0;
    margin-bottom: unset;
    overflow: hidden;
    margin:0;  
    img {
        display: block;
        width: 100%;
    }
}

/* div{  
    overflow: hidden;
    margin:0;  
}

div img{
display:block;
width:100%;  
} */

.change-ratio img{
    margin:0 0 -10% 0;
}