<div class="modal fade modal-tabs" bsModal #modal="bs-modal" tabindex="-1" role="dialog"(onHidden)="onHideModal()">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content clear-bg-color">
      <tabset #staticTabs>
        <tab heading="บันทึกข้อมูลแบบ" customClass="tab-content-quote">
          <!-- start-tap-filing -->
          <div class="modal-tab-content">
            <form [formGroup]="formSaveData" autocomplete="off">
              <div class="row forminput">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                      
                        <div class="col-3 btn-right" style="margin-left: -3%">
                          <ef-label>เลขประจำตัวผู้เสียภาษี<span class="red">*</span>:</ef-label>
                        </div>
                        <div class="col-4">
                            <input type="text" style="border:1px solid #bcbebc;" class="form-control"  mask="0-00000-0000-00-0" formControlName="id13" placeholder="เลขประจำตัวผู้เสียภาษีอากร 13 หลัก">
                            <ef-validation-message [control]="formSaveData.controls.id13" [submit]="formSubmitAttempt"></ef-validation-message>
                        </div>
                      
                        <div class="col-2 btn-right" style="margin-left: -6%">
                          <ef-label>ชื่อ<span class="red">*</span>:</ef-label>
                        </div>
                        <div class="col-4">
                            <input type="text" style="border:1px solid #bcbebc" class="form-control" formControlName="name" placeholder="ชื่อ" (keyup)="checkCharacter(myInput.value)" #myInput />
                          <ef-validation-message [control]="formSaveData.controls.name"  [submit]="formSubmitAttempt"></ef-validation-message>
                        </div>
                      
                        <div style="margin-top:7%"></div>

                        <div class="col-3 btn-right" style="margin-left: -3%">
                          <ef-label>ประเภทสาขา<span class="red">*</span>:</ef-label>
                        </div>
                        <div class="col-4">
                          <ng-select [items]="listBranchType" bindLabel="branchTypeName" bindValue="branchType" formControlName="branchType" [markFirst]="false" placeholder="โปรดเลือก">
                          </ng-select>
                          <ef-validation-message [control]="formSaveData.controls['branchType']" [requiredSelect]="true" [submit]="formSubmitAttempt"></ef-validation-message>
                        </div>
                      
                        <div class="col-2 btn-right" style="margin-left: -6%">
                          <ef-label>สาขาที่<span class="red">*</span>:</ef-label>
                        </div>
                        <div class="col-4">
                          <input type="text" style="border:1px solid #bcbebc" class="form-control" formControlName="branchNo" placeholder="ชื่อ" />
                          <ef-validation-message [control]="formSaveData.controls['branchNo']"  [submit]="formSubmitAttempt"></ef-validation-message>
                        </div>
                      
                        <div style="margin-top:7%"></div>

                        <div class="col-3 btn-right" style="margin-left: -3%">
                          <ef-label>ปี<span class="red">*</span>:</ef-label>
                        </div>
                        <div class="col-4">
                          <ng-select [items]="listYear" bindLabel="yearText" bindValue="yearId" formControlName="year" [markFirst]="false" placeholder="โปรดเลือก">
                          </ng-select>
                          <ef-validation-message [control]="formSaveData.controls['year']" [requiredSelect]="true" [submit]="formSubmitAttempt"></ef-validation-message>
                        </div>
                      
                        <div class="col-2 btn-right" style="margin-left: -6%">
                          <ef-label>เดือน<span class="red">*</span>:</ef-label>
                        </div>
                        <div class="col-4">
                          <ng-select [items]="listMonth" bindLabel="nameLocal" bindValue="id" formControlName="month" [markFirst]="false" placeholder="โปรดเลือก" >
                          </ng-select>
                          <ef-validation-message [control]="formSaveData.controls['month']" [requiredSelect]="true" [submit]="formSubmitAttempt"></ef-validation-message>
                        </div>

                        <div style="margin-top:7%"></div>

                        <div class="col-3 btn-right" style="margin-left: -3%">
                            <ef-label>ไฟล์ที่ต้องการอัพโหลด</ef-label>
                          </div>
                          <div class="col-4">
                                <input type="text" style="border:1px solid #bcbebc" class="form-control"[readonly]="true" formControlName="fileName">
                          </div>
                        
                          <div class="col-4">
                              <button class="btn btn-aaa shadow-lg w-50" (click)="uploadfile.click()">เลือกไฟล์ข้อมูล</button>
                              <input type="file" style="display: none" #uploadfile ng2FileSelect [uploader]="uploader" multiple (change)="getFileName()"/>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center text-center mt-5 mb-5 mt-5 mb-5">
                <div class="col-3">
                  <button type="button" class="btn btn-primary shadow-lg w-100" (click)="onClickTaxFilingOnline()">จัดทำข้อมูลแบบ</button>
                </div>
              </div>
            </form>
          </div>
        </tab>
        <!-- end-tap-filing -->

        <!-- start-tap-2-->
        <tab heading="โอนย้ายข้อมูล" customClass="tab-content-quote">
            <div class="modal-tab-content">
                <form [formGroup]="formTransferdata" autocomplete="off">
                  <div class="row forminput">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                          
                            <div class="col-3 btn-right" style="margin-left: -3%">
                              <ef-label>เลขประจำตัวผู้เสียภาษี<span class="red">*</span>:</ef-label>
                            </div>
                            <div class="col-4">
                                <input type="text" style="border:1px solid #bcbebc" class="form-control"  mask="0-00000-0000-00-0" formControlName="id13" placeholder="เลขประจำตัวผู้เสียภาษีอากร 13 หลัก">
                                <ef-validation-message [control]="formTransferdata.controls.id13" [submit]="formSubmitAttempt"></ef-validation-message>
                            </div>
                          
                            <div class="col-2 btn-right" style="margin-left: -6%">
                              <ef-label>ชื่อ<span class="red">*</span>:</ef-label>
                            </div>
                            <div class="col-4">
                                <input type="text" style="border:1px solid #bcbebc" class="form-control" formControlName="name" placeholder="ชื่อ" />
                                <!-- <input type="text" class="form-control"  [formControlName]="'firstName'" (keyup)="checkCharacter(myInput.value)" #myInput (focus)="focusFirstName()"/> -->
                              <ef-validation-message [control]="formTransferdata.controls['name']" [submit]="formSubmitAttempt"></ef-validation-message>
                            </div>
                          
                            <div style="margin-top:7%"></div>
    
                            <div class="col-3 btn-right" style="margin-left: -3%">
                              <ef-label>ประเภทสาขา<span class="red">*</span>:</ef-label>
                            </div>
                            <div class="col-4">
                              <ng-select [items]="listBranchType" bindLabel="branchTypeName" bindValue="branchType" formControlName="branchType" [markFirst]="false" placeholder="โปรดเลือก">
                              </ng-select>
                              <ef-validation-message [control]="formTransferdata.controls['branchType']" [requiredSelect]="true" [submit]="formSubmitAttempt"></ef-validation-message>
                            </div>
                          
                            <div class="col-2 btn-right" style="margin-left: -6%">
                              <ef-label>สาขาที่<span class="red">*</span>:</ef-label>
                            </div>
                            <div class="col-4">
                              <input type="text" style="border:1px solid #bcbebc" class="form-control" formControlName="branchNo" placeholder="ชื่อ" />
                              <ef-validation-message [control]="formTransferdata.controls['branchNo']"  [submit]="formSubmitAttempt"></ef-validation-message>
                            </div>
                          
                            <div style="margin-top:7%"></div>
    
                            <div class="col-3 btn-right" style="margin-left: -3%">
                              <ef-label>ปี<span class="red">*</span>:</ef-label>
                            </div>
                            <div class="col-4">
                              <ng-select [items]="listYear" bindLabel="yearText" bindValue="yearId" formControlName="year" [markFirst]="false" placeholder="โปรดเลือก">
                              </ng-select>
                              <ef-validation-message [control]="formTransferdata.controls['year']" [requiredSelect]="true" [submit]="formSubmitAttempt"></ef-validation-message>
                            </div>
                          
                            <div class="col-2 btn-right" style="margin-left: -6%">
                              <ef-label>เดือน<span class="red">*</span>:</ef-label>
                            </div>
                            <div class="col-4">
                              <ng-select [items]="listMonth" bindLabel="nameLocal" bindValue="id" formControlName="month" [markFirst]="false" placeholder="โปรดเลือก">
                              </ng-select>
                              <ef-validation-message [control]="formTransferdata.controls['month']" [requiredSelect]="true" [submit]="formSubmitAttempt"></ef-validation-message>
                            </div>
    
                            <div style="margin-top:7%"></div>
    
                            <div class="col-3 btn-right" style="margin-left: -3%">
                                <ef-label>ไฟล์ที่ต้องการอัพโหลด</ef-label>
                              </div>
                              <div class="col-4">
                                    <input type="text" style="border:1px solid #bcbebc" class="form-control" [readonly]="true" formControlName="fileName2">
                              </div>
                            
                              <div class="col-4">
                                  <button class="btn btn-aaa shadow-lg w-50" (click)="uploadfile1.click()">เลือกไฟล์ข้อมูล</button>
                                  <input type="file" style="display: none" #uploadfile1 ng2FileSelect [uploader]="uploader2" multiple (change)="getFileName2()"/>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center text-center mt-5 mb-5 mt-5 mb-5">
                    <div class="col-3">
                      <button type="button" class="btn btn-primary shadow-lg w-100" (click)="onClickTaxFilingOnline()">ยืนยันการโอนย้าย</button>
                    </div>
                  </div>
                </form>
              </div>
        </tab>
        <!-- end-tap-upload -->

        <!-- start-tap-draft -->
        <tab heading="รายการข้อมูลแบบ" customClass="tab-content-quote">
          <div class="modal-tab-content">
           <!--start row 1-->
           <div class="row mt-3">
            <div class="col-12">
              <div class="btn-right btn-search-id offset-8">
                <!-- <button type="button" class="btn btn-border-gray btn-aaa shadow-lg w-50" (click)="onSearchAdvanced()">ค้นหาขั้นสูง</button> -->
                <button type="button" class="btn btn-primary shadow-lg w-50 arrow-box"  (click)="onSearchAdvanced()">ค้นหาขั้นสูง</button>
              </div>
            </div>
          </div>
           <!--end row 2-->
          <!--start row 2-->
          <div class="col-12 mt-2" style="background-color: #E5E7E9;width: 100%;" *ngIf="onClickSearchAdvanced">
          <div class="row">
            <!-- <div class=" col-4 nopaddingright text-green">ค้นหาจาก</div>
            <div class=" col-4 nopaddingright text-green">หรือ</div> -->
            <div class="col-4 form-group">
                <label class="control-label" for="">ค้นหาจาก</label>
                <ng-select  class="arrow-box"  [items]="optionSelect" bindLabel="text" bindValue="value"   [markFirst]="false" placeholder="โปรดเลือก" [(ngModel)]="selectChoice">
                </ng-select>
              </div>
          </div>
          <div class="row mt-3">
            <div  *ngIf="selectChoice === 1" class="col-3 nopaddingright">
              <div class="form-group">
                <label class="control-label" for="">ปีภาษี :</label>
                <ng-select [items]="listYear" bindLabel="yearText" bindValue="yearId"   [markFirst]="false" placeholder="โปรดเลือก" [(ngModel)]="year">
                </ng-select>
              </div>
            </div>
            <div *ngIf="selectChoice === 1" class="col-3 nopaddingright">
              <div class="form-group">
                <label class="control-label" for="">เดือน :</label>
                <ng-select [items]="listMonth" bindLabel="nameLocal" bindValue="id"   [markFirst]="false" placeholder="โปรดเลือก" [(ngModel)]="month" >
                </ng-select>
              </div>
            </div>
            <!-- <i class="disbtn" style="position: relative;"></i> -->
            <div *ngIf="selectChoice === 2" class="col-4 nopaddingright">
              <div class="form-group">
                <label class="control-label" for="">หมายเลขอ้างอิงแบบฉบับร่าง :</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="padding: 4px">{{prefix}}</div>
                    </div>
                    <input class="form-control" value="" placeholder="" [(ngModel)]="inputSearch"/>
                </div>
              </div>
            </div>
            <div *ngIf="selectChoice === 2" class="col-2 nopaddingright"></div>
            <div *ngIf="selectChoice === 1 || selectChoice === 2" class="col-3 nopaddingright d-flex align-items-center">
              <div class="btn-right btn-search-id offset-10">
                <button type="button" class="btn btn-primary shadow-lg w-100" (click)="onSearch()">ค้นหา</button>
              </div>
            </div>
            <div *ngIf="selectChoice === 1 || selectChoice === 2" class="col-2 nopaddingright d-flex align-items-center">
              <div class="btn-right btn-search-id offset-6">
                <button type="button" class="btn btn-warning shadow-lg w-100" (click)="onClearData()">ล้างข้อมูล</button>
              </div>
            </div>
          </div>
        </div>
          <!--end row 2-->
            <form [formGroup]="pndFormDraft">
              <div class="row mt-1">
                <div class="col-12 tab-bg">
                  <div class="card-body">
                    <div class="form-preview ">
                      <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="pndList"
                        [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
                        [nzPageSizeOptions]="[5,10,20,30]" (nzPageIndexChange)="searchData()"
                        (nzPageSizeChange)="searchData(true)" [nzShowTotal]="tableTotal">
                        <thead>
                          <tr>
                            <th nzWidth="5%" class="text-center">ลำดับที่</th>
                            <th nzWidth="18%" class="text-center">หมายเลขอ้างอิงแบบฉบับร่าง</th>
                            <th nzWidth="10%" class="text-center">ปีภาษี</th>
                            <th nzWidth="10%" class="text-center">เดือน</th>
                            <th nzWidth="10%" class="text-center">ประเภทสาขา</th>
                            <th nzWidth="10%" class="text-center">สาขาที่</th>
                            <th nzWidth="13%" class="text-center">ลำดับการยื่นแบบ</th>
                            <th nzWidth="15%" class="text-center">วันที่บันทึกแบบล่าสุด</th>
                            <th nzWidth="10%" class="text-center">ดำเนินการ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of pndList;index as i">
                            <td class="text-center">{{ i+1 }}</td>
                            <td class="text-center">{{ data.draftNo }}</td>
                            <td class="text-center">{{ data.taxYear }}</td>
                            <td class="text-center">{{ data.taxMonth | month}}</td>
                            <td class="text-center">{{ data.branchTypeName }}</td>
                            <td class="text-center">{{ data.branchNo }}</td>
                            <!-- <td class="text-center">{{ data.filingNo }}</td> -->
                            <td class="text-center">{{ data.filingType }}<span *ngIf="0 != data.filingNo"> ครั้งที่{{ data.filingNo }}</span></td>
                            <td class="text-center">{{ data.updateDate }}</td>
                            <td class="text-center">
                              <i class="far fa-edit" (click)="editPND(data)"></i>&nbsp;
                              <i class="far fa-trash-alt" (click)="showModalDelete(data)"></i>
                            </td>
                          </tr>
                        </tbody>
                      </nz-table>
                      <div>หมายเหตุ: <i class="far fa-edit">คลิกเพื่อแก้ไขแบบฉบับร่าง</i>&nbsp; <i class="far fa-trash-alt">คลิกเพื่อลบแบบฉบับร่าง</i></div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </tab>
        <!-- end-tap-draft -->

        <ng-template #tableTotal let-range="range" let-total>
            แสดง {{range[0]}}-{{range[1]}} จาก ทั้งหมด {{total}} รายการ
        </ng-template>

        <tab>
          <ng-template tabHeading></ng-template>
        </tab>
        <tab>
          <ng-template tabHeading></ng-template>
        </tab>
      </tabset>
      <!-- tapset-end -->


    </div>
  </div>
</div>

<div class="modal fade modal-tabs modal-stack" bsModal #deleteModal="bs-modal" tabindex="-1" role="dialog" [config]="{ show: true, backdrop: false }" (onHidden)="onHidden()" *ngIf="showModalDeleteDraft">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-tab-content clear-bg-color pt-5 pb-5">
            <div class="row mt-5 mb-5">
                <div class="col-12 text-center" [innerHTML]="content">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <button type="button" class="btn btn-red mr-2" (click)="successModal.hide()">
                      ยกเลิก
                    </button>
                    <button type="button" class="btn btn-success mr-2" (click)="removePND()">
                      ตกลง
                  </button>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="modal fade modal-tabs modal-stack" bsModal #successModal="bs-modal" tabindex="-1" role="dialog" [config]="{ show: true, backdrop: false }" (onHidden)="onHidden()" *ngIf="showModalDeleteDraftSucess">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-tab-content clear-bg-color pt-5 pb-5">
            <div class="row mt-5 mb-5">
                <div class="col-12 text-center" [innerHTML]="content">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <button type="button" class="btn btn-primary mr-2" (click)="successModal.hide()">
                        ตกลง
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>
  

  <ng-template #templateUpload>
  <div class="modal-header">
    <h4 class="modal-title pull-left">ข้อมูล</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    {{resultUpload}}<br>
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-success" (click)="modalRef.hide()">ตกลง</button>
   </div>
</ng-template>