<div class="previewdoc">
    <div class="change-ratio">
        <img *ngIf="!!imageBlobUrl && !this.propertiesState['downloading'] && !propertiesState['downloadImgF']" [src]="imageBlobUrl" />
    </div>
    <div *ngIf="propertiesState['downloadImgF']" class="d-flex align-items-center text-center d-flex justify-content-center" style="height: 744px;">
        <button class="btn rounded-circle bg-secondary" style="min-width: unset;"
        (click)="propertiesState['downloadImgF']=false; getThumbnail();">
            <i class="fas fa-redo text-white"></i>
        </button>
    </div>
    <ngx-skeleton-loader *ngIf="(!imageBlobUrl && !propertiesState['downloadImgF']) || this.propertiesState['downloading']" count="25" appearance="line"></ngx-skeleton-loader>
</div>