.header{
    color: #22b10d;
}

::ng-deep body {
    position: absolute !important;
}

.has-error .form-control.ng-invalid, .has-error .input-group .custom-file-label , .has-error .ng-select .ng-select-container {
    border-color: #dc3545;
}

.btn-custom {
    background-color: hsl(135, 100%, 38%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57C649", endColorstr="#32A824");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#57C649), to(#32A824));
    background-image: -moz-linear-gradient(top, #57C649, #32A824);
    background-image: -ms-linear-gradient(top, #57C649, #32A824);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #57C649), color-stop(100%, #32A824));
    background-image: -webkit-linear-gradient(top, #57C649, #32A824);
    background-image: -o-linear-gradient(top, #57C649, #32A824);
    background-image: linear-gradient(#57C649, #32A824);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
  }
  
  .btn-cancel {
    color: #fff;
    background-color: #A8A8A8;
    border-color: #A8A8A8;
  }