<div class="card p-5 m-auto">
  <div class="header">
    ตรวจสอบใบเสร็จ >
  </div>
  <div class="body">
    <form [formGroup]="infoForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="row">
          <div class="form-group col-sm-12 col-md-6" [class.has-error]="infoForm.controls.nid.invalid && (infoForm.controls.nid.dirty || infoForm.controls.nid.touched || formSubmitAttempt)">
              <ef-label [required]="true">เลขประจำตัวผู้เสียภาษี</ef-label>
              <input type="text" class="form-control" formControlName="nid" placeholder="   " />
              <ef-validation-message [control]="infoForm.controls.nid" [submit]="formSubmitAttempt"></ef-validation-message>
          </div>
        
      </div>
      <div class="row">
          <div class="form-group col-sm-12 col-md-6" [class.has-error]="infoForm.controls.refNo.invalid && (infoForm.controls.refNo.dirty || infoForm.controls.refNo.touched || formSubmitAttempt)">
              <ef-label [required]="true">หมายเลขอ้างอิงการยื่นแบบฯ</ef-label>
              <input type="text" class="form-control" formControlName="refNo" placeholder=""/>
              <ef-validation-message [control]="infoForm.controls.refNo" [submit]="formSubmitAttempt"></ef-validation-message>
          </div>
          <div class="form-group col-sm-12 col-md-6" [class.has-error]="infoForm.controls.receiptDate.invalid && (infoForm.controls.receiptDate.dirty || infoForm.controls.receiptDate.touched || formSubmitAttempt)">
              <ef-label [required]="true">วันที่ชำระเงินนำส่ง</ef-label>
              <input type="text" class=" form-control" placeholder="วว/ดด/ปปปป"
              name="endDate" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
              formControlName="receiptDate" #endDate>
              <ef-validation-message [control]="infoForm.controls.receiptDate"  [submit]="formSubmitAttempt"></ef-validation-message>
          </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-12 col-md-6" [class.has-error]="infoForm.controls.receiptNo.invalid && (infoForm.controls.receiptNo.dirty || infoForm.controls.receiptNo.touched || formSubmitAttempt)">
              <ef-label [required]="true">เลขที่ใบเสร็จรับเงิน</ef-label>
              <input type="text" class="form-control" formControlName="receiptNo"  />
              <ef-validation-message [control]="infoForm.controls.receiptNo" [submit]="formSubmitAttempt"></ef-validation-message>
          </div>
          <div class="form-group col-sm-12 col-md-6"  [class.has-error]="infoForm.controls.amount.invalid && (infoForm.controls.amount.dirty || infoForm.controls.amount.touched || formSubmitAttempt)">
              <ef-label [required]="true" >จำนวนเงิน</ef-label>
              <input type="text" class="form-control" formControlName="amount" placeholder="0.00" />
              <ef-validation-message [control]="infoForm.controls.amount" [submit]="formSubmitAttempt"></ef-validation-message>
          </div>
      </div>
      <!-- <div>
          <ngx-recaptcha2 formControlName="recaptcha" (success)="captchaSuccess($event)" (expire)="captchaExpire()" #captcha></ngx-recaptcha2>
      </div> -->
      <div _ngcontent-c8="" class="row mt-5"><div _ngcontent-c8="" class="col-3 offset-3"><button _ngcontent-c8="" class="btn btn-custom shadow-lg w-100" type="submit"> ตรวจสอบ </button></div><div _ngcontent-c8="" class="col-3"><button _ngcontent-c8="" class="btn btn-cancel shadow-lg w-100" type="button" (click)="close()" > ยกเลิก </button></div></div>
    </form>
  </div>
  
</div>