<div class="contentform">
    <div class="header_form">
        <div class="headline">

            <h5 class="d-flex align-middle">
                <img src="assets/images/icon_register.svg"> {{ 'CHECK_REGISTER.CHECK_REQUEST' | translate }}
            </h5>
        </div>
    </div>
    <div class="" style="max-width: none;">
        <div class="control_listform" style="padding-top: 10px">
            <div class="">
                <nz-table #rowSelectionTable nzBordered [nzData]="dataSet" [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th class="text-center">{{'CHECK_REGISTER.TABLE.COLUMN1' | translate}}</th>
                            <th class="text-center">{{'CHECK_REGISTER.TABLE.COLUMN2' | translate}}</th>
                            <th class="text-center">{{'CHECK_REGISTER.TABLE.COLUMN3' | translate}}</th>
                            <th class="text-center">{{'CHECK_REGISTER.TABLE.COLUMN4' | translate}}</th>
                            <th class="text-center">{{'CHECK_REGISTER.TABLE.COLUMN5' | translate}}</th>
                            <th class="text-center">{{'CHECK_REGISTER.TABLE.COLUMN6' | translate}}</th>
                            <th class="text-center">{{'CHECK_REGISTER.TABLE.COLUMN7' | translate}}</th>
                            <!-- <th class="text-center" width="2%"></th> -->
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let data of dataSet">

                            <td class="text-center">{{data.registerNo}}</td>
                            <td class="text-center">{{data.nid| mask : '0-0000-00000-00-0'}}</td>
                            <td class="text-center">{{data.email}}</td>
                            <td class="text-center">{{data.registerDate}}</td>
                            <td class="text-center">{{data.exprieDate}}</td>
                            <td class="text-center">{{data.registerTypeName}}</td>
                            <td class="text-center">
                                
                                <span *ngIf="data.status == 'AG'" class="fa fa-user-check" style="color: green">
                                    {{data.statusNameTh}}
                                </span>
                                <span *ngIf="data.status == 'AA'" class="fa fa-user-check" style="color: green">
                                    {{data.statusNameTh}}
                                </span>
                                <span *ngIf="data.status == 'AC'" class="fa fa-user-check" style="color: green">
                                    {{data.statusNameTh}}
                                </span>
                                <span *ngIf="data.status == 'AP'" class="fa fa-edit" style="color: blue">
                                    {{data.statusNameTh}}
                                </span>
                                <span *ngIf="data.status == 'WA'" class="fa fa-hourglass-half" style="color: peru">
                                    {{data.statusNameTh}}
                                </span>
                                <span *ngIf="data.status == 'NA'" class="fa fa-user-times" style="color: gray">
                                    {{data.statusNameTh}}
                                </span>
                                <span *ngIf="data.status == 'MC'" class="fa fa-user-times" style="color: gray">
                                    {{data.statusNameTh}}
                                </span>
                                <span *ngIf="data.status == 'SC'" class="fa fa-user-times" style="color: gray">
                                    {{data.statusNameTh}}
                                </span>
                                <span *ngIf="data.status == 'EC'" class="fa fa-user-times" style="color: gray">
                                    {{data.statusNameTh}}
                                </span>
                                <span *ngIf="data.status == 'SP'" class="fa fa-user-tie" style="color: green">
                                    {{data.statusNameTh}}
                                </span>
                            </td>

                            <!-- <td><button *ngIf="data.masterRegisterStatus.status == 'AP'" (click)='reSendEmail()'
                                        type="button" class="btn btn-primary">
                                        <h5 translate>CHECK_REGISTER.BUTTON1</h5>
                                    </button>
                                    <button *ngIf="data.masterRegisterStatus.status == 'AG'|| data.masterRegisterStatus.status == 'AA'"
                                        (click)='reSendEmail()' type="button" class="btn btn-primary">
                                        <h5 translate>CHECK_REGISTER.BUTTON1.1</h5>
                                    </button>
                                </td> -->
                        </tr>
                    </tbody>
                </nz-table>
            </div>
            <br>

            <div class="row mb-3">
                <div class="col-3">
                    <button routerLink="/verify-request" class="btn btn-greenborder btn-f10">
                        {{ 'CHECK_REGISTER.BACK_BTN' | translate }}
                    </button>
                </div>

                <div class="col-9 btn-right">
                    <div *ngFor="let data of dataSet">
                        <span *ngIf="data.status == 'AP'">
                            <button (click)='reSendEmail()' type="button" class="btn btn-greenborder btn-f10">
                                {{ 'CHECK_REGISTER.BUTTON1' | translate }}
                            </button>
                            <button type="button" class="btn btn-greenborder btn-f10">
                                {{ 'CHECK_REGISTER.BUTTON2' | translate }}
                            </button>
                        </span>
                        <span *ngIf="data.status == 'AA'">
                            <button type="button" class="btn btn-greenborder btn-f10">
                                {{ 'CHECK_REGISTER.BUTTON2.1' | translate }}
                            </button>
                            <button (click)='reSendEmail()' type="button" class="btn btn-greenborder btn-f10">
                                {{ 'CHECK_REGISTER.BUTTON1.1' | translate }}
                            </button>
                        </span>
                    </div>
                </div>

            </div>

            <!-- <div class="btn_2button">
                <div class="btn-right  justify-content-between">
                    <div *ngFor="let data of dataSet">
                        <span *ngIf="data.status == 'AP'">
                            <button (click)='reSendEmail()' type="button" class="btn btn-greenborder">
                                <h5 translate>CHECK_REGISTER.BUTTON1</h5>
                            </button>
                            <button type="button" class="btn btn-greenborder">
                                <h5 translate>CHECK_REGISTER.BUTTON2</h5>
                            </button>
                        </span>
                        <span *ngIf="data.status == 'AA'">
                            <button type="button" class="btn btn-greenborder">
                                <h5 translate>CHECK_REGISTER.BUTTON2.1</h5>
                            </button>
                            <button (click)='reSendEmail()' type="button" class="btn btn-greenborder">
                                <h5 translate>CHECK_REGISTER.BUTTON1.1</h5>
                            </button>
                        </span>
                    </div>
                </div>
            </div> -->
            <br>

            <div class="form-footer">
                <div class="card f10">
                    <div class="card-body">
                        <div class="row">
                            - <p translate>CHECK_REGISTER.COMMENT</p>
                        </div><br>
    
                        <div class="row">
                            <div class="col-2 ">
                                <i class="fa fa-edit " style="color: blue"> ยื่นคำร้อง</i>
                            </div>
                            <div class="col-8">
                                <p>
                                    หมายถึง ท่านยังไม่ได้ส่งเอกสารยืนยันตัวตน มีเวลา 30 วันนับจากวันที่ยื่นคำร้อง
                                </p>
                                <p style="color: blue">ระบบจัดส่ง เอกสารคำร้องผ่านทางอีเมลที่ท่านระบุไว้กับระบบ
                                    เพื่อใช้ในขั้นตอนการยืนยันตัวต้นกรุณาตรวจสอบ
                                    หากต้องการให้ระบบส่งอีเมลเอกสารคำร้อง (ภ.อ.01 หรือ ภ.อ.09) อีกครั้ง คลิกปุ่ม  "ขอรับแบบคำร้องทางอีเมล"</p>
                                <!-- <span class="btn btn-greenborder btn-f10">
                                    {{ 'CHECK_REGISTER.BUTTON1' | translate }}
                                </span> -->
                            </div>
                        </div><br>
    
                        <div class="row">
                            <div class="col-2 ">
                                <i class="fa fa-hourglass-half" style="color: peru"> ตรวจสอบเอกสาร</i>
        
                            </div>
                            <div class="col-8">
                                <p>หมายถึง ท่านส่งเอกสารยืนยันตัวตนแล้วรอการอนุมัติจากเจ้าหน้าที่</p>
                            </div>
                        </div>
                        <br>
    
                        <div class="row">
                            <div class="col-2 ">
                                <i class="fa fa-user-check" style="color: green"> ได้รับอนุมัติ</i>
                            </div>
                            <div class="col-8">
                                <p>
                                    หมายถึง ท่านได้รับการอนุมัติการลงทะเบียนแล้ว
                                </p>
                                <p style="color: blue">
                                    กรณีลงทะเบียน ท่านต้องกำหนดรหัสผ่านในการเข้าใช้ระบบ ผ่าน Link ที่ระบบส่งให้ทางอีเมลที่
                                    หากต้องการให้ระบบส่งอีเมลแจ้งผลการอนุมัติอีกครั้ง คลิกปุ่ม  "ขอรับอีเมลแจ้งผล"
                                </p>
                                <!-- <span class="btn btn-greenborder btn-f10">
                                    {{ 'CHECK_REGISTER.BUTTON1.1' | translate }}
                                </span> -->
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-2 ">
                                <i class="fa fa-user-check" style="color: green"> อนุมัติปิดบัญชีผู้ใช้งาน</i>
                            </div>
                            <div class="col-8">
                                <p>
                                    หมายถึง ได้รับอนุมัติคำร้องการขอยกเลิกการใช้บริการอิเล็กทรอนิกส์ทั้งหมดของกรมสรรพากร ซึ่งการปิดบัญชีผู้ใช้งานจะมีผลกับผู้ใช้งานที่อยู่ภายใต้บัญชีผู้ใช้งานหลัก (ถ้ามี) ทั้งหมด
                                </p>
                            </div>
                        </div>
                        <br>
    
                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-user-tie" style="color: green"> เปิดใช้งาน</i>
        
                            </div>
                            <div class="col-8">
                                <p>หมายถึง 	ท่านยืนยันการเปิดใช้งานบัญชีผู้ใช้งานเรียบร้อยแล้ว สามารถเข้าใช้งานระบบได้ทันที </p>
                            </div>
                        </div>
                        <br>
    
                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-file-excel" style="color: gray"> ยกเลิกคำร้อง</i>
        
                            </div>
                            <div class="col-8">
                                <p>หมายถึง 	คำร้องของท่านถูกยกเลิก ไม่สามารถใช้งานคำร้องได้ หากต้องการดำเนินการต่อให้ทำการยื่นคำร้องใหม่ </p>
                            </div>
                        </div>
                        <br>
    
                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-user-slash" style="color: gray"> ไม่ได้รับอนุมัติ</i>
        
                            </div>
                            <div class="col-8">
                                <p>หมายถึง	ท่านไม่ได้รับการพิจารณาอนุมัติคำร้อง จากเหตุผลบางประการ เช่น เอกสารไม่ครบถ้วน เป็นต้น หากต้องการดำเนินการต่อให้ทำการยื่นคำร้องใหม่ </p>
                            </div>
                        </div>
                        <br>
    
                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-file-excel" style="color: gray"> คำร้องหมดอายุ</i>
    
                            </div>
                            <div class="col-8">
                                <p>หมายถึง 	คำร้องมีอายุเกิน 30 วัน ไม่สามารถใช้งานคำร้องได้ หากต้องการดำเนินการต่อให้ทำการยื่นคำร้องใหม่ </p>
                            </div>
                        </div>
                        <br>
    
                        <div class="row">
                            <p style="color: red">อีเมลที่ระบบส่งไปอาจจะเข้าไปอยู่ที่ถังขยะในระบบอีเมลของท่าน กรุณาตรวจสอบ</p>
                        </div>
    
                    </div>
                </div>
            </div>
            <br>
            
        </div>

    </div>
</div>