.modal-xl {
  max-width: 60% !important;
}

.text-title {
  color: #10A200;
}

div.tab-bg {
  background: url(../../../../../assets/images/tax/3.jpg) no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn-custom {
  background-color: hsl(135, 100%, 38%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57C649", endColorstr="#32A824");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#57C649), to(#32A824));
  background-image: -moz-linear-gradient(top, #57C649, #32A824);
  background-image: -ms-linear-gradient(top, #57C649, #32A824);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #57C649), color-stop(100%, #32A824));
  background-image: -webkit-linear-gradient(top, #57C649, #32A824);
  background-image: -o-linear-gradient(top, #57C649, #32A824);
  background-image: linear-gradient(#57C649, #32A824);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-cancel {
  color: #fff;
  background-color: #A8A8A8;
  border-color: #A8A8A8;
}

::ng-deep ef-tax div.modal-dialog li.dropdown {
  background-position: 90% 15px !important;
}

// Custom tab
div.clear-bg-color {
  background-color: transparent;
  border: none;
}

::ng-deep ef-tax tabset li.nav-item a {
  background-color: #F5F5F5;
  color: #505050;
}

::ng-deep ef-tax tabset li.nav-item a:not(.active) {
  background-color: #505050;
  color: #F5F5F5;
}

::ng-deep ef-tax tabset div.tab-content {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

::ng-deep .cdk-overlay-container{
  z-index: 1500 !important;
}