<!-- <div [class.has-error]="formGroup.controls[formControlName].invalid && (formGroup.controls[formControlName].dirty || formGroup.controls[formControlName].touched)"> -->
<div [class]="class" [class.has-error]="hasError()">
<!-- <div [class.has-error]="formGroup | hasFieldControlersError: formControlName"> -->
  <ng-content></ng-content>
  <ef-validation-message *ngIf="!nonValidationMessage" [control]="formGroup.controls[formControlName]" [submit]="formSubmitAttempt" [requiredSelect]="requiredSelect"></ef-validation-message>
</div>
