<div class="contentform">

    <div class="header_form">
        <div class="headline">
            <h5 class="d-flex align-middle">
                <img src="assets/images/icon_register.svg"> {{ 'CHECK_REGISTER.CHECK_REQUEST' | translate }}
            </h5>
        </div>
    </div>

    <form class="body_form" [formGroup]="refNoForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="sectionform">
            <div class="control_listform">
                <div class="form-group" id="refNo" #refNoEle mask="0-0000-00000-00-0"
                    [class.has-error]="refNo.invalid && (refNo.dirty || refNo.touched)">
                    <ef-label required="true" translate>
                        ระบุหมายเลขอ้างอิงการยื่นคำร้อง
                    </ef-label>
                    <input type="text" [readonly]="isCaptchaSuccess" class="form-control" formControlName="refNo" />

                    <ef-validation-message [control]="refNo"></ef-validation-message>
                </div>



                <br>
                <div class="row">
                    <div class="col-md-6">
                        <ngx-recaptcha2 [class.has-error]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"
                            *ngIf="isCaptchaShow" [hl]="'th'" formControlName="recaptcha"
                            (success)="captchaSuccess($event)" (expire)="captchaExpire()" #captcha></ngx-recaptcha2>
                    </div>
                </div>
            </div>
            <div class="form-footer btn-center">
                <div class="btn-right  justify-content-between">
                    <button type="button" class="btn btn-greenborder" (click)="clearForm()">ล้างข้อมูล</button>
                    <button type="submit" class="btn btn-green" [disabled]="!this.refNoForm.valid ">
                        ตรวจสอบผล
                    </button>
                </div>
            </div>

        </div>

    </form>

</div>