// ::ng-deep.btn{
//   border-radius: 25px !important;
//   min-width: 170px !important;
// }

::ng-deep.bg {
    // background: url(../../../../../assets/images/bg-taxform-top.png) top center no-repeat;
    background: url(../../../../../assets/images/bg-taxform.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
::ng-deep.header_form .headline h5{
    color:#17AE06 !important;
}
