@import '../scss/_variables.scss';

// ค้นหาขั้นสูง --------------------------------------------------------------------
.advanced-search .ng-select .ng-select-container,
.advanced-search .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
  border: 1px solid #c0efbe !important;
  border-radius: 5px;
  height: 35px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.34902);
}
.advanced-search .form-control{
  border-radius: 5px;
  height: 35px;
  color: #706F72;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #c0efbe;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.34902);
}
