@import '../scss/_variables.scss';

.cmd-icon {
	/* padding-left:5px; */
	padding-right:3px;
	text-align: center;
	/* color: #2c749f; */
}
.cmd-icon span {
	font-size: 14px;
	color: #ffffff;
	padding: 6px 6px;
	width: 30px;
	height: 30px;
	border-radius: 20px 20px;
	margin-right: 1px;
}

.cmd-icon.cmd-view span {
	background-color: #43A85A;
	font-size: 18px;
	/* box-shadow: rgba(233, 233, 233, 0.3) 1px 1px 1px inset;
    border: 1px solid rgba(63, 136, 69, 0.5);
    background-image: linear-gradient(#72bb78, #4faa56, #3f8845); */
}

.cmd-icon.cmd-export span {
	background-color: #0885bb;
	font-size: 18px;
	/* box-shadow: rgba(233, 233, 233, 0.3) 1px 1px 1px inset;
    border: 1px solid rgba(63, 136, 69, 0.5);
    background-image: linear-gradient(#5794af, #0885bb, #0d6388); */
}

.cmd-icon.cmd-edit span {
	background-color: #F09E45;
	font-size: 18px;
	/* box-shadow: rgba(233, 233, 233, 0.3) 1px 1px 1px inset;
    border: 1px solid rgba(188, 125, 42, 0.5);
    background-image: linear-gradient(#efb05d, #eb9c35, #bc7d2a); */
}
.cmd-icon.cmd-edit {
	color: #006633;
}
.cmd-icon.cmd-del span {
	background-color: #D23F40;
	font-size: 18px;
	/* box-shadow: rgba(233, 233, 233, 0.3) 1px 1px 1px inset;
    border: 1px solid rgba(163, 47, 48, 0.5);
    background-image: linear-gradient(#d66263, #cc3b3c, #a32f30); */
}
.cmd-icon.cmd-del {
	color: #cc0033;
}

.cmd-icon.cmd-cancel span {
	background-color: #D23F40;
	font-size: 18px;
	/* box-shadow: rgba(233, 233, 233, 0.3) 1px 1px 1px inset;
	border: 1px solid rgba(128, 128, 128, 0.5);
	background-image: linear-gradient(#c1c1c1, #909090, #5e5e5e); */
}
.cmd-icon.cmd-cancel {
	color: #cc0033;
}

.cmd-icon.cmd-transfer span {
	background-color: #5accff;
	font-size: 18px;
	/* box-shadow: rgba(233, 233, 233, 0.3) 1px 1px 1px inset;
    border: 1px solid rgb(83, 165, 202);
    background-image: linear-gradient(#5accff, #48a2ca, #2e6e8a); */
}
.cmd-icon.cmd-transfer {
	color: #cc0033;
}

.cmd-icon.cmd-print span {
	background-color: #040066;
	font-size: 18px;
}
.cmd-icon.cmd-print {
	color: #040066;
}
.cmd-icon.cmd-edit-pw span {
	background-color: #797979;
	font-size: 18px;
}
.cmd-icon.cmd-edit-pw {
	color: #797979;
}
.cmd-icon.cmd-blue span {
	background-color: #F09E45;
	font-size: 18px;
	/* box-shadow: rgba(233, 233, 233, 0.3) 1px 1px 1px inset;
    border: 1px solid rgba(54, 105, 152, 0.5);
    background-image: linear-gradient(#699ccb, #4383be, #366998); */
}





.icon-payment{
  display: inline-block;
  top: 8px;
  position: relative;
}
.icon-payment:before{
  content: '';
  display: block;
  background: url(../images/icon-paymentonline.svg) no-repeat;
  background-size: 100%;
  width: 23px;
  height: 25px;
  margin-top: -3px;
  margin-left: -2px;
}

// IE
//icon --------------------------------------------------------------------

.icon-home1 {
  position: absolute; /* 'absolute' in the .input-group-addon context */
}
.icon-home1:before {
  content: '';
  display: block;
  width: 25px;
  height: 30px;
  background: url(../images/tabs-w8forpay.svg) no-repeat;
  background-size: 100%;
}
.tab-content-quote.active .nav-link.active .nav-content .icon-home1:before
{
  content: '';
  display: block;
  width: 25px;
  height: 30px;
  background: url(../images/tabs-w8forpay-at.svg) no-repeat;
  background-size: 100%;
}
.icon-home2 {
  position: absolute; /* 'absolute' in the .input-group-addon context */
}
.icon-home2:before {
  content: '';
  display: block;
  width: 20px;
  height: 30px;
  background: url(../images/tabs-trackingstatus.svg) no-repeat;
  background-size: 100%;
}
.tab-content-quote.active .nav-link.active .nav-content .icon-home2:before
{
  content: '';
  display: block;
  width: 20px;
  height: 30px;
  background: url(../images/tabs-trackingstatus-at.svg) no-repeat;
  background-size: 100%;
}
.icon-home3 {
  position: absolute; /* 'absolute' in the .input-group-addon context */
}
.icon-home3:before {
  content: '';
  display: block;
  width: 28px;
  height: 30px;
  background: url(../images/tabs-checkrefund.svg) no-repeat;
  background-size: 100%;
}
.tab-content-quote.active .nav-link.active .nav-content .icon-home3:before
{
  content: '';
  display: block;
  width: 28px;
  height: 30px;
  background: url(../images/tabs-checkrefund-at.svg) no-repeat;
  background-size: 100%;
}
.icon-home4 {
  position: absolute; /* 'absolute' in the .input-group-addon context */
}
.icon-home4:before {
  content: '';
  display: block;
  width: 20px;
  height: 30px;
  background: url(../images/tabs-draftdoc.svg) no-repeat;
  background-size: 100%;
}
.tab-content-quote.active .nav-link.active .nav-content .icon-home4:before
{
  content: '';
  display: block;
  width: 20px;
  height: 30px;
  background: url(../images/tabs-draftdoc-at.svg) no-repeat;
  background-size: 100%;
}
