@import '../scss/_variables.scss';

.bold{
  // font-weight: bold !important;
  font-family: 'KanitRegular';
  color: #484848;
}
.green-font{
  color: $green-font !important;
}
.gray-font{
  color: $gray-font !important;
}
.red-font{
  color: $red-font !important;
}
.green-bg{
  background: $green-font !important;
}
.gray-bg{
  background: #f5f5f5 !important;
}
.font-normal{
  font-family: 'KanitLight';
}

.shadow-lg {
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.body{
  color: #4f4f4f;
}
.container-fluid{
  max-width: 1500px;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
 .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-primary.dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
}
a:hover, a:focus {
  text-decoration: none;
}
.border-cover{
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}


.box-header .navbar-nav>li>a{
  font-size: 14px;
}
.footermenu ul li a, .footermenu > div{
  font-size: 14px;
}
.footermenu h3 {
  font-size: 18px;
  line-height: 10px;
  margin-bottom: 15px;
}

.box_viewpassword .btn{
  min-width: auto;
}
