@import 'variables';
@import 'insite-page';
@import 'pnd9091';

@import '~bootstrap/dist/css/bootstrap.css';
@import '../css/bs3to4polyfill.css';

@import '../css/global.css';
@import '../css/style.css';
@import '../css/simple-sidebar.css';
@import '../fonts/fonts.css';
@import '../css/responsive.css';
@import '../css/insitepage-login.css';
@import '../css/responsive-login.css';
@import '../css/custom.css';


@import '../source_datepicker/bootstrap-datepicker3.css';
@import '../source_jpushmenu/jpushmenu.css';
@import '../source_scrollbar/jquery.scrollbar.css';


@import '~angular-tree-component/dist/angular-tree-component.css';

@import '../scss/filing-card.scss';
@import '../scss/schedule-card.scss';
@import '../scss/override.scss';
@import '../scss/advanced-search.scss';
@import '../scss/btn.scss';
@import '../scss/modal.scss';
@import '../scss/dashboard.scss';
@import '../scss/box-card.scss';
@import '../scss/tax.scss';
@import '../scss/tab.scss';
@import '../scss/table.scss';
@import '../scss/icon.scss';
@import '../scss/form-component.scss';
@import '../scss/tree.scss';


@import "~ng-snotify/styles/material";
// @import "~ng-snotify/styles/simple";

@import '../css/loading.css';

.pointer {
    cursor: pointer;
}


.bs-datepicker-head bs-datepicker-navigation-view {
    display: flex;
    justify-content: space-between;
}

.has-error .form-control.ng-invalid,
.has-error.ng-invalid .form-control,
.ng-invalid .has-error .form-control,
.has-error .form-control.ng-invalid:focus,
.has-error.ng-invalid .form-control:focus,
.ng-invalid .has-error .form-control:focus,
.has-error .form-control,
.has-error .form-control:focus {
    border-color: $form-color-error;
}

.has-error .custom-control-input.ng-invalid~.custom-control-label {
    color: $form-color-error;
}

.custom-control-label {
    line-height: 24px;
}

ngx-recaptcha2.has-error iframe {
    border: 1px solid $form-color-error;
}

ngx-recaptcha2 {
    display: block;
    height: 78px;
    margin-bottom: 35px;
}

.has-error .custom-control-input.ng-invalid~.custom-control-label, .has-error .custom-control-input.ng-invalid~.custom-control-label {
    color: #CB0606;
}

.has-error .custom-control-input.ng-invalid~.custom-control-label::before, .has-error .custom-control-input.ng-invalid~.custom-control-label::before {
    background-color: #efa2a9;
}

.laser-id-popover .popover-content {
    min-width: 274px;
    min-height: 173px;
}

.menu-pop {
    min-width: 430px !important;
    min-height: 616px;
    padding: 15px;
}

.menu-pop ul li{
    float: left;
    width: 33.333333%;
    text-align:center;
    height: 80px;
    margin-bottom: 30px;
}
.menu-pop a img{
    max-height: 50px;
    margin-bottom: 10px;
}

.menu-pop a.menu03 img{
    padding-top: 18px;
}

.menu-pop a{
    font-size: 15px;
    line-height: 18px;
    color: #706F72;
    display: block;
}

.menu-pop a:hover{
    color: #59C84B;
}

.menu-pop a span{
    display: block;
}
.menu-pop hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #e0e0e0;
}

.input-loading {
    background-image: url(../images/loading.gif);
    background-size: 25px 25px;
    background-position: 99% center;
    background-repeat: no-repeat;
}

.input-check {
    background-image: url(../images/checked.png);
    background-size: 25px 25px;
    background-position: 99% center;
    background-repeat: no-repeat;
}

.input-false {
    background-image: url(../images/false.png);
    background-size: 25px 25px;
    background-position: 99% center;
    background-repeat: no-repeat;
}


.dropdown {
    border: none;
    background-image: url(../images/arrow_down_gray.svg);
    background-repeat: no-repeat;
    background-position: 99% 10px;
    background-size: auto 8px;
    min-width: 100px;
    display: block;
    background-color: transparent;
    padding: 0 10px 0 5px;
}

.dropdown-toggle::after {
    border: none;
}

.popup_tooltip {
    width: 293px;
    height: 163px;
}

.popup_tooltip.laser-id {
    width: 309px;
    height: 185px;
}

.popup_tooltip.password {
    width: 293px;
    height: 241px;
}

.popup_tooltip .tooltip-inner {
    background: none;
    color: #333;
}

.popup_tooltip .bg_tooltip {
    min-height: inherit;
}

.popup_tooltip .arrow::before {
    top: -3px;
    border-top-color: #e1e1e1 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    color: $form-color-focus;
}

.popup_alert .modal-header .close,
.popup_policy .modal-header .close {
    z-index: 99;
}

.popup_alert .modal-header img.modal-close,
.popup_policy .modal-header img.modal-close{
    position: absolute;
    width: 33px;
    top: 0;
    right: 0;
}

.has-error .ng-select .ng-select-container,
.has-error .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border-color: $form-color-error !important;
  // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}


.validation-message {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-radio .validation-message {
    margin-left: 1.5rem;
    font-size: 100%;
}

.modal-stack {
    background: rgba(0, 0, 0, 0.5);
}

.cdk-overlay-container{
    z-index: 1500 !important;
}

input[bsdatepicker].form-control {
    padding-right: 30px;
    background-image: url(../images/icon-calendar.svg);
    background-size: 18px 18px;
    background-position: right 10px center;
    background-repeat: no-repeat;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.sticky-footer{
    position: sticky;
    bottom: 0;
    padding-bottom: 20px;
    background: #fff;
}

.filing-pnd52-draft-tab{
    .txtLabel{
        font-weight: 700;
        margin-right: 10px;
        font-size: 14px;
    }
    .txtValue{
        font-weight: 400;
        font-size: 14px;
    }
    .header{
        padding-bottom: 10px;
    }
    .search-container{
        background: rgba(242, 242, 242, 1);
        border: 1px solid rgba(242, 242, 242, 1);
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 10px;

        .search-header{
            .txtLabel{
                font-size: 14px;
            }
        }
        .search-content{
            font-size: 14px;

            .txtLabel{
                line-height: 35px;
                padding-right: 7.5px;
                margin-right: 0px;
            }

            .btn{
                min-width: unset;
            }

            input{
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
            }

            .input-group-text{
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
                font-size: 14px;
            }
        }
    }
    .icon-footer{
        font-size: 14px;
        padding-top: 10px;
        span{
            display: block;
            padding-bottom: 10px;
        }

        i{
            margin:0px 5px;
        }
    }

    .arrow-box {
        position: relative;
        background: #6cbf57;
    }
    .arrow-box:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        z-index: 99;
    }
    .arrow-box:before {
        border-color: rgba(194, 225, 245, 0);
        border-top-color: #6cbf57;
        border-width: 20px;
        margin-left: -20px;
    }

    // Utilities
    .m-left-15{
        margin-left: 15px;
    }
    .p-left-7-5{
        padding-left: 7.5px;
    }
    .p-right-7-5{
        padding-right: 7.5px;
    }
    .bg-orange-color{
        background-color: rgba(255, 102, 0, 1);
    }
    .f-white-color{
        color: #fff;
    }
}

.form-control-search{
    border: 1px solid #c0efbe;
    border-radius: 5px;
    height: 35px;
}

.snotifyToast .no-icon {
    margin-right: -50px;
}

.snotifyToast__body {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.snotifyToast .awesome-icon {
    line-height: 1;
}

.snotify {
    width: 350px;
}

.snotifyToast__inner {
    padding-top: 15px;
    padding-bottom: 15px;
}

.popover {
    font-family: 'KanitLight';
}
