@import '../scss/_variables.scss';

.tab-content-quote {
    &.nav-item {
        margin-left: 1px;
    }
    &.active {
        .nav-link.active {
            background-color: #79C85E;
            border-radius: 5px 5px 0 0;
            color: #fff;

            .nav-item,
            .nav-content {
                color: #fff;
                img {
                    filter: brightness(200%);
                }
            }
        }
    }

    .nav-link{
        border: 0;
        border-radius: 5px 5px 0 0;
        background-color: #EBEBEB;
        // Style duplication vary by how element is construct
        // TODO: Merge element pattern
        color: #7A7A7A;
        font-size: 14px;

        .nav-item,
        .nav-content {
            display: flex;
            color: #7A7A7A;

            p {
              font-size: 14px;
              line-height: 28px;
              margin-left: 10px;
            }
            img {
              height: 30px;

            }
        }
    }
    .card {
        border: 0;
        border-radius: 0;
    }
  }


.tab-content-quote .nav-link, .tab-content-quote.active .nav-link.active{
border-radius: 10px 10px 0 0;
height: 47px;
line-height: 28px;
padding: 10px;
}
.tab-content-quote .nav-link .nav-item p, .tab-content-quote .nav-link .nav-content p{
    margin-left: 35px;
}
.tab-content-quote .nav-link .nav-content{
  padding-left: 10px;
  padding-right: 10px;
}
.tab-content-quote .nav-link .nav-content i{
  font-size: 28px;
  top: 9px;
}
