@import '../scss/_variables.scss';

//table -------------------------------------------------------------------------
.ant-table-tbody{
  background: #ffffff;
}
.table thead th,.ant-table-thead>tr>th{
  border: none;
  background: #e8ffe5;
  font-weight: bold;
  color: #505050;
  text-align: center;
}
.table th, .table td{
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  text-align: center;
  vertical-align: middle;
}
.table{
  border-bottom: 1px solid #e8e8e8;
}
.ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
 .ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td,
  .ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
   .ant-table-thead>tr:hover:not(.ant-table-expanded-row)>td{
  background: #e8e8e8;
  box-shadow: 0 5px 10px rgba(156, 156, 156, 0.4);
  border-bottom: 2px solid #eaeaea;
}

// root-table --------------------------------------------------------------------
.root-table .table-striped tbody tr{
  background: #ffffff !important;
}
.root-table .sub-table{
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 0px;
  padding-bottom: 15px;
}
.root-table .sub-table .ant-table-thead > tr > th{
  background: #e0e0e0 !important;
  border-radius: 0  !important;
}
.root-table .table-striped tbody tr:nth-child(4n+1){
  background: rgba(0, 0, 0, 0.05) !important;
}
.root-table .sub-table i{
  position: absolute;
  left: -23px;
  top: 13px;
  color: #cecece;
}
// .root-table .sub-table nz-spin{
//   box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.17);
//   border: 1px solid #dcdcdc;
// }
.root-table .sub-table td:last-child {
    border-right: none;
}
.root-table .row .table-striped tbody .row-active{
  background: #e0e0e0 !important;
}
.root-table .sub-table td{
  border: none;
}
.root-table .sub-table .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td{
  box-shadow: none;
}
.root-table .sub-table nz-spin{
  border: none;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.17);
}
.root-table .sub-table::before{
  border-bottom: 10px solid #f2f2f2;
}


// .sub-table::before{
//   width: 0px;
//   height: 0px;
//   border-bottom: 10px solid #e0e0e0;
//   border-right: 8px solid transparent;
//   border-top: 10px solid transparent;
//   border-left: 8px solid transparent;
//   display: flex;
//   right: -95%;
//   position: relative;
//   top: 0;
//   z-index: 99;
// }
.root-table .sub-table nz-spin{
  margin-top: -6px;
  // border: 1px solid #e0e0e0;
  box-shadow: none;
}
.root-table .sub-table{
  padding-bottom: 5px;
}
.root-table .sub-table td{
  background: #ffffff;
  padding: 20px;
  vertical-align: baseline;

  background: #e0e0e0;
  border-top: 2px solid #ffffff;
}
.root-table .sub-table tr:hover.ant-table-row.ng-star-inserted  > td{
  background: #e0e0e0!important;
  border-bottom: none;
}



.sum-cover{
  border-radius: 5px;
  padding: 20px;
  background: #f4f4f4;
  font-size: 18px;
  font-weight: bold;
}
.sum-cover .h3 {
  font-size: 20px;
}

.icon-footer {
    font-size: 14px;
    padding-top: 10px;
}
