<form [formGroup]="formPnd1">
  <div class="control-taxform" *ngIf="taxBreadcrumbService.stepper | async as stepper">
    <div class="item-topright" *ngIf="!isStepTaxSummary"><span (click)="onExit()">ออกจากหน้าจอ</span><img src="assets/images/icon-close-gray.svg" alt=""></div>
    <div *ngIf="stepper != 1">
    <div class="item-topleft" *ngIf="!isStepTaxSummary"><a (click)="onBackStep()"><img src="assets/images/icon-back-gray.svg" alt=""><span>กลับ</span></a></div>
    </div>
    <div class="header-taxform" *ngIf="!isStepTaxSummary">
      <h1>แบบยื่นรายการภาษีเงินได้หัก ณ ที่ จ่าย</h1>
      <h2>ภ.ง.ด.1</h2>
      <h5>สำหรับเดือนภาษี {{month | month}} {{year}}</h5>
    </div>

    <ef-tax-breadcrumb *ngIf="!isStepTaxSummary"></ef-tax-breadcrumb>

    <div class="col-12" *ngIf="!isStepTaxSummary">
      <!-- step 1 -->
      <pnd1-step1 *ngIf="stepper == 1" [formPnd1]="formPnd1" [listFilingNo]="listFilingNo" [filingNo]="filingNo"></pnd1-step1>

      <!-- step 2 -->
      <pnd1-step2 *ngIf="stepper == 2" [formPnd1]="formPnd1" [formInputPnd1]="formInputPnd1" (onClickPrintDraft)="onClickPrintDraft($event)"></pnd1-step2>

      <!-- step 3 -->
      <pnd1-step3 *ngIf="stepper == 3" [formPnd1]="formPnd1" [pdfSrc]="pdfSrc" [calculateRecordForm]="calculateRecordForm"></pnd1-step3>
    </div>

    <div *ngIf="!viewPdf">
    <div class="btn-center" *ngIf="!isStepTaxSummary">
      <button *ngIf="stepper == 3" type="button" name="button" class="btn btn-border-gray btn-print" [disabled]="checkButton1 === true" (click)="genPreviewPdf('D')">พิมพ์แบบร่าง</button>
      <button type="button" name="button" class="btn btn-greenborder" [disabled]="checkButton2 === true" (click)="showModalSaveDraft()">บันทึกร่าง</button>
      <button *ngIf="stepper != 3" type="button" name="button" class="btn btn-green" (click)="onNextStep()">ถัดไป</button>
      <button *ngIf="stepper == 3" type="button" name="button" class="btn btn-green" [disabled]="checkButton3 === true" (click)="genPreviewPdf('C')">ตกลงยื่นแบบ</button>
    </div>
    </div>
    <div *ngIf="!isStepTaxSummary">
    <div class="btn-center" *ngIf="viewPdf">
      <!-- <button type="button" class="btn btn-border-gray btn-print"  (click)="genPreviewPdf('D')">พิมพ์แบบร่าง</button> -->
      <button type="button" class="btn btn-greenborder" (click)="cancelPdf()">กลับไปหน้าสรุปภาษี</button>
      <button type="button" class="btn btn-primary" [disabled]="checkButton4 === true"  (click)="savePnd1()">ยืนยันการยื่นแบบ</button>
   </div>
   </div>

   <!-- <div *ngIf="stepper == 4">
      <ef-pnd1-step4 [formPnd1]="formPnd1" [resultRecordForm]="resultRecordForm"></ef-pnd1-step4>
      <div class="btn-center">
        <button type="button" class="btn btn-greenborder" (click)="submitExit()">ไปยังหน้าจอยื่นแบบ</button>
          <button type="button" class="btn btn-primary" (click)="genPdf('N')">พิมพ์แบบเพื่อตรวจสอบ</button>
          <button type="button" class="btn btn-primary">พิมพ์ภาพแบบ/ภาพใบเสร็จ</button>
      </div>
    </div> -->

    <div class="content-taxsummary" *ngIf="isStepTaxSummary">
      <div class="container">
        <div class="control-taxsummary">
          <div class="row" *ngFor="let item of resultRecordForm; let i = index">
            <div class="col-sm-6 nopaddingright">
              <div class="taxsummary-left">
                <h3>แบบแสดงรายการ<br>ภาษีเงินได้หัก ณ ที่จ่าย ภ.ง.ด. 1</h3>
                <h4>ประจำเดือนภาษี {{month | month}} {{year}}</h4>
                <div class="icon-sum-success"><img src="assets/images/icon-sucess.svg" alt=""></div>
                <div class="text-sum01">กรมสรรพากรได้รับข้อมูลตามแบบ ภ.ง.ด. 1<br>ของท่านเรียบร้อยแล้ว</div>
                <div *ngIf="item.totalFlag === 1" class="text-sum02">แต่ยังไม่ถือว่าท่านได้ยื่นแบบฯ จนกว่าท่านจะได้ชำระเงินภาษีเต็มตามจำนวนที่ท่านได้ยื่นรายการไว้</div>
                <div *ngIf="item.totalFlag !== 1" class="text-sum02">กรุณาพิมพ์แบบเพื่อเก็บไว้เป็นหลักฐาน</div>
              </div>
              <!--end taxsummary-left-->
            </div>
            <div class="col-sm-6 nopaddingleft">
              <div class="taxsummary-right">
                <h4>เลขประจำตัวผู้เสียภาษีอากร {{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.id13 | mask:'0-0000-00000-00-0'}}</h4>
                <h5>ชื่อ {{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.name}}</h5>
                <h3>หมายเลขอ้างอิงการยื่นแบบ</h3>
                <div class="box-number">{{item.refNo}}</div>
                <div class="box-sum-total">
                  <span>ยอดเงินที่ต้องชำระทั้งสิ้น</span>
                    <strong *ngIf="item.totalFlag !== 1" style="margin-left: 3%">0 บาท</strong>
                    <strong *ngIf="item.totalFlag === 1" style="margin-left: 3%">{{ item.taxAmount | number: '1.2-2'}} บาท</strong>
                </div>
                <div class="box-sum-status">
                  <span>สถานะการยื่นแบบ</span>
                  <strong>“{{item.filingStatusDesc}}”</strong>
                </div>
                <div class="box-sum-warning" *ngIf="item.totalFlag === 1">(โปรดชำระภายในวันที่ {{item.duedate | toDate:'YYYY-MM-DD' | dateLocalTh: ['long']}})</div>
                <div class="btn-center">
                  <button type="button" name="button" class="btn btn-greenborder" (click)="printResult('C')">พิมพ์แบบฯ เพื่อตรวจสอบ</button>
                  <button *ngIf="item.totalFlag !== 1"type="button" name="button" class="btn btn-greenborder" (click)="onPrintToCheck()">พิมพ์ภาพแบบ/ภาพใบเสร็จ</button>
                  <button *ngIf="item.totalFlag === 1" type="button" name="button" class="btn btn-green" (click)="onPayTax()">ชำระภาษี</button>
                </div>
                <div class="box-text-underline"><a (click)="onExit()">ไปยังหน้าจอยื่นแบบ</a></div>
              </div>
              <!--end taxsummary-right-->
            </div>
          </div>
        </div>
        <!--end control-taxsummary-->
      </div>
      <!--end container-->
    </div>
    <!--end content-taxsummary-->
  </div>
</form>

<ng-template #templateExit>
  <div class="modal-body text-center">
    {{msgExit}}<br>
  </div>
  <div class="modal-footer btn-center">
    <button type="button" class="btn btn-success" (click)="submitExit()">ยืนยัน</button>
    <button type="button" class="btn btn-red float-center" (click)="modalExit.hide()">ยกเลิก</button>
  </div>
</ng-template>

<ng-template #templateDraft>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{alertHeader}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalDraft.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    {{msgBody}}<br>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-red float-center" (click)="modalDraft.hide()">ยกเลิก</button>
     <button type="button" class="btn btn-success" (click)="onSaveDraft(templateResultDraft)">ยืนยัน</button>
   </div>
</ng-template>

<ng-template #templateResultDraft>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{alertHeader}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalResultDraft.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    {{msgBody}}<br>
    หมายเลขอ้างอิงแบบร่าง:{{draftNo}}<br>
    วันเวลาที่บันทึกแบบร่าง:9/04/2562 16:00:00
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-success" (click)="modalResultDraft.hide()">ตกลง</button>
   </div>
</ng-template>

<div class="modal fade modal-tabs modal-stack" bsModal #successModal="bs-modal" tabindex="-1" role="dialog" [config]="{ show: true, backdrop: false }" (onHidden)="onHidden()" *ngIf="showModalSaveDeaft">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-tab-content clear-bg-color pt-5 pb-5">
          <div class="row mt-5 mb-5">
              <div class="col-12 text-center" [innerHTML]="content">
              </div>
          </div>
          <div class="row text-center">
              <div class="col-12">
                  <button type="button" class="btn btn-red mr-2" (click)="successModal.hide()">
                    ยกเลิก
                  </button>
                  <button type="button" class="btn btn-success mr-2" (click)="onSaveDraft()">
                    ตกลง
                </button>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade modal-tabs modal-stack" bsModal #successModal="bs-modal" tabindex="-1" role="dialog" [config]="{ show: true, backdrop: false }" (onHidden)="onHidden()" *ngIf="showModal">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-tab-content clear-bg-color pt-5 pb-5">
          <div class="row mt-5 mb-5">
              <div class="col-12 text-center" [innerHTML]="content">
              </div>
          </div>
          <div class="row text-center">
              <div class="col-12">
                  <button type="button" class="btn btn-primary mr-2" (click)="successModal.hide()">
                      ตกลง
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" bsModal #exitModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">ต้องการออกจากหน้าจอการยื่นแบบ? </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="exitModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button type="button" class="btn btn-secondary mr-2" (click)="exitModal.hide()">ยกเลิก</button>
                        <button type="button" class="btn btn-primary" (click)="submitExit()">ออกจากหน้าจอ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
