<header>
    <div class="box-header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img src="assets/images/logo.svg" width="170px"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- <div class="usermobile view-mobile">
                <ef-user></ef-user>
            </div> -->
            <ul class="nav navbar-nav fix-nav-padding">
                <li *ngFor="let menu of menuList" class="nav-item" [class.active]="menu.isActive" [class.dropdown]="menu.children">
                    <a *ngIf="!menu.children" class="nav-link" [class.text-danger]="menu.menuId === 999999" (click)="onSelectedMenu(menu)">
                      {{ menu.menuNameTh }}
                    </a>

                    <!-- FIXME: Children menu ?-->
                    <a *ngIf="menu.children" class="nav-link dropdown-toggle" attr.id="m{{menu.menuId}}" [class.text-danger]="menu.menuId === 999999" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ menu.menuNameTh }}
                    </a>
                    <div *ngIf="menu.children" class="dropdown-menu" attr.aria-labelledby="m{{menu.menuId}}">
                      <a class="dropdown-item" *ngFor="let child of menu.children" [class.text-danger]="menu.menuId === 999999" (click)="onSelectedMenu(child)">
                        {{ child.menuNameTh }}
                      </a>
                    </div>
                    <!-- <div *ngIf="menu.children" class="dropdown pointer dropdown-lang" dropdown>
                      <div class="dropdown-toggle align-middle mt-2" dropdownToggle role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <ng-container>
                          {{ menu.menuNameTh }}
                        </ng-container>
                      </div>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
                        <div *ngFor="let childrenMenu of menu.children" class="dropdown-item pointer" (click)="onSelectedMenu(childrenMenu)">
                          {{ childrenMenu.menuNameTh }}
                        </div>
                      </div>
                    </div> -->
                  </li>
            </ul>
            <div class="nav navbar-nav navbar-right">
              <ef-lang></ef-lang>
              <ef-user></ef-user>
            </div>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
    </div><!--end box-header-->
</header>
