.toolbar {
    background-color: #fff;
    height: auto;
    box-shadow: 0 4px 2px -2px #EEE;
}

.dropdown {
    background-image: none;
    &.open {
        .dropdown-menu {
            position: absolute;
            display: block;
        }
    }
    .dropdown-menu {
        width: auto;
    }
}