.nav-tax {
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 5;
}
:host {
    display: block;
    position: relative;
}
.scrollspy-trigger {
    position: absolute;
    top: -60px;
    bottom: -60px;
    left: 0px;
    right: 0px;
    pointer-events: none;
  }
