<div class="nav-tax">
    <div class="container-fluid">
        <nav class="nav nav-pills nav-fill" snScrollSpy>
            <a snScrollSpyItem class="nav-item nav-link nav-tax-item"
                *ngFor="let menu of taxMenu" [href]="'#menu' + menu.formGroupID" (click)="scrollTo('menu' + menu.formGroupID)">
                <span class="ico-payment"></span>
                <p>{{ menu.formGroupDesc }}</p>
            </a>
        </nav>
    </div>
</div>

<div class="container-fluid" style="margin-top: 205px; margin-bottom: 205px;">
    <div class="row" *ngFor="let menu of taxMenu">
        <div class="col-12 card-groupp">
            <sn-scroll-spy-section [id]="'menu' + menu.formGroupID" [attr.id]="'menu' + menu.formGroupID"></sn-scroll-spy-section>
            <div class="row">
                <div class="col-1 text-right">
                    <div class="card-img">
                        <img src="assets/images/tabs-w8forpay.svg" />
                    </div>
                </div>
                <div class="col-11 align-self-center">
                    <h4 class="card-title">{{ menu.formGroupDesc }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-11 offset-1 card-col-xl">
                    <ef-tax-filing-card [taxFilingList]="menu.formCodeList" [taxMenu]="menu"></ef-tax-filing-card>
                </div>
            </div>
        </div>
    </div>
</div>

<ef-tax-filing-card-modal [taxMenu]="taxMenu"></ef-tax-filing-card-modal>
