<div class="modal fade" bsModal #successModal="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content py-3 clear-bg-color">
      <div class="row mb-2">
        <div class="col-12 text-center">
          <h4 class="modal-title pull-left">
            {{ msgBody }}
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-primary" (click)="successModal.hide()">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>