@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSansRegular.eot');
    src: url('OpenSansRegular.eot') format('embedded-opentype'),
         url('OpenSansRegular.woff2') format('woff2'),
         url('OpenSansRegular.woff') format('woff'),
         url('OpenSansRegular.ttf') format('truetype'),
         url('OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'KanitLight';
    src: url('KanitLight.eot');
    src: url('KanitLight.eot') format('embedded-opentype'),
         url('KanitLight.woff2') format('woff2'),
         url('KanitLight.woff') format('woff'),
         url('KanitLight.ttf') format('truetype'),
         url('KanitLight.svg#KanitLight') format('svg');
}
@font-face {
    font-family: 'KanitRegular';
    src: url('KanitRegular.eot');
    src: url('KanitRegular.eot') format('embedded-opentype'),
         url('KanitRegular.woff2') format('woff2'),
         url('KanitRegular.woff') format('woff'),
         url('KanitRegular.ttf') format('truetype'),
         url('KanitRegular.svg#KanitRegular') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('RobotoRegular.eot');
    src: url('RobotoRegular.eot') format('embedded-opentype'),
         url('RobotoRegular.woff2') format('woff2'),
         url('RobotoRegular.woff') format('woff'),
         url('RobotoRegular.ttf') format('truetype'),
         url('RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'KanitBold';
    src: url('KanitBold.eot');
    src: url('KanitBold.eot') format('embedded-opentype'),
         url('KanitBold.woff2') format('woff2'),
         url('KanitBold.woff') format('woff'),
         url('KanitBold.ttf') format('truetype'),
         url('KanitBold.svg#KanitBold') format('svg');
}
@font-face {
    font-family: 'thaisanslite_r1';
    src: url('thaisanslite_r1.eot');
    src: url('thaisanslite_r1.eot') format('embedded-opentype'),
         url('thaisanslite_r1.woff2') format('woff2'),
         url('thaisanslite_r1.woff') format('woff'),
         url('thaisanslite_r1.ttf') format('truetype'),
         url('thaisanslite_r1.svg#thaisanslite_r1') format('svg');
}
