
.disbtn {
    border-left: 2px solid gray;
    // font-size: 25px;
    margin-left: 2%;
}

.input{
    margin-left: -10%;
}

.forminput{
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}