<div class="card p-5 m-auto" [hidden]='!isSuccess'>
  <div class="content-header text-right">
    รหัสการตรวจสอบ: <span class="verify-id">{{data}}</span> {{currentDate  | date:'dd/MM/yyyy hh:mm:ss'}}
  </div>
  <div class="row receipt-body">
    <div class="col-3 text-center">
      <img class="correct-icon" src="/assets/images/check-circle.png" />
      <div class="caption-text">ตรวจสอบรายการสำเร็จ</div>
    </div>
    <div class="col-9">
      <div class="row pb-3">
        <div class="col-3">เลขที่ใบเสร็จ</div>
        <div class="col-9 data">: {{data.receiptNo}}</div>
      </div>
      <div class="row pb-3">
        <div class="col-3">จำนวนเงิน</div>
        <div class="col-9 data">: {{data.totalAmount|currency}}</div>
      </div>
      <div class="row pb-3">
        <div class="col-3">ประเภทใบเสร็จรับเงิน</div>
        <div class="col-9 data">: {{data.receiptTypeNameTh}}</div>
      </div>
      <hr class="w-100-p">
      <div class="row pb-3">
        <div class="col-3">เลขประจำตัวผู้เสียภาษีอากร</div>
        <div class="col-3 data">: {{data.nid}}</div>
        <div class="col-3">เลขที่สาขา</div>
        <div class="col-3 data">: {{data.branchNo}}</div>
      </div>
      <div class="row pb-3">
        <div class="col-3">ชื่อผู้เสียภาษี</div>
        <div class="col-9 data">: {{data.firstName}} {{data.lastName}}</div>
      </div>
      <div class="row pb-3">
        <div class="col-3">ประเภทแบบแสดงรายการ</div>
        <div class="col-9 data">: {{data.formType}}</div>
      </div>
      <div class="row pb-3">
        <div class="col-3">หมายเลขอ้างอิงการยื่นแบบ</div>
        <div class="col-9 data">: {{data.filingRefNo}}</div>
      </div>
      <div class="row pb-3">
        <div class="col-3">วันที่ชำระเงิน/นำส่ง</div>
        <div class="col-9 data">: {{data.receiptDate|wsDateShow}}</div>
      </div>
      <div class="row pb-3">
        <div class="col-3">เดือน/ปีภาษี</div>
        <div class="col-9 data">: {{data.taxMonth}}/{{(taxYear)}}</div>
      </div>
    </div>
  </div>
  <div class="w-100 text-center">
    <button type="button" class="btn btn-secondary close-btn" (click)="closeModal()">ปิด</button>
  </div>
</div>


<div class="card p-5 m-auto " [hidden]='isSuccess||!isEnable'>
  <div class="text-center notFoundDiv">
    <img class="correct-icon" src="/assets/images/check-circle.png" />
    <div class="caption-text-notfound">ไม่พบรายการใบเสร็จ</div>
  </div>
  <div class="w-100 text-canter">
    <button type="button" class="btn btn-secondary close-btn" (click)="closeModal()">ปิด</button>
  </div>
</div>


<ng-template #modalTemplate>
  <div class="modal-header">
    <h4 class="modal-title center">กรุณาระบุเลขที่ใบเสร็จรับเงิน</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-sm-12 col-md-12">
        <ef-label class="col-md-5">เลขที่ใบเสร็จรับเงิน</ef-label>
        <input class="col-md-12" type="text" class="form-control" maxlength="11" minlength="11" [(ngModel)]="recieptNo" name="recieptNo" ref-textarea />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col text-right">
        <button type="button" class="btn btn-outline-success w-100" (click)="submitReceiptNo(recieptNo)">ตกลง</button>
      </div>
      <div class="col text-left">
        <button type="button" class="btn btn-close w-100" (click)="closeModal()">ปิด</button>
      </div>
    </div>
  </div>
</ng-template>