.correct-icon {
    max-width: 140px;
    margin: auto;
    width: 100%;
}
button {
    max-width: 120px;
    &.close-btn {
        position: relative;
        left: 50%;
        transform: translatex(-50%);
        width: 100%;
    }
}
.verify-id{
    color: #22b10d;
}
.caption-text{
    color: #22b10d;
    font-size: 20px;
}
.caption-text-notfound{
    color: #dc3545;
    font-size: 20px;
}
.receipt-body{
    margin-top: 50px;
}

.data{
    color: black;
}

.notFoundDiv{
    min-height: 300px;
}