<div class="top-lang">
  <div class="">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="true">
      <ng-container *ngIf="lang == 'th'">
        <img src="assets/images/flag_thai.svg" alt="logo" /> ภาษาไทย
      </ng-container>
      <ng-container *ngIf="lang == 'en'">
        <img src="assets/images/flage_eng.svg" alt="logo" /> English
      </ng-container>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a (click)="toggleLang('th')"><img src="assets/images/flag_thai.svg" alt="">ภาษาไทย</a></li>
      <li><a (click)="toggleLang('en')"><img src="assets/images/flage_eng.svg" alt="">English</a></li>
    </ul>
  </div>
</div>
