.form-group-inline {
    // overflow: hidden;
    margin-bottom: 10px;
    margin-bottom: 10px;
    .label-inline {
        vertical-align: middle;
        margin-top: 8px;
        margin-top: 8px;
    }
    .input-inline {
        display: block;
    }
}

.box-condition-tr:hover  {
    .btn-condition {
        display:block;
    } 
    .title-condition {
        display:none;
    }     
}

.box-condition-tr  {
    .btn-condition {
        display:none;
    } 
    .title-condition {
        display:block;
    }     
}

.table-summarys {
    background-color: #80df83;
    font-size: 15px;
    line-height: 17px;
    padding: 15px 10px 15px 35px;
    color: #fff;
    text-shadow: 0 2px 0px rgba(0,0,0,0.16);
    -webkit-text-shadow: 0 2px 0px rgba(0,0,0,0.16);
    -o-text-shadow: 0 2px 0px rgba(0,0,0,0.16);
    -moz-text-shadow: 0 2px 0px rgba(0,0,0,0.16);
    position: relative;
}