<div class="modal fade" bsModal #exitModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content py-3 clear-bg-color">
            <div class="row mb-2">
                <div class="col-12 text-center">
                    <h4 class="modal-title pull-left">
                        คุณต้องการออกจากหน้าจอโดยไม่บันทึกข้อมูลใช่หรือไม่
                    </h4>
                </div>
            </div>
            <div class="row mb-3 mt-2">
                <div class="col-12 text-center">
                    หากท่านเลือก “ออกจากหน้าจอ” โดยไม่ได้บันทึกร่าง <br/> ระบบจะออกจากหน้าจอโดยที่ไม่บันทึกข้อมูล
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-primary" (click)="exit()">ออกจากหน้าจอ</button>
                </div>
                <div class="col-6 text-left">
                    <button type="button" class="btn btn-outline-primary mr-2"
                        (click)="exitModal.hide()">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>