<div class="content-taxdata">
  <div class="container">
    <div class="content-taxdata-in">
      <div class="topright-data-update">
        <div>ปรับปรุงข้อมูลล่าสุด ณ วันที่ 10 ตุลาคม 2561 เวลา 18.00 น.</div>
        <button type="button" name="button" class="btn btn-update" (click)="onRefreshData()">ปรับปรุงข้อมูล</button>
      </div>
      <div class="set-boxviewdata">
        <h3>ข้อมูลผู้มีหน้าที่หักภาษี ณ ที่จ่าย (หน่วยงาน)</h3>
        <div class="boxviewdata-in">
          <div class="row">
            <div class="col-sm-6">
              <div class="box-viewdata">
                <strong>เลขประจำตัวผู้เสียภาษีอากร:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.id13 | mask: '0-00000-0000-00-0'}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-sm-6">
              <div class="box-viewdata">
                <strong>ชื่อ:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.name}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-sm-6">
              <div class="box-viewdata">
                <strong>ประเภทสาขา:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.branchTypeName}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-sm-6">
              <div class="box-viewdata">
                <strong>สาขาที่:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.branchNo}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
          </div>
        </div>
        <!--end boxviewdata-in-->
      </div>
      <!--end  set-boxviewdata-->
      <div class="set-boxviewdata">
        <h3>ที่อยู่</h3>
        <div class="boxviewdata-in">
          <div class="row">
        <div class="col-4">
            <div class="box-viewdata">
              <strong>อาคาร:</strong>
              <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.building}}</span>
            </div>
            <!--end box-viewdata-->
          </div>
          <div class="col-4">
              <div class="box-viewdata">
                <strong>ห้องเลขที่:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.roomNo}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-4">
                <div class="box-viewdata">
                  <strong>ชั้นที่:</strong>
                  <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.floorNo}}</span>
                </div>
                <!--end box-viewdata-->
              </div>
            <div class="col-4">
              <div class="box-viewdata">
                <strong>หมู่บ้าน:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.village}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-4">
              <div class="box-viewdata">
                <strong>เลขที่:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.houseNo}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-4">
              <div class="box-viewdata">
                <strong>หมู่ที่:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.moo}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-4">
              <div class="box-viewdata">
                <strong>ตรอก/ซอย:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.soi}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-4">
                <div class="box-viewdata">
                  <strong>แยก:</strong>
                  <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.junction}}</span>
                </div>
                <!--end box-viewdata-->
              </div>
            <div class="col-4">
              <div class="box-viewdata">
                <strong>ถนน:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.road}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-4">
              <div class="box-viewdata">
                <strong>ตำบล/เขต:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.subdistrict}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-4">
              <div class="box-viewdata">
                <strong>อำเภอ/เขต:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.district}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-4">
              <div class="box-viewdata">
                <strong>จังหวัด:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.province}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-4">
              <div class="box-viewdata">
                <strong>รหัสไปรษณีย์:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.address.postCode}}</span>
              </div>
              <!--end box-viewdata-->
            </div>

          </div>
        </div>
        <!--end boxviewdata-in-->
      </div>
      <!--end  set-boxviewdata-->
      <form [formGroup]="step1Form" novalidate (ngSubmit)="step1FormSubmit()" autocomplete="off">
        <div class="set-boxviewdata" [formGroup]="formPnd1">
          <div [formGroupName]="'pnd1CompleteForm'">
            <div [formGroupName]="'formDetail'">
              <div [formGroupName]="'taxDetail'">
                <h3>รายละเอียดการยื่นแบบ</h3>
                <div class="boxviewdataform-in">
                  <div class="box-viewdata-date">
                    <div class="row">
                      <div class="col-12">
                        <div class="box-viewdata">
                          <strong>ปีภาษี:</strong>
                          <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.year}}</span>
                          <strong>เดือน:</strong>
                          <span>{{monthDisplay.nameLocal}}</span>
                        </div>
                        <!--end box-viewdata-->
                      </div>
                    </div>
                  </div>
                  <!--end box-viewdata-date-->
                  <div class="box-formcheck">
                    <div class="row">
                      <div class="col-2">
                        <p>ลำดับการยื่นแบบ:</p>
                        <!--end box_checkradio-->
                      </div>
                      <div class="col-3">
                        <div class="box-checkradio">
                          <input class="magic-radio" type="radio" [formControlName]="'filingType'" [value]=0>
                          <label for="check01">ยื่นปกติ</label>
                        </div>
                        <!--end box_checkradio-->
                      </div>
                      <div class="col-4">
                        <div class="box-checkradio addother">
                          <input class="magic-radio" type="radio" [formControlName]="'filingType'" [value]=1>
                          <label for="check02">ยื่นเพิ่มเติม</label>
                        </div>
                        <!--end box_checkradio-->
                        <div class="box-check-other addother" *ngIf="formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.filingType == 1">
                          <div class="t-title-other request">ครั้งที่<span>*</span>:</div>
                          <div class="form-other">
                            <input type="number" class="form-control no-spin" [formControlName]="'filingNo'" (focus)="FilingNo()">
                          </div>
                        </div>
                        <!--end box-check-other-->
                         <ef-validation-message [nonBackgroundImage]="true" *ngIf="filingNo === 0" style="text-align: center;" [control]="formPnd1.get('pnd1CompleteForm.formDetail.taxDetail.filingNo')" [submit]="formSubmitAttempt"></ef-validation-message>
                         <div style="text-align: center;background-image:none">
                            <span *ngIf="filingNo === 1" style="background-image:none" class="mes_error">{{massage_error}}</span>
                         </div>
                      </div>
                    </div>
                  </div>
                  <!--end box-formcheck-->
                </div>
                <!--end boxviewdataform-in-->
              </div>
            </div>
          </div>
        </div>
        <!--end  set-boxviewdata-->
      </form>
      <!--end  set-boxviewdata-->
    </div>
    <!--end content-taxdata-in-->
  </div>
  <!--end container-->
</div>
<!--end content-taxdata-->
