@charset "utf-8";
/* ------ reset.css * Resets default browser CSS.---------- */
html {
  margin:0;
  padding:0;
  border:0;
}
body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {
    display:block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  float:none !important;
}
table, th, td {
  vertical-align: middle;
}
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
:focus { outline: 0; }
a:focus ,a:hover{
    outline: none;
    outline-offset: 0;
}
ul{ list-style: none;}
.clearleft{ clear: left;}
/* end reset */
body{
  font-family: 'KanitRegular';
  background-color: #F8F8F8;
  color: #000;
  position: relative;
	}
a,button{
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
	text-decoration:none;
	 }
a:hover, a:focus {
	text-decoration:none;
  cursor: pointer;
		}
h1{ font-size:36px;}
h2{ font-size:30px;}
h3{ font-size:24px;}
h4{ font-size:20px; line-height: 25px;}
h5{ font-size:15px;}
.nopadding{
	padding:0;
	}
.nopaddingright{
	padding-right:0;
	}
.nopaddingleft{
	padding-left:0;
	}
.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 4px 12px;
    font-size:15px;
    line-height: 20px;
    color:#000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #DFDFDF;
    border-radius: 2px;;
    -webkit-box-shadow:none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
.form-control::-webkit-input-placeholder { color: #A8A8A8}
.form-control:-moz-placeholder { /* Firefox 18- */ color: #A8A8A8  }
.form-control::-moz-placeholder {  /* Firefox 19+ */ color:#A8A8A8  }
.form-control:-ms-input-placeholder {  color: #A8A8A8  }
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: thin dotted;
    outline:none;
    outline-offset:none;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: #DFDFDF;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
	}
#wrapper.toggled #sidebar-wrapper {
    width: 45px !important;
    overflow: visible;
}
#wrapper.toggled .sidebar-nav li{width: 45px;}
#wrapper.toggled .has-submenu ul{
  display: none !important;
}
#wrapper.toggled .sidebar-nav.nav>li>a{ padding-left: 0; padding-right: 0; background-image: none;}
.sidebar-nav{
  font-size: 15px;
  line-height: 15px;
}
.sidebar-nav > .sidebar-brand{
  color: #17AE06;
  }
.sidebar-nav > .sidebar-brand a.icon-berger{
  padding: 0;
  border: none;
  margin: 0;
  position: absolute;
  right: 15px;
  top: 20px;
  width: 20px;
  background-color: transparent;
}
.sidebar-nav > .sidebar-brand a.icon-berger span{
  width: 20px;
  height: 3px;
  background-color: #505050;
  display: block !important;
  margin-bottom: 4px;
}
.sidebar-nav li a img{
  height: 20px;
  display: inline-block;
  position:absolute;
  top: 8px;
  left: 13px;
  margin-right: 3px;
}
.sidebar-nav.nav>li>a{
  color: #000;
  font-size: 15px;
  line-height: 20px;
  }
.sidebar-nav.nav>li>a:hover {
    text-decoration: none;
    color: #000;
    background-color:#8EDC84;
}
#wrapper  .sidebar-nav li{
  text-indent: 0;
  background-color: #fff;
  margin-bottom: 10px;
}
#wrapper .sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 15px;
    line-height: 15px;
    margin: 0;
}
#wrapper #sidebar-wrapper{
  background-color: #F8F8F8;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.sidebar-nav.nav>li>a{
    padding: 10px 35px 10px 50px;
    min-height: 40px;
    position: relative;
}
#wrapper .sidebar-nav > .sidebar-brand{
  padding: 10px 15px 5px 14px;
  position: relative;
  background-color: transparent;
  height: 40px;
}
#wrapper .sidebar-nav li.sidebar-brand:first-child{
  padding-top: 20px;
  height: 50px;
}
#wrapper .sidebar-nav > .sidebar-brand span{
  padding-left: 10px;
  position: relative;
}
#wrapper .sidebar-nav > .sidebar-brand > span::after{
  position:absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 15px;
  background-color: #17AE06;
  content: '';
}
.sidebar-nav.nav>li>a span{
  display: inline-block;
}
#wrapper.toggled .sidebar-nav > .sidebar-brand > span,
#wrapper.toggled .sidebar-nav.nav> li > a > span,
#wrapper.toggled .sidebar-brand.headcate{
  display: none;
}
#wrapper.toggled .sidebar-nav > .sidebar-brand a.icon-berger{
  left: 12px;
  right: auto;
  -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;

}
.sidebar-nav.nav>li.sidebar-brand a:hover{
    background-color: #F8F8F8;
}
.sidebar-nav.nav>li.has-submenu > a{
  background-position: right 0;
  background-repeat: no-repeat;
  background-image: url(../images/bg-dropdown-gray.png);
  background-color: #fff;

}
.sidebar-nav.nav>li.has-submenu li a{
  background-position: 33px 18px;
  background-repeat: no-repeat;
  background-image: url(../images/i-bullet-gray.png);
  color: #7A7A7A;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 40px 10px 50px;
  background-repeat: no-repeat;
}
.sidebar-nav.nav>li.has-submenu li a:hover{
  background-repeat: no-repeat;
  background-color: #8EDC84;
  color: #000;
  background-image: url(../images/i-bullet-black.png);
}
.sidebar-nav.nav>li.has-submenu a:hover{
  background-color: #8EDC84;
  color: #000;
}
.sidebar-nav.nav li.active a{
  background-color: #8EDC84;
  color: #000;
}
#wrapper .sidebar-nav li.has-submenu li{
  margin: 0;
  line-height: 0;
}
.box-header .navbar-brand > img{
  height: 50px;
}
.box-header .navbar-brand {
  padding: 0 15px;
}
.box-header{
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
#wrapper{
  padding-top: 70px;
}
.box-header  .navbar{
  border: none;
  min-height: 70px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  margin: 0;
  padding: 10px 0;
  background-color: transparent;
  z-index: 100;
}
.box-header .navbar-nav>li{
  padding: 15px 13px;
}
.box-header .navbar-nav>li>a{
  font-size: 16px;
  line-height: 20px;
  color:#5F5E60;
  padding: 0 ;
  background-position: right 9px;
  background-repeat: no-repeat;
}
.box-header .navbar-nav>li.dropdown>a{
  background-image: url(../images/bg-menu-gray.png);
}
.box-header .navbar-default .navbar-nav>.active>a,
.box-header .navbar-default .navbar-nav>.active>a:focus,
.box-header .navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent;
  color: #59C84B;
}
.box-header .navbar-nav>li.dropdown>a:focus,
.box-header .navbar-nav>li.dropdown>a:hover,
.box-header .navbar-nav>li.dropdown.active>a{
  background-image: url(../images/bg-menu-green.png);
  color: #59C84B;
}
.content{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  min-height: 100px;
  margin-top: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #fff;
  margin-bottom: 50px;
}
.top-user{
  background-color: #F1F1F1;
  padding: 10px;
  border-radius: 5px;
  min-width: 245px;
  min-height: 50px;
  margin-left: 20px;
  font-size: 12px;
  line-height: 15px;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.10);
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.10);
  -o-box-shadow: 1px 1px 0 rgba(0,0,0,0.10);
  -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.10);
}
.top-user.in{
  background-color: #fff;
  padding: 0;
  border-radius: 5px;
  min-width: 230px;
  min-height: 50px;
  margin-left: 20px;
  font-size: 12px;
  line-height: 15px;
  color: #7A7A7A;
  font-family: 'KanitLight';
  background-image: url(../images/arrow_down_gray.svg);
  background-repeat: no-repeat;
  background-position: right 21px;
  background-size: auto 8px;
  padding-right: 20px;
  padding-top: 3px;
  box-shadow:none;
  -webkit-box-shadow: none;
  -o-box-shadow:none;
  -moz-box-shadow:none;
}
.top-user.in span{
  display: block;
}
.box-header .navbar-right  > div{
  float:left;
}
.top-user-login > img{
  height: 12px;
  position: relative;
  top: 2px;
}
.top-user-login  span > img{
  margin-left: 10px;
  height: 5px;
  position: relative;
  top: -1px;
}
.top-user-login{
  color: #22B10D;
  margin-top: 6px;
  cursor: pointer;
}
.top-user-name{
margin-right: 15px;
}
.top-user-name span{
  display: block;
  color: #7A7A7A;
}
.top-user > div{
  float: left;
}
#box-usermanage{
  width: 275px;
  height: 85px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(../images/bg-manage.png);
  position: absolute;
  bottom: -66px;
  right: -6px;
  display: none;
  color: #22B10D;
  font-size: 15px;
  line-height: 15px;
  padding-top: 34px;
  text-align: center;
  }
#box-usermanage img{
  height: 12px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
#box-usermanage .btn{
  background-color: transparent;
  padding: 0;
  border: none;
  color: #22B10D;
}
.box-header .navbar-nav>li>a img{
  height: 6px;
  margin-left: 10px;
  position: relative;
  top: -2px;
}
.box-header ul.nav.navbar-nav{
  padding-left: 20px;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
  background-color: transparent;
  color: #59C84B;
}
.dropdown-menu{
  width: 250px;
  height: auto;
  margin: 0;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  padding: 0;
}

.dropdown-menu > li > a{
  font-size: 14px;
  line-height: 22px;
  padding: 10px 14px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a:hover {
 text-decoration: none;
 background-color: #8EDC84;
}
.dropdown-menu li.dropdown-submenu >a{
  background-position: right 0;
  background-repeat: no-repeat;
  background-image: url(../images/bg-dropdown01.png);
}
.dropdown-menu li.dropdown-submenu >a:hover{
  background-image: url(../images/bg-dropdown02.png);
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
button.od-FieldRenderer-dot {
  display: block;
  position: relative;
  padding: 12px;
  border: none;
  background-color: transparent;
  color: inherit;
}
button.od-FieldRenderer-dot:hover {
  background-color: #cfcfcf;
  color: #333333;
}
/* css magic check */
.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 25px;
  cursor: pointer;
  vertical-align: middle;
  color: #5F5E60;
  font-size: 14px;
  line-height: 14px;
}
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;

    display: inline-block;

    content: '';
    border: 1px solid #C4C4C4;
    box-shadow: 0 2px 0 rgba(0,0,0,0.16);
    -webkit-box-shadow:0 2px 0 rgba(0,0,0,0.16);
    -o-box-shadow: 0 2px 0 rgba(0,0,0,0.16);
    -moz-box-shadow:0 2px 0 rgba(0,0,0,0.16);
    background-color: #fff;
  }
  .magic-radio + label:before{
    width: 15px;
    height: 15px;
    top: -2px;
    left: 0;
  }
  .magic-checkbox + label:before {
    width: 18px;
    height: 18px;
    top: -2px;
    left: 0;
  }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #C4C4C4;
    animation-name: none; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.magic-radio + label:before {
  border-radius: 50%; }

.magic-radio + label:after {
  top: 2px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #53B847;
}

.magic-radio:checked + label:before {
  border: 1px solid #C4C4C4; }

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #2a6bde; }

.magic-radio:checked[disabled] + label:after {
  background: #2a6bde; }

.magic-checkbox + label:before {
  border-radius: 3px; }

.magic-checkbox + label:after {
  top: 0px;
  left: 6px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 3px;
  border-style: solid;
  border-color: #22B10D;
  border-top: 0;
  border-left: 0; }

.magic-checkbox:checked + label:before {
  background: #fff;
}

.magic-checkbox:checked[disabled] + label:before {
  border: #C4C4C4;
  background: #fff;
}
.box-magicinline{
  display: inline-block;
  margin-right: 20px;
}
/* end css megic check */
@media (min-width: 768px) {
 ul.nav li:hover > ul.dropdown-menu {
   display: block;
 }
}
/* css scrollbar */
/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}/* update */
.box-header .navbar-default .navbar-toggle{
  border: none;
  margin-top: 12px;
  margin-right: 0;
  margin-bottom: 15px;
  padding: 0;
}
.box-header .navbar-default .navbar-toggle:hover,
.box-header .navbar-default .navbar-toggle:focus{
    background-color:transparent;
}
.box-header .navbar-toggle .icon-bar{
    width: 27px;
    height: 2px;
    margin-top: 5px;
}
.box-header .navbar-default .navbar-toggle .icon-bar {
    background-color: #505050;
}
.box-header .navbar-toggle .icon-bar{
    border-radius:0;
}
.view-mobile{
  display: none;
}
.headline{
  font-size: 20px;
  line-height: 20px;
  color: #17AE06;
  margin-bottom: 20px;
}
.headline span::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 20px;
    background-color: #17AE06;
    content: '';
}
.headline span {
    padding-left: 15px;
    position: relative;
}
.top-lang{
    font-family: 'KanitLight';
    font-size: 16px;
    margin-top: 5px;
}
.top-lang .dropdown-menu {
    width: 120px;
    padding: 0;
    border: none;
    border-radius: 0;
    min-width: 120px;
}
.top-lang .dropdown-menu>li>a {
    border: none;
    padding: 0 5px 8px 5px;
    line-height: 16px;
    font-size: 16px;
}
.top-lang .btn {
    border: none;
    background-image: url(../images/arrow_down_gray.svg);
    background-repeat: no-repeat;
    background-position: right 16px;
    background-size: auto 8px;
    min-width: 120px;
    display: block;
    background-color: transparent;
    padding: 0 20px 0 5px;
    text-align: left;
}
.top-lang img {
    height: 25px;
    position: relative;
    top: 7px;
    border-radius: 100%;
    margin-right: 5px;
}
.top-lang img {
   height: 25px;
   position: relative;
   top: 7px;
   margin-right: 5px;
}
