@charset "utf-8";
 .btn.btn-green {
	background-image: url(../images/bg_btn_green.png);
}
.btn.btn-green:hover,
.btn.btn-green:focus {
	background-size: cover;
	background-image: url(../images/bg_btn_gray.svg);
}
.content_login {
	position: fixed;
	width: 100%;
	height: 100%;
}
.bg_login {
	background: url(../images/login/bg_sigup_body.jpg) top center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.bg_login img {
	width: 100%;
	height: 100%;
}
.box_viewpassword {
	position: absolute;
	line-height: 0;
	bottom: 10px;
	right: 0;
	width: 21px;
	height: 13px;
	cursor: pointer;
}
.box_viewpassword .btn {
	padding: 0;
	border: 0;
	line-height: 0;
	background-color: transparent;
}
.box_viewpassword img {
	height: 13px;
}
.control_login {
	position: relative;
	z-index: 100;
	max-width: 900px;
	height: 100%;
	margin: 0 auto;
}
.control_login .bg_right {
	background: url(../images/bg_sigup.png) center no-repeat;
	background-size: cover;
	height: 576px;
	width: 909px;
	margin: 0 auto;
	-webkit-box-shadow: 10px 10px 16px 2px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 10px 10px 16px 2px rgba(0, 0, 0, 0.16);
	box-shadow: 10px 10px 16px 2px rgba(0, 0, 0, 0.16);
}
.control_login .column {
	padding: 0;
}
.control_login .box-midden {
	height: 100vh;
}
.control_login .text-midden {
	text-align: left;
}
.login_left,
.login_right {
	height: 575px;
}
.login_left {
	position: relative;
}
.login_left_hd {
	padding: 0px 20px 0 0px;
	float: right;
}
.login_left h2,
.login_left h5 {
	position: relative;
	z-index: 10;
}
.login_left_hd h2 {
	color: #17AE06;
	font-size: 40px;
	line-height: 35px;
	margin-bottom: 5px;
}
.login_left_hd h5 {
	color: #17AE06;
	font-size: 22px;
	line-height: 35px;
}
.logo_login {
	padding-top: 50px;
	line-height: 0;
	padding-left: 70px;
	margin-bottom: 50px;
}
.form_login.sectionform_login {
	padding-left: 40px;
}
.logo_login img {
	height: 45px;
}
.login_right {
	padding: 35px 35px;
}
.sectionform_login .control-label {
	font-size: 15px;
	line-height: 15px;
	font-family: 'KanitLight';
	color: #706F72;
}
.sectionform_login .form-group .t_idcard + .form-control[disabled],
.sectionform_login .form-group .t_idcard + .form-control[readonly] {
	color: #BBB;
}
.sectionform_login .form-control {
	border: none;
	font-size: 17px;
	line-height: 21px;
	color: #5F5E60;
	padding: 5px 0 7px 0;
	border-bottom: 1px solid rgba(112, 112, 112, 0.2);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 17px;
}
.sectionform_login .formpassword .form-control {
	letter-spacing: 0.05cm;
	font-size: 20px;
}
.sectionform_login .form-group {
	margin-bottom: 25px;
	position: relative;
}
.login_forgot,
.boxinput_login {
	position: relative;
	padding-left: 45px;
}
.input_login_status {
	position: absolute;
	left: 0;
	top: 10px;
}
.input_login_status span {
	display: block;
	width: 28px;
	height: 28px;
	border-radius: 100%;
	background-color: #fff;
	box-shadow: 0 1px 6px #B7B7B7;
	line-height: 0;
	padding: 8px 3px;
	text-align: center;
}
.input_login_status img {
	height: 12px;
}
.box_user img {
	height: 16px;
}
.box_user {
	position: absolute;
	right: 2px;
	bottom: 10px;
	line-height: 0;
	max-width: 15px;
}
.login_forgot {
	margin-bottom: 10px;
}
.login_forgot a {
	display: inline-block;
	color: #000000;
	font-size: 15px;
	line-height: 15px;
	font-family: 'KanitLight';
}
.t_login a:hover,
.login_forgot a:hover {
	color: #5DA801;
}
.login_btn {
	text-align: left;
	padding-left: 45px;
}
.login_btn .btn.btn-green {
	font-size: 18px;
	margin-top: 10px;
	line-height: 27px;
	font-family: 'KanitLight';
	padding: 7px 10px;
	min-width: 140px;
	height: 40px;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
	background: #59CC4C;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.login_btn .btn.btn-green:hover {
	background-color: #706F72;
	background-image: none;
}
.t_login img {
	height: 28px;
	margin-right: 17px;
	position: relative;
	top: 8px;
}
.t_login {
	margin-bottom: 5px;
}
.t_login a {
	width: 100%;
	display: inline-block;
	font-size: 15px;
	line-height: 15px;
	font-family: 'KanitLight';
	color: #000;
}
.login_manage {
	margin-top: 30px;
}
.sectionform_login .form-control:focus {
	border-color: #53B847;
	border-width: 2px;
}
.logintext01 a:hover {
	color: #7ed11a;
}
.logintext02 a:hover {
	color: #00bbb5;
}
.logintext03 a:hover {
	color: #00d377;
}
.t_login span {
	margin-top: 15px;
	display: inline-block;
}

div.inline_login {
  display: flex;
  flex-wrap: wrap;
}

/* home.css */
.columns{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  display: block;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  padding: .75rem;
}

.box-midden {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
}

.text-midden {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
/* end home.css */

.has-error-login {
	margin-bottom: 25px;
}

.error-message {
	margin-bottom: 20px;
}
