@charset "utf-8";
@media (max-width: 991px) {
	.control_login {
		width: 90%;
	}
	.bg_login img {
		width: auto;
		height: 100%;
	}
}

@media (max-width: 911px) {
	.login_right {
		padding: 35px 10px;
	}
	.login_left_hd {
		padding: 0px;
	}
}

@media (max-width: 767px) {
	.logo_login {
		padding-top: 0;
		padding-left: 0;
		text-align: center;
	}
	.login_right {
		display: none;
	}
	.login_left {
		padding: 35px 20px;
	}
	.sectionform_login .form-control {
		background-color: transparent;
	}
	.input_login_status,
	.box_viewpassword img,
	.box_user img {
		display: none;
	}
	.login_btn,
	.form_login.sectionform_login {
		padding-left: 0px;
	}
	.boxinput_login,
	.login_forgot {
		padding-left: 0;
	}
	.control_login .bg_right {
		width: 100%;
		height: auto;
		margin: 0 auto;
		background-size: 100% 100%;
	}
}

@media (max-height: 650px) {
	.control_login {
		height: 100%;
	}
	.logo_login {
		margin-bottom: 30px;
	}
}

@media (min-height: 768px) {
	.control_login {
		max-width: 969px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	.control_login .column {
		padding: 20px 0;
	}
	.login_left {
		height: auto;
	}
}

/* ----------- iPhone X landscape----------- */
@media only screen and (min-device-width: 812px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
	.control_login .bg_right {
		width: 100%;
	}
	.control_login {
		padding: 20px 0;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.control_login .bg_right {
		width: 100%;
	}
	.bg_login {
		background-size: 100% 100%;
	}
}
