@charset "utf-8";
@media (max-width: 1920px) and (min-width: 1440px){
  /* css dashboard */

}
@media (max-width: 1366px){
  /* css dashboard */
  .wrapper-dashboard .container-fluid{  padding: 0 30px;}
}
@media (max-width: 1360px){
  .box-menu{    padding: 22px 5px;}
}
@media (max-width: 1300px){
  .text-menu{ font-size: 14px;}
  .box-menu-subcate ul li{ padding-left: 20px;}
  .box-header .navbar-nav>li{ padding: 15px 8px;}
  /* css dashboard */
}
@media (max-width: 1200px){
  .box-header .navbar-nav>li {padding: 15px 8px;}
  .box-header .navbar-brand > img { height: 45px;}
  .text-menu{ height: 45px;}
  .icon-menu{ margin-bottom: 15px;}
  .box-menu-cate span{  vertical-align: top;}
  .calendar-listmonth{ width: 15%;}
  .box-header .navbar-nav>li {  padding: 15px 5px;}
  /* .box-header .navbar-nav>li>a{ padding-right: 5px;} */
  .box-header .navbar-nav>li>a{ padding-right: 0;}
  .box-header ul.nav.navbar-nav{ padding-left: 15px;}
  .body-information .box-table .table>tbody>tr>td {font-size: 16px;line-height: 16px;}
  .box-view{ font-size: 16px;}
  .box-viewinformation .box-search > .row > .col-md-2:first-child{  width: 19%;}
  .box-viewinformation .box-search > .row > .col-md-8{width: 64%;}
  .box-viewinformation .box-search > .row > .col-md-2{  width: 15%;}
  .box-header .navbar-brand > img {  height: 43px;  padding-top: 5px;}
  .top-user.in{ margin-left: 10px;}
  .box-sum-total,.taxsummary-right h3{ font-size: 21px;}
  .control-taxsummary .btn.btn-greenborder,.box-sum-status{ margin-bottom: 10px;}
  .taxsummary-left, .taxsummary-right {  padding: 30px;}

  .box-header .navbar-brand{width:180px;}
  .top-user.in,.top-lang{ margin-left: 5px;}

   /* 12-04-19 */
   /* css dashboard */
   .box-viewdata strong{ margin-right: 5px;}
   .content-taxdata{ padding: 0 15px;}
   .content-taxdata .container,.content-tabmain .container{max-width: 1140px; width: 100%;}
   .width200{ width: 200px;}
   .formaddress .width380{ width: 360px;}
   .formaddress .box-form-infomation .form-group .box-input {  margin-right: 15px;}
}
@media (max-width: 1100px){
  .box-header ul.nav.navbar-nav {  padding-left: 0px;}
  .box-header .navbar-brand{ padding-top: 0;}
  /* .box-header .navbar-brand{ padding-top: 5px;} */
  .box-header .navbar-brand > img {  height: 40px;}
  .box-header .navbar-nav>li {padding: 15px 3px;}
  /* .box-header .navbar-nav>li {padding: 15px 5px;} */
  .top-user{ margin-left: 10px;}
  .box-menu-subcate ul li{ padding-left: 15px;}
  .box-header .navbar-nav>li>a{ font-size: 14px;}
  /* css dashboard */
}
@media (max-width: 1024px){
  .top-lang .btn{min-width: 110px;}
  .box-header .navbar-nav>li>a{ font-size: 15px;}

  /* 12-04-19 */
  .box-header .navbar-brand > img{ height: 35px; }
  /* css dashboard */
  .t-item02{ font-size: 25px;}
  .dashboard-control-tab .r-tabs .r-tabs-tab{ min-width: 160px;}
  .dashboard-control-tab .r-tabs .r-tabs-nav .r-tabs-anchor{ font-size: 13px; text-align: left;}
  .dashboard-control-tab .r-tabs-anchor span {  background-position: 8px center;  background-size: auto 20px;  padding: 15px 0 0 30px;}
  .content-taxdata .container{ padding: 30px 20px;}
  .box-viewdata{ font-size: 15px;}
  .box-form-infomation .form-group .box-input{ margin-right: 15px;}
  .width200{ width: 180px;}
  .width250{ width: 220px;}
  .formaddress .width380{ width: 280px;}
  .formaddress .width260 {  width: 210px;}
  .formaddress .width180 {width: 200px;}
  .body-tab-control{ padding: 20px;}
}
@media (max-width: 991px){
  .navbar-header { float: none; }
  .navbar-toggle {display: block;}
  .navbar-collapse {border-top: 1px solid transparent;  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
  .navbar-collapse.collapse {display: none!important;  }
  .navbar-nav {  float: none!important;  margin: 7.5px -15px;}
  .navbar-nav>li {  float: none;  }
  .navbar-nav>li>a {  padding-top: 10px;padding-bottom: 10px;}
  .navbar-collapse.collapse.in {  /* NEW */  display: block!important;}
  .view-desktop,.sidebar-brand.view-desktop,.top-lang,.top-user.in{ display: none;}
  .view-mobile{ display: block;}
  .top-notice{
    position: fixed;
    z-index: 100;
    top: 8px;
    right: 60px;
    }
  .control-content .container {width: 100%; padding: 0;}
  .sidebar-brand.view-mobile{
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 100;
    background-color: #5F5E60;
    top: 70px;
  }
  .sidebar-brand.view-mobile a.icon-berger span {
    width: 20px;
    height: 3px;
    background-color: #505050;
    display: block !important;
    margin-bottom: 4px;
  }
  .sidebar-brand.view-mobile a.icon-berger {
    padding: 0;
    border: none;
    margin: 0;
    position: absolute;
    right: auto;
    left: 15px;
    top: 18px;
    width: 27px;
    background-color: transparent;}
    .usermobile.view-mobile{ margin: 0 15px;}
    #wrapper {padding-left: 0; padding-top: 0;}
    #sidebar-wrapper {width: 0;  }
    #wrapper.toggled #sidebar-wrapper {width: 100% !important;  background-color: rgba(0, 0, 0, 0.5);  }
    #wrapper.toggled #sidebar-wrapper > ul{ width: 95%;background-color: #fff; min-height: 100%;}
    #wrapper.toggled .sidebar-nav > .sidebar-brand > span, #wrapper.toggled .sidebar-nav.nav> li > a > span{ display: block;}
    #wrapper.toggled .sidebar-nav > .sidebar-brand a.icon-berger{ position: absolute;  left: auto;  right: 15px;padding: 0;}
    #wrapper.toggled .sidebar-nav li{ width: 100%;}
    #wrapper.toggled .sidebar-nav.nav>li>a {  padding: 10px 35px 10px 50px;min-height: 40px;position: relative;  }
    #wrapper.toggled .sidebar-nav.nav>li.has-submenu > a {
    background-image: url(../images/bg-dropdown-gray.png);
      }
    .tooltip{ display: none !important;}
    .sidebar-brand.view-mobile{
      padding-top: 15px;
      color: #fff;
      font-size: 20px;
      line-height: 20px;
    }
    .sidebar-brand.view-mobile a.icon-berger span {
        width: 27px;
        height: 2px;
        background-color: #fff;
        display: block !important;
        margin-bottom: 5px;
    }
    .sidebar-brand.view-mobile > span{  display: block;  margin-left: 60px;}
    .tx-menu{  padding-left: 15px;}
    .content{    margin-top: 120px;}
    .t-right{ text-align: left;}
    #box-contentfilter{ display: none;}
    .box-search{ padding: 15px;}
    .t-title01{ padding: 0 0 10px 0;}
    .box-search .input-long{ margin-bottom: 10px;}
    .box-search .nopaddingleft{ padding-left: 15px;}
    .inputsearch img{top:13px; left: 0;}
    .box-header{z-index: 150;}
    .box-header .navbar-collapse{ border: none; padding: 15px;}
    .box-header .container-fluid{ padding: 0;}
    .box-header .navbar-header{
      padding: 10px 15px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16);
      -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
      -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
      -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
      }
      .box-header .navbar{padding: 0;}
      .top-user{
        margin: 0;
        font-size: 15px;
        line-height: 15px;
        padding: 15px;
        border: 1px solid #E9E9E9;
      }
      .top-user > div{ float: none; width: 100%;}
      .top-user-name span{ margin-bottom: 15px;}
      .top-user-name span.t-user01{ margin-bottom: 5px; font-size: 13px;line-height: 15px; color: #A8A8A8;}
      .top-user-login span > img{ display: none;}
      .box-header .navbar-nav>li { border-bottom: 1px solid #E9E9E9; padding: 15px 0;display: block;}
      .box-header .navbar-nav>li > a{ padding:0 15px; display: inline-block;}
      .box-header ul.nav.navbar-nav{ margin: 0;}
      .box-header li.dropdown .dropdown-menu{
        width: 100%;
        position: relative;
        box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        -moz-box-shadow: none;
      }
      .logoutmobile{padding: 15px;}
      .logoutmobile img{  height: 12px;  margin-right: 5px;}
      .logoutmobile  .btn {
          background-color: transparent;
          padding: 0;
          border: none;
          color: #22B10D;
          font-size: 16px;
          line-height: 15px;
      }
      .control-searchadv{ padding-right: 15px;}
      .box-searchfull,.box-search-advance{ padding: 15px;}
      .box-input .form-control{ height: 40px; margin-bottom: 15px;}
      .btn-bottom {  margin-top: 0;}
      .box-searchfull .box-btn .btn,.box-search-advance .box-btn  .btn{ width: 100%;font-size: 18px;}
      .control-searchfull .nopaddingright{ padding-right: 15px;}
      .input-group.date .input-group-addon{ top: 11px; right: 11px;}
      .box-search-group .inputsearch .form-control,
      .box-searchfull .box-btn .btn,
      .box-search-advance .box-btn  .btn,
      .box-search .input-long .form-control{ height: 40px;}
      .box-searchadv-btn > .btn.btn-select{ float: left; margin-right: 5px;}
      .box-searchadv-btn{
        width: 330px;
        text-align: center;
        margin: 15px auto 15px;
        float: left;
        left: 50%;
        margin-left: -165px;
        position: relative;
      }
      .dropdown-menu{ left: auto; right: 0;}
      .control-content.boxdashboard{ padding-top: 120px;}
      .control-content h1{ font-size: 25px; line-height: 25px; margin: 20px 0;}
      .box-searchdate{max-width: 100%;}
      .box-searchdate{ padding: 15px;}
      .box-searchdate .nopaddingleft{ padding-left: 15px;}
      .box-menu-subcate ul li{ width: 32%;}
      .sidebar-fixleft{ width: 25%;padding-top: 50px;}
      .page-dashboard .control-content{ width: 75%;    padding-top: 70px;}
      .sidebar-todolist ul li {  padding: 10px 20px;}
      .box-filtercalendar .box-btn,.box-filtercalendar .t-title01,.controlcalendar .headline-left{ display: none;}
      .box-filtercalendar{ padding: 15px;}
      .box-filtercalendar .nopadding{ padding: 0 15px;}
      .box-titlemobile{ display: block;}
      .content-calendarlist{ margin-top: 0;}
      .calendar-listmonth{ width: 15%;}
      .calendar-listday{ width: 85%;}
      .content-calendarlist .bx-wrapper .bx-controls-direction a,.box-state01,.box-state02{ display: none;}
      /* 20-01-19*/
      .content-request,.content-createquestion,.content-questionnaire,.content-userprofile{ padding-top: 120px;}
      .content-createquestion,.content-questionnaire{ margin-top:15px ;}
      .control-information > div{ padding: 30px 30px 20px 30px;}
      .form-idcard{ margin: 0 auto; width: 100%;}
      .headline-information h4 .text-doctype{ position: relative;top: 0;}
      .content-createquestion .btn-center .btn, .content-request .btn-center .btn{ margin: 0 15px;}
      .body-information .input-group.date .input-group-addon,
      .control-datetime  .input-group.date .input-group-addon{ top: 6px; right: 0;}
      .box-checkcircle > div{ margin-bottom: 5px;}
      .content-createquestion,.content-questionnaire{ padding-left: 15px; padding-right: 15px;}
      .form-createquestion{ padding: 15px;}
      .box-input-time{ position: relative;}
      .control-datetime{ padding-right: 0;}
      .control-input-time{ float: left; width: 100%;}
      .btn-center .btn,.control-taxform .btn-center .btn {  min-width: 120px;}
      .tab-control .tab-pane .content-tabquestionaire,.content-tabquestionaire-multi .box-shadow{ padding: 30px;}
      .list-answerquestionaire ul li {  padding: 15px 30px;}
      .tab-control .nav-tabs>li>a{min-width: 150px;}
      .content-payment h1{ font-size: 30px; line-height: 30px; margin: 15px 0 30px 0;}
      .content-payment .container,.content-taxdata .container,.content-taxsummary .container{ width: 100%;}
      .header-list {  font-size: 23px;  line-height: 23px;  padding: 15px;}
      .box-tablecollapse {    padding: 15px 15px 0 15px;}
      .list-epayment ul li{ width: 25%;}
      .img-bank{ width: 60px; height: 60px;    margin: 0 auto 10px;}
      .bank-name {padding-left: 0;  text-align: center;display: block; min-height: 28px;}
      .header-taxform h1, .header-taxform h2 {  font-size: 30px;  line-height: 30px;}
      .content-taxdata{ padding: 0 15px;}
      .header-taxform h5{ font-size: 17px;}
      .content-taxdata .container{ padding: 40px 30px;}
      .set-boxviewdata h3, .body-tabtaxdata h3{ font-size: 21px; line-height: 25px;}
      .box-createlist-date > div{ margin-right: 15px; margin-bottom: 15px;}
      .formcreate-date .form-control{ width: auto;}
      .topright-data-update{ text-align: right;position:relative; margin-bottom: 10px;}
      .conent-viewuser .conent-viewuser-in.content{ margin-top: 0;}
      .btn-headline-right,.conent-viewuser-in .control-searchfull .t-title01{ text-align: left;}
      .conent-viewuser-in .control-searchfull{ padding: 15px;}
      .headline-information img{ height: 25px;}
      .btn-showview img{ height: 12px;}
      .headline-information h4{font-size: 23px;    background-size: auto 12px;}
      #box-usermanage{
        display: block !important;
        position: relative;
        padding: 0;
        width: auto;
        bottom: 0;
        right: auto;
        left: 30px;
        background-image: none;
        height: auto;
        text-align: left;
      }
      .taxsummary-left, .taxsummary-right{min-height: inherit;}
      .taxsummary-left h4, .icon-sum-success, .text-sum01{ margin-bottom: 20px;}
      .control-taxsummary .btn.btn-greenborder, .box-sum-status{ margin: 5px;}
      .icon-sum-success img{ height: 50px;}

      /* 12-04-19 */
      /* css project_account01 */
      .content-taxdata .container{ width: 100%; max-width: 100%;}
      .content-taxdata{ padding: 0 15px;}
      .header-taxform h5{ font-size: 17px;}
      .content-taxdata .container{ padding: 40px 30px;}
      .set-boxviewdata h3, .body-tabtaxdata h3{ font-size: 21px; line-height: 25px;}
      .btn-center .btn, .control-taxform .btn-center .btn {  min-width: 120px;}
      .content-taxform.freezestep .step-taxform.threestep .bg-lineprogress {  top: 32px}
      .content-taxform.freezestep .item-topright span,.content-taxform.freezestep .item-topleft span{ display: none;}
      .content-taxform.freezestep .item-topright {  min-width: inherit;text-align: right;  right: 15px;top: 80px;}
      .content-taxform.freezestep .item-topleft {  min-width: inherit;  text-align: left;  left: 15px; top:80px;}
      .content-taxform.freezestep .text-progress {  font-size: 13px;line-height: 16px;  width: 85px;  margin: 0 auto;}
      .content-taxform.freezestep .step-taxform .bg-lineprogress{ top:32px;}
      /* dashboard 90 */
      .width120{ width: 100px;}
      .width250 {  width: 200px;}
      .width200 {  width: 155px;}
      .popup-tooltip{ right: auto;}
      .formaddress .width230 {width: 180px;}
      .formaddress .width260 {  width: 188px;}
}


@media (max-width: 768px){
  .sidebar-fixleft{ display: none;}
  .control-content{ width: 100%;}
  .box-menu-cate,.text-menu{ height: auto;}
  .box-menu-cate span,.box-menu-cate span.text-menu{ display: inline-block !important;}
  .text-menu{ display: block;}
  .box-menu-cate{text-align: center;}
  .box-menu-cate .icon-menu{ margin: 0;}
  .box-menu-cate span.text-menu{ width: auto; margin-left: 10px; font-size: 15px;margin-top: 10px;}
  .menu-dashborard .nopaddingleft{ padding-left: 15px;}
  .box-menu-subcate ul li{ width: 50%;}
  .box-menu-subcate{ padding-right: 15px;}
  .box-menu{ margin-bottom: 15px;}
  .calendar-listmonth{ width: 20%;}
  .calendar-listday{ width: 80%;}
  .page-dashboard .control-content{ width: 100%;}
  .header-taxform{ margin-top: 30px;}
  .item-topright, .item-topleft{ top:-35px;}
  .control-tabtaxdata .nav-tabs>li>a{ font-size: 12px; padding:3px; }
  .body-tabtaxdata{ padding: 20px;}
  .form-taxdata-inputid,.top-list-taxdata .btn-right{ float: left; margin-bottom: 10px; width: 100%;}
  .top-list-taxdata .btn-right{ text-align: left;}
  .table-summary{ font-size: 13px;    padding: 15px 5px 15px 10px; }
  .table-summary strong{ margin: 0 2px;}
  .box-formcheck .magic-radio + label, .box-formcheck .magic-checkbox + label{ font-size: 16px;}

  /* 12-04-19 */
  /* css dashboard */
  .dashboard-control-tab .r-tabs-anchor span{ padding: 0;}
  .dashboard-control-tab .r-tabs .r-tabs-accordion-title .r-tabs-anchor{
    font-size: 15px;
    line-height: 15px;
    color: #7A7A7A;
    background-color: #EBEBEB;
    font-weight: normal;
    text-shadow: none;
    padding: 15px;
    border-radius: 0 !important;
    border-bottom: 1px solid #fff;
   }
  .dashboard-control-tab .r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor{  background-color: #53B847;  color: #fff;}
  .wrapper-dashboard .container-fluid > .row > div{ width: 100%; max-width: 100%;  flex: inherit;}
  .control-sidebarright{ float: none}
  /**/
  .text-progress{ font-size: 14px;}
  /* dashboard 90 */
  .width150 {  width: 130px;}
  .width200 {  width: 195px;}
  .width250 {width: 250px;}
  .form-listradio > div, .form-listradio > div.sub-formcheck > div{ margin-right: 15px;}
  .box-form-gray .form-inline .box-formcheck,
  .box-form-gray .form-group .box-input,
  .box-form-gray .box-form-infomation.form-inline label.control-label,
  .formaddress .box-form-infomation .form-group .box-input{
    display: block;
    margin-right: 0;
    width: 100%;
  }
}
@media (max-width: 767px){
.box-header .navbar-default .navbar-toggle{ margin-right: 15px;}
.list-epayment ul li{ width: 32%;}
.header-taxform h1, .header-taxform h2{ font-size: 25px; line-height: 25px;}
.topright-data-update{ top: -10px;}
.step-taxform{width: 100%;max-width: 400px;}
.step-taxform.threestep .bg-lineprogress {  top: 22px;  width: 300px;  left: 45px;}
.box-viewdata strong{ margin-right: 5px;}
.input-id,.form-taxdata-inputid > div{ width: 100%; margin: 0 auto 15px;}
.tab-payment .nav-tabs>li{ width: 50%; text-align: center;}
.box-userchecklist .table{ width: 700px;}
.tableshadow{ overflow-y: hidden;overflow-x: scroll;}
.text-information01{font-family: 'KanitRegular'; margin-bottom: 5px;}
.content-userinformation div.box-viewinformation,
.content-userinformation div.box-editinformation,
.control-userchecklist,.control-tabpayment,.control-tabagent{ padding:30px 15px;}
.control-listform{ padding: 0;}
.control-information > div{ padding: 15px;}
.header-taxform h1, .header-taxform h2{ padding: 0 15px;}

  /* 12-04-19 */
  /* css dashboard */
  .content-taxform.freezestep .step-taxform.threestep .bg-lineprogress {  top: 32px}
  .content-taxform.freezestep .item-topright span,.content-taxform.freezestep .item-topleft span{ display: none;}
  .content-taxform.freezestep .item-topright {  min-width: inherit;text-align: right;  right: 15px;top: 80px;}
  .content-taxform.freezestep .item-topleft {  min-width: inherit;  text-align: left;  left: 15px; top:80px;}
  .content-taxform.freezestep .text-progress {  font-size: 13px;line-height: 16px;  width: 85px;  margin: 0 auto;}
  .content-taxform.freezestep .step-taxform .bg-lineprogress{ top:32px;}
  .dashboard-box-list .box-item,.dashboard-box-list,.box-stepprogress-in{ margin-bottom: 15px;}
  .control-sidebarright{ float: none;}
  .box-item-left{ padding-left: 25px;}
  .box-paymentsummary{ padding: 15px;}
  .box-paymentsummary .btn, .box-control-tabstatus .btn{ position: relative;}
  .box-paymentsummary .btn,.box-control-tabstatus .btn.btn-green-border{ top: 0;right: 0; bottom: 0;}
  .t-remark-payment02{ text-align: left;}
  .dashboard-control-tab .r-tabs .r-tabs-panel{ min-height: inherit;}
  .t-duedate{ margin-bottom: 10px;}
  .box-filter-year{ margin-top: 10px;}
  .box-stepprogress{ width: 100%;}
  .box-step-refund{ display: none;}
  .box-table-draft.box-table .table{ width: 800px;}
  .box-control-tabstatus .btn.btn-green-border{ float: right;}
  .box-filter-year > div{ margin-bottom: 10px;}
  .dashboard-box-list .nopaddingright{ padding-right: 15px;}
  .wrapper-dashboard .container-fluid{ padding: 0 15px;}
  .set-boxviewdata h3, .body-tabtaxdata h3{ margin-bottom: 20px;}
  /* dashboard 90 */
  .box-form-infomation .control-label,
  .box-form-infomation.form-inline label.control-label,
  .box-form-gray .box-form-infomation.form-inline label.control-label{ margin-bottom: 10px; height: auto; padding: 0; display: block;}
  .box-form-infomation .box-input{ margin-bottom: 25px;}
  .box-form-infomation .form-group .box-input,
  .box-form-infomation.form-inline .box-input.input-group.date{ width: 100%; margin-right: 0;}
  .box-form-infomation .form-group{ margin-bottom: 0;}
  .box-form-gray .form-group .box-input{ padding: 0;}
  .form-listradio > div, .form-listradio > div.sub-formcheck > div{ width: 100%; display: block;}
  .box-input select.form-control{    background-position: 97% center;}
  .box2btn{position: relative; }
  .boxviewdata-in .col-sm-6{    -ms-flex: 0 0 100%;  flex: 0 0 100%;  max-width: 100%;}
}
@media (max-width: 650px){
  .box-formcheck .col-xs-4,.box-formcheck .col-xs-8{ width: 100%;}
  .boxviewdataform-in .box-checkradio{ margin-bottom: 10px;}
  .btn-center .btn{ margin: 5px;}
}
@media (max-width: 480px){
  .calendar-listmonth{ width: 25%;}
  .calendar-listday{ width: 75%;}
  .list-epayment ul li{ width: 50%;}
  /* css */
  .content-taxdata .container {  padding: 30px 15px;}
}
@media (max-width: 350px){
}

