<div class="content-taxdata" *ngIf="viewPdf">
  <div class="container">
    <div class="content-taxdata-in">
      <div class="set-boxviewdata">
        <h3>ข้อมูลผู้มีหน้าที่หักภาษี ณ ที่จ่าย (หน่วยงาน)</h3>
        <div class="boxviewdata-in">
          <div class="row">
            <div class="col-sm-6">
              <div class="box-viewdata">
                <strong>เลขประจำตัวผู้เสียภาษีอากร:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.id13 | mask: '0-00000-0000-00-0'}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-sm-6">
              <div class="box-viewdata">
                <strong>ชื่อ:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.name}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-sm-6">
              <div class="box-viewdata">
                <strong>ประเภทสาขา:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.branchTypeName}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
            <div class="col-sm-6">
              <div class="box-viewdata">
                <strong>สาขาที่:</strong>
                <span>{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.branchNo}}</span>
              </div>
              <!--end box-viewdata-->
            </div>
          </div>
        </div>
        <!--end boxviewdata-in-->
      </div>
      <!--end set-boxviewdata-->
      <div class="set-boxviewdata">
        <div class="content-tablesummary">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="bg-green">
                  <th class="t-center" width="52%">สรุปรายการภาษีที่นำส่ง</th>
                  <th class="t-center" width="15%">จำนวนราย (ราย)</th>
                  <th class="t-center" width="17%">เงินได้ทั้งสิ้น(บาท)</th>
                  <th class="t-right" width="20%">ภาษีที่นำส่งทั้งสิ้น(บาท)</th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-gray" *ngFor="let item1 of filter('401N'); let i = index">
                  <td class="text-left"><span>(1) เงินได้ตาม มาตรา 40(1) เงินเดือน ค่าจ้าง ฯลฯ กรณีทั่วไป</span></td>
                  <td class="t-center"><strong   *ngIf="item1.total !== 0">{{item1.total}}</strong></td>
                  <td class="text-right"><strong *ngIf="item1.total !== 0">{{item1.income | number: '1.2-2'}}</strong></td>
                  <td class="text-right"><strong *ngIf="item1.total !== 0">{{item1.tax | number: '1.2-2'}}</strong></td>
                </tr>
                <tr>
                  <td class="text-left"><span>(2) เงินได้ตาม มาตรา 40(1) กรณีได้รับอนุมัติจากกรมฯ ให้หักอัตราร้อยละ 3</span></td>
                  <td class="t-center"><strong></strong></td>
                  <td class="t-right"><strong></strong></td>
                  <td class="t-right"><strong></strong></td>
                </tr>
                <tr class="bg-gray" *ngFor="let item2 of filter('4012'); let i = index">
                  <td class="text-left"><span>(3) เงินได้ตาม มาตรา 40(1)(2) กรณีนายจ้างจ่ายให้ครั้งเดียว เพราะเหตุออกจากงาน</span></td>
                  <td class="t-center"><strong   *ngIf="item2.total !== 0">{{item2.total}}</strong></td>
                  <td class="text-right"><strong *ngIf="item2.total !== 0">{{item2.income | number: '1.2-2'}}</strong></td>
                  <td class="text-right"><strong *ngIf="item2.total !== 0">{{item2.tax | number: '1.2-2'}}</strong></td>
                </tr>
                <tr *ngFor="let item3 of filter('402I'); let i = index">
                  <td class="text-left"><span>(4) เงินได้ตาม มาตรา 40(2) กรณีผู้รับเงินได้เป็นผู้อยู่ในประเทศไทย</span></td>
                  <td class="t-center"><strong   *ngIf="item3.total !== 0">{{item3.total}}</strong></td>
                  <td class="text-right"><strong *ngIf="item3.total !== 0">{{item3.income | number: '1.2-2'}}</strong></td>
                  <td class="text-right"><strong *ngIf="item3.total !== 0">{{item3.tax | number: '1.2-2'}}</strong></td>
                </tr>
                <tr class="bg-gray" *ngFor="let item4 of filter('402E'); let i = index">
                  <td class="text-left"><span>(5) เงินได้ตาม มาตรา 40(2) กรณีผู้รับเงินมิได้เป็นผู้อยู่ในประเทศไทย</span></td>
                  <td class="t-center"><strong   *ngIf="item4.total !== 0">{{item4.total}}</strong></td>
                  <td class="text-right"><strong *ngIf="item4.total !== 0">{{item4.income | number: '1.2-2'}}</strong></td>
                  <td class="text-right"><strong *ngIf="item4.total !== 0">{{item4.tax | number: '1.2-2'}}</strong></td>
                </tr>
                <tr *ngFor="let item5 of filterSummary(); let i = index">
                    <td class="text-left"><span>(6) รวม</span></td>
                    <td class="t-center"><strong>{{item5.Total}}</strong></td>
                    <td class="text-right"><strong>{{item5.Income | number: '1.2-2'}}</strong></td>
                    <td class="text-right"><strong>{{item5.Tax | number: '1.2-2'}}</strong></td>
                  </tr>
                  <tr class="bg-gray" *ngIf="formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.surcharge > 0">
                      <td class="text-left"><span>(7) เงินเพิ่ม <span class="text-red">({{calculateRecordForm?.surchargeDesc}})</span></span></td>
                      <td class="t-center"><strong></strong></td>
                      <td class="t-right"><strong></strong></td>
                      <td class="text-right"><strong>{{formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.surcharge | number: '1.2-2'}}</strong></td>
                    </tr>
              </tbody>
              <tfoot *ngIf="formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.surcharge > 0 ||formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.penalty > 0 ">
                <tr class="bg-green">
                  <td class="text-green text-left"><span>(8) รวมจำนวนเงินที่ต้องชำระทั้งสิ้น</span></td>
                  <td class="t-center"><strong></strong></td>
                  <td class="t-right"><strong></strong></td>
                  <td class="text-right"><strong>{{formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.totTax | number: '1.2-2'}}</strong></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <!--end table-responsive-->
        </div>
        <!--end content-tablesummary-->
        <h3 *ngIf="formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.netTax > 0 || formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.criminal > 0 ">รายการที่ต้องชำระ</h3>
        <div class="content-tablesummary tabletotal" *ngIf="formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.netTax > 0 || formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.criminal > 0 ">
          <table class="table">
            <tbody>
              <tr class="bg-green" *ngIf="formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.netTax > 0 && formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.surcharge === null">
                <td width="84%" class="text-left"><span>รวมยอดภาษีที่ต้องนำส่งทั้งสิ้น</span></td>
                <td width="16%" class="text-right"><span class="text-green">{{ formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.taxAmt | number: '1.2-2'}}</span></td>
              </tr>
              <tr class="bg-green" *ngIf="formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.netTax > 0 && formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.surcharge > 0">
                  <td width="84%" class="text-left"><span>รวมยอดภาษีที่ต้องนำส่งทั้งสิ้นและเงินเพิ่ม</span></td>
                  <td width="16%" class="text-right"><span class="text-green">{{ formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.taxAmt | number: '1.2-2'}}</span></td>
                </tr>
              <tr class="bg-green" *ngIf="formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.criminal > 0">
                <td width="84%" class="text-left"><span>ค่าปรับอาญา (<span class="text-red">{{calculateRecordForm?.criminalDesc}}</span>)</span></td>
                <td width="16%" class="text-right"><span class="text-green">{{ formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.criminal | number: '1.2-2'}}</span></td>
              </tr>
              <tr class="bg-green" *ngIf="formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.criminal > 0">
                <td width="84%" class="text-left"><span class="text-green">รวมจำนวนเงินที่ต้องชำระทั้งสิ้น</span></td>
                <td width="16%" class="text-right"><span class="text-green">{{ formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.totAmt | number: '1.2-2'}}</span></td>
              </tr>
              <tr>
                <td width="80%" class="text-left"><span class="text-red">ต้องชำระเงินภายในวันที่ :</span></td>
                <td width="20%" class="text-left"><span class="text-red">{{formPnd1.value.pnd1CompleteForm.formDetail.payment.dueDate | toDate:'YYYY-MM-DD' | dateLocalTh: ['long']}}</span></td>
                <!-- <td width="20%" class="text-left"><span class="text-red">22/01/2556</span></td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--end content-taxdata-in-->
  </div>
  <!--end container-->
</div>
<!--end content-taxdata-->

<div class="container pt-3" *ngIf="!viewPdf">
    <div class="form-group row justify-content-end align-items-center" *ngIf="isLoaded" style="justify-content: center; margin-right:0px">
      <button (click)="zoom_out()" class="btn btn-circle  mr-1">
        <i  class="fas fa-search-minus"></i></button>
      <button (click)="zoom_in()" class="btn btn-circle  ml-1 mr-3">
        <i  class="fas fa-search-plus"></i></button>
  
      <button (click)="prevPage()" [attr.disabled]="page === 1" class="btn btn-circle  mr-3">
        <i  class="fas fa-angle-left"></i></button>
      <span>{{ page }} / {{ totalPages }}</span>
      <button (click)="nextPage()" [attr.disabled]="page === totalPages" class="btn btn-circle  ml-3">
        <i  class="fas fa-angle-right"></i></button>
    </div>
  
    <div class="content-taxdata-in">
      <pdf-viewer [src]="pdfSrc" [zoom]="pdfZoom" [(page)]="page" [original-size]="false" [show-all]="false"
      [fit-to-page]="true" (after-load-complete)="afterLoadComplete($event)" style="display: block;">
      </pdf-viewer>
    </div>
  </div>
  
  <div class="content-taxdata mt-3" *ngIf="!viewPdf">
    <div class="container">
      <div class="content-taxdata-in">
        <div class="t-center">
          ข้าพเจ้าขอรับรองว่า รายการที่แสดงตามแบบยื่นรายการภาษีนี้ถูกต้องและเป็นจริงทุกประการ และยอมผูกพันในรายการข้อมูลดังกล่าว
        </div>
      </div>
    </div>
  </div>
