<div class="row">
	<div class="col-4" *ngFor="let item of taxFilingList">
		<div class="card filing-card">
			<div class="card-body">
				<div class="card-title">
					{{ item.formShortTh }}
					<a class="pointer" (click)="filing(item)">ยื่นแบบ</a>
				</div>
				<div class="card-text">
					{{ item.formNameTh }}
				</div>
			</div>
		</div>
	</div>
	<div class="col-4" *ngIf="other && taxFilingList">
		<div class="card filing-card">
			<div class="card-body">
				<div class="card-title">
					อื่น ๆ
					<a class="pointer" routerLink="/tax">ยื่นแบบ</a>
				</div>
				<div class="card-text">
					แบบภาษี
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="!taxFilingList">
	<ngx-skeleton-loader
	  count="3"
	  [theme]="{ 'border-radius': '5px', width: '300px' , height: '118px', 'margin-left': '15px', 'margin-right': '15px' }"
	></ngx-skeleton-loader>
</div>