<div class="wrapper">
    <div class="content-taxform" tax-freezestep>
        <router-outlet></router-outlet>
    </div>
  </div>

  <div class="modal fade modal-tabs" bsModal #modal="bs-modal" tabindex="-1" role="dialog" (onHidden)="onHideModal()">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content clear-bg-color">
        <tabset [justified]="true" #staticTabs *ngIf="checkTaCode">
          <tab heading="ยื่นแบบ" customClass="tab-content-quote">
           <div class="modal-tab-content">
              <div class="row info">
                <div class="col-12 title">
                  <h3 class="text-center">ยื่นแบบ</h3>
                </div>
                <div class="col-12 title">
                  <h2 class="text-center text-title text-green">{{ formData?.formShort }}</h2>
                </div>
                <div class="col-6 offset-3">
                  <h4 class="text-center text-green">{{ formData?.formName }}</h4>
                </div>
                <div class="col-12">
                  <h4 class="text-center">เลขประจำตัวผู้เสียภาษี : {{ userModel?.nid | mask: '0-00000-0000-00-0' }}</h4>
                </div>
                <div class="col-12">
                  <h4 class="text-center">ชื่อผู้เสียภาษี : {{ userModel?.txpName }}</h4>
                </div>
                </div>
                 <form [formGroup]="pndFormFiling">
                    <div class="row mt-4 form-cover">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="row">
                            <div class="col-3 btn-right" *ngIf="checkType">
                              <ef-label>ประเภทสาขา : </ef-label>
                            </div>
                            <div class="col-3" *ngIf="checkType">
                              <ng-select [items]="listBranchType" bindLabel="branchTypeName" bindValue="branchType"  formControlName="branchType" [markFirst]="false" placeholder="โปรดระบุ" (change)="getBranchNo()">
                              </ng-select>
                              <ef-validation-message [control]="pndFormFiling.controls.branchType" [submit]="formSubmitAttempt"></ef-validation-message>
                            </div>

                            <div class="col-3 btn-right" *ngIf="checkBranch">
                              <ef-label>สาขาที่ : </ef-label>
                            </div>
                            <div class="col-3" *ngIf="checkBranch">
                              <ng-select [items]="listBranchNo" bindLabel="branchNo" bindValue="branchNo" formControlName="branchNo"  [markFirst]="false" placeholder="โปรดระบุ">
                              </ng-select>
                              <ef-validation-message [control]="pndFormFiling.controls.branchNo" [submit]="formSubmitAttempt"></ef-validation-message>
                            </div>
                          </div>
                           <!--end form-group row 1-->
                          <div class="form-group row">
                            <div class="col-3 btn-right">
                                <ef-label>ปีภาษี : </ef-label>
                            </div>
                            <div class="col-3">
                                <ng-select [items]="listTaxYear"   bindLabel="yearText" bindValue="yearId" formControlName="year"  [markFirst]="false" placeholder="โปรดระบุ" (change)="getMonth()">
                                  </ng-select>
                                  <ef-validation-message [control]="pndFormFiling.controls.year" [submit]="formSubmitAttempt"></ef-validation-message>
                            </div>

                            <div class="col-3 btn-right" *ngIf="checkMonth">
                                <ef-label>เดือน : </ef-label>
                            </div>
                            <div class="col-3" *ngIf="checkMonth">
                                <ng-select [items]="listTaxMonth"   bindLabel="nameLocal" bindValue="code" formControlName="month"  [markFirst]="false" placeholder="โปรดระบุ">
                                </ng-select>
                                <ef-validation-message [control]="pndFormFiling.controls.month" [submit]="formSubmitAttempt"></ef-validation-message>
                            </div>
                          </div>
                           <!--end form-group row 2-->
                            <!--start form coppy filing-->
                          <form [formGroup]="pndFormFilingCoppy" *ngIf="coppyDraft" >
                          <div class="form-group row">
                            <div class="col-12">
                                <label>
                                  <input type="checkbox" formControlName="copyFlag" value=0  (click)="onClickCoppDraft()"><ef-label style="padding-left: 10px">คัดลอกข้อมูล</ef-label>
                                </label>
                              </div>
                          </div>
                            <div class="form-group row">
                                <div class="col-3 btn-right" *ngIf="checkCoppyDraft"><ef-label>ปี </ef-label></div>
                                <div class="col-3" *ngIf="checkCoppyDraft">
                                    <ng-select [items]="listTaxYear"   bindLabel="yearText" bindValue="yearId" formControlName="year"  [markFirst]="false" placeholder="โปรดระบุ" (change)="getMonthF()">
                                    </ng-select>
                                    <ef-validation-message [control]="pndFormFilingCoppy.controls.year" [submit]="formSubmitAttempt"></ef-validation-message>
                                </div>
                                <div class="col-3 btn-right" *ngIf="checkCoppyDraft"><ef-label>เดือน </ef-label></div>
                                <div class="col-3" *ngIf="checkCoppyDraft">
                                    <ng-select [items]="listTaxMonthCoppy"   bindLabel="nameLocal" bindValue="code" formControlName="month"  [markFirst]="false" placeholder="โปรดระบุ" (change)="getFilingNo()">
                                    </ng-select>
                                    <ef-validation-message [control]="pndFormFilingCoppy.controls.month" [submit]="formSubmitAttempt"></ef-validation-message>
                                </div>
                                <div class="col-3 btn-right" *ngIf="checkCoppyDraft"><ef-label>ลำดับการยื่น </ef-label></div>
                                <div class="col-3" *ngIf="checkCoppyDraft">
                                    <ng-select [items]="filingNoList" bindLabel="id" bindValue="id"  formControlName="filingNo"  [markFirst]="false" placeholder="โปรดระบุ">
                                    </ng-select>
                                    <ef-validation-message [control]="pndFormFilingCoppy.controls.filingNo" [submit]="formSubmitAttempt"></ef-validation-message>
                                </div>
                            <ng-template [ngIf]="checkCoppyDraft">
                                <div class="col-3 btn-right"><ef-label>วัน-เดือน-ปี ที่จ่าย </ef-label></div>
                                <div class="col-3">
                                  <div class="box-input input-group date">
                                    <input type="text" bsDatepicker class="form-control w-100" formControlName="payDate"placeholder="วว/ดด/ปปปป" />
                                    <span class="input-group-addon"><img src="assets/images/icon-calendar-gray.svg" alt="" data-pin-nopin="true"></span>
                                    <ef-validation-message [control]="pndFormFilingCoppy.controls.payDate" [submit]="formSubmitAttempt"></ef-validation-message>
                                  </div>
                                </div>
  
                              </ng-template>
                           </div>
                          </form>
                          <!--end form-group row 2-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center text-center mt-5 mb-5 mt-5 mb-5">
                    <div class="col-3">
                      <button type="button" class="btn btn-primary shadow-lg w-100" (click)="onClickTaxFilingOnline()">
                        ยื่นแบบ
                      </button>
                    </div>
                  </div>
                </form>
               </div>
            </tab>

            <tab heading="Upload File ข้อมูล" customClass="tab-content-quote">
                <div class="modal-tab-content">
              <div class="row info">
                  <div class="col-12 title">
                    <h2 class="text-center text-title text-green">{{ formData?.formShort }}</h2>
                  </div>
                  <div class="col-6 offset-3">
                    <h4 class="text-center text-green">{{ formData?.formName }}</h4>
                  </div>
                  <div class="col-12">
                    <h4 class="text-center">เลขประจำตัวผู้เสียภาษี : {{ userModel?.nid | mask: '0-00000-0000-00-0' }}</h4>
                  </div>
                  <div class="col-12">
                    <h4 class="text-center">ชื่อผู้เสียภาษี : {{ userModel?.txpName }}</h4>
                  </div>
                  </div>

                  <form [formGroup]="pndFormUpload">
                    <div class="row mt-4 form-cover">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-3 btn-right" *ngIf="checkType">
                                <ef-label>ประเภท : </ef-label>
                              </div>
                              <div class="col-3" *ngIf="checkType">
                                <ng-select [items]="listBranchType" bindLabel="branchTypeName" bindValue="branchType" formControlName="branchType" [markFirst]="false" placeholder="โปรดเลือก">
                                </ng-select>
                              </div>
      
                              <div class="col-3 btn-right" *ngIf="checkBranch">
                                <ef-label>สาขาที่ : </ef-label>
                              </div>
                              <div class="col-3" *ngIf="checkBranch">
                                <ng-select [items]="listBranchNo" bindLabel="branchTypeName" bindValue="branchType" formControlName="branchNo" [markFirst]="false" placeholder="โปรดเลือก">
                                </ng-select>
                              </div>
      
                              <div class="col-3 btn-right">
                                <ef-label>ปีภาษี : </ef-label>
                              </div>
                              <div class="col-3">
                                <ng-select [items]="listTaxYear" bindLabel="yearText" bindValue="yearId" formControlName="year" [markFirst]="false" placeholder="โปรดเลือก" (change)="getMonth()">
                                </ng-select>
                                <ef-validation-message [control]="pndFormUpload.controls.year" [submit]="formSubmitAttempt"></ef-validation-message>
                              </div>
      
                              <div class="col-3 btn-right" *ngIf="checkMonth">
                                <ef-label>เดือน : </ef-label>
                              </div>
                              <div class="col-3" *ngIf="checkMonth">
                                <ng-select [items]="listTaxMonth" bindLabel="nameLocal" bindValue="id" formControlName="month" [markFirst]="false" placeholder="โปรดเลือก">
                                </ng-select>
                                <ef-validation-message [control]="pndFormUpload.controls.month" [submit]="formSubmitAttempt"></ef-validation-message>
                              </div>
                            </div>
                            <div class="row m-3">
                              <div class="col-4 col-form-label btn-right">
                                <ef-label>คลิกเพื่ออัพโหลด : </ef-label>
                              </div>
                              <div class="col-8 pt-2 pb-2">
                                <div class="input-group">
                                  <div class="custom-file">
                                    <input type="file" class="form-control" ng2FileSelect [uploader]="uploader" accept=".xml,.zip" />
                                    <!-- <label class="custom-file-label" for="inputGroupFile01">เลือกไฟล์ข้อมูล</label> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2 mb-4">
                      <div class="col-4 offset-4 text-center">
                        <button type="button" class="btn btn-primary shadow-lg w-100" (click)="uploader.uploadAll()"
                          [disabled]="!uploader.getNotUploadedItems().length">
                          อัพโหลด
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </tab>
           <!--end form upload-->
           <tab heading="แบบร่าง" customClass="tab-content-quote">
              <div class="modal-tab-content">
            <!-- <div class="row info">
                <div class="col-12 title">
                  <h2 class="text-center text-title text-green">{{ formData?.formShort }}</h2>
                </div>
                <div class="col-6 offset-3">
                  <h4 class="text-center text-green">{{ formData?.formName }}</h4>
                </div>
                <div class="col-12">
                  <h4 class="text-center">เลขประจำตัวผู้เสียภาษี : {{ userModel?.nid | mask: '0-00000-0000-00-0' }}</h4>
                </div>
                <div class="col-12">
                  <h4 class="text-center">ชื่อผู้เสียภาษี : {{ userModel?.txpName }}</h4>
                </div>
                </div> -->

                <form [formGroup]="pndFormDraft">
                  <div class="row mt-1">
                    <div class="col-12 tab-bg">
                      <div class="card-body">
                        <div class="form-preview ">
                          <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="pndList"
                            [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
                            [nzPageSizeOptions]="[5,10,20,30]" (nzPageIndexChange)="searchData()"
                            (nzPageSizeChange)="searchData(true)">
                            <thead>
                              <tr>
                                <th nzWidth="10%" class="text-center">ลำดับที่</th>
                                <th nzWidth="20%" class="text-center">หมายเลขอ้างอิงแบบฉบับร่าง</th>
                                <th nzWidth="10%" class="text-center">ปีภาษี</th>
                                <th nzWidth="10%" class="text-center text-red">เดือน</th>
                                <th nzWidth="10%" class="text-center text-red">สาขา</th>
                                <th nzWidth="15%" class="text-center">ลำดีบการยื่นแบบ</th>
                                <th nzWidth="15%" class="text-center">วันที่บันทึกแบบล่าสุด</th>
                                <th nzWidth="10%" class="text-center">ดำเนินการ</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of pndList;index as i">
                                <td class="text-center">{{ i+1 }}</td>
                                <td class="text-center">{{ data.draftNo }}</td>
                                <td class="text-center">{{ data.taxYear }}</td>
                                <td class="text-center">{{ data.filingType }}<span *ngIf="0 != data.filingNo"> ครั้งที่
                                    {{ data.filingNo }}</span></td>
                                <td class="text-center">{{ data.updateDate }}</td>
                                <td class="text-center">
                                  <i class="far fa-edit" (click)="editPND(data)"></i>&nbsp;
                                  <i class="far fa-trash-alt" (click)="removePND(data)"></i>
                                </td>
                              </tr>
                            </tbody>
                          </nz-table>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </tab>
          <tab>
            <ng-template tabHeading></ng-template>
          </tab>
          <tab>
            <ng-template tabHeading></ng-template>
          </tab>
        </tabset>
        <div class="content-taxdata" *ngIf="!checkTaCode">
          <div class="container">
            <div class="content-taxdata-in">
              <h3 class="text-green">ยื่นแบบภาษี {{ formData?.formShort }}</h3>
              <div class="form-tabtaxdata">
                <div class="form-tabtaxdata">
                  <!--start row 1-->
                  <div class="row mt-3">
                    <div class="col-6">
                        <span>ข้อมูลผู้มีหน้าที่เสียภาษีของสำนักงานบัญชีตัวแทน</span>
                    </div>
                    <div class="col-6">
                      <div class="btn-right btn-search-id offset-8">
                        <button type="button" class="btn btn-primary shadow-lg w-100" (click)="onSearchAdvanced()">ค้นหาขั้นสูง</button>
                      </div>
                    </div>
                  </div>
                   <!--end row 2-->
                  <!--start row 2-->
                  <div class="row mt-3" *ngIf="onClickSearchAdvanced">
                    <div class="col-4 nopaddingright">
                      <div class="form-group">
                        <label class="control-label" for="">เลขประจำตัวผู้เสียภาษี :</label>
                        <ng-select [items]="listBranchType" bindLabel="branchTypeName" bindValue="branchType"   [markFirst]="false" placeholder="โปรดเลืก">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-4 nopaddingright">
                      <div class="form-group">
                        <label class="control-label" for="">ชื่อผู้มีหน้าที่เสียภาษี :</label>
                        <ng-select [items]="listBranchType" bindLabel="branchTypeName" bindValue="branchType"   [markFirst]="false" placeholder="โปรดเลืก">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-2 nopaddingright d-flex align-items-center">
                      <div class="form-group">
                        <div class="btn-search-id">
                          <button type="button" name="button" class="btn btn-success" (click)="onSearch()">ค้นหา</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-2 nopaddingright d-flex align-items-center">
                      <div class="form-group">
                        <div class="btn-search-id">
                          <button type="button" name="button" class="btn btn-greenborder" (click)="onClearData()">ล้างข้อมูล</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end row 2-->
                </div>
                <!--end form-tabtaxdata-->
                <!--end table-list-taxdata-->

                <div class="content-list-taxdata">
                  <div class="table-list-taxdata">
                    <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="mookupDataDraft" [nzLoading]="loading"
                      [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
                      (nzPageSizeChange)="searchData(true)">
                      <thead (nzSortChange)="sort($event)" nzSingleSort>
                        <tr>
                          <th class="t-center" nzWidth="120px" nzShowSort nzSortKey="orderNo"><span>ลำดับที่</span></th>
                          <th class="t-center" nzWidth="200px" nzShowSort nzSortKey="nid"><span>เลขประจำตัวผู้เสียภาษี</span></th>
                          <th class="t-center" nzWidth="200px" nzShowSort nzSortKey="name"><span>ชื่อผู้มีหน้าที่เสียภาษี</span></th>
                          <th class="t-center" nzWidth="100px" nzShowSort nzSortKey="adress"><span>ดำเนินการ</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of ajaxTable.data; let i = index">
                          <td class="t-center">{{i + 1}}</td>
                          <td class="t-center">{{data.Id13}}</td>
                          <td class="t-center">{{data.titleName}} {{data.firstName}} {{data.lastName}}</td>
                          <td class="t-center">
                            <div class="btn-right">
                              <button type="button" class="btn btn-success shadow-lg w-100" (click)="onClickFiling()">ยื่นแบบ</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                  <!--end table-list-taxdata-->
                </div>
                <!--end body-tabtaxdata-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
