<div class="wrapper">
    <div class="content_formcontrol control-taxform bg">
        <div class="fixed-top">
            <div class="item-topright sticky-top sticky-offset">
                <a routerLink="/login"> {{ 'COMMON.RETURN_TO_MAIN_PAGE_BTN' | translate }} </a>
                <img src="assets/images/icon-close-gray.svg">
            </div>
        </div>
        <div class="container">
            <h3 translate>CHECK_REGISTER.TITLE</h3>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>