table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


::ng-deep.header_form .headline h5{
    color:#17AE06 !important;
}
.contentform {
    max-width: 100%;
}

.f10 {
    font-size: 80%;
}

.f20 {
    font-size: 120%;
}

.btn-f10 {
    font-size: 80%;
}

.form-footer{
    padding: 1.50rem 1.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }

.card {
    background-color: #f2f2f2;
}