// background-image: url(../images/bg_register.jpg);
.content_formcontrol {
    // background-image: url(../images/bg_register.jpg);
    background-color: #F7F7F7;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left -70px;
    padding-top: 80px;
    color: #505050;
    font-family: 'KanitLight';
    font-weight: 300;
    > .container > h3 {
        text-align: center;
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 40px;
    }
}

.box_mainprogress_step, .contentform {
    max-width: 850px;
}

.box_mainprogress_step {
    margin: 0 auto 30px;
}

.t_progress {
    text-align: center;
    color: #5F5E60;
    font-size: 15px;
    line-height: 20px;
}

.icon_press {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 auto 15px;
    box-shadow: 0 3px 2px rgba(169, 169, 169, 0.3);
    -webkit-box-shadow: 0 3px 2px rgba(169, 169, 169, 0.3);
    -moz-box-shadow: 0 3px 2px rgba(169, 169, 169, 0.3);
    background-color: #fff;
    position: relative;
}

.active .icon_press::after {
    height: 60px;
    width: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    background-image: url(../images/bg_rotate.svg);
    animation: rotating 4s linear infinite;
    -webkit-animation: rotating 4s linear infinite;
}

.icon_press span {
    display: block;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.boxgreen {
    .t_progress {
        color: #53B847;
    }
    &.active .t_progress {
        font-family: 'KanitLight';
        font-weight: 400;
    }
}

.icon_press.regis_step01 span {
    background-image: url(../images/progress01.svg);
    background-size: auto 25px;
}

.boxgreen .icon_press.regis_step01 span {
    background-image: url(../images/progress01_active.svg);
}

.icon_press.regis_step02 span {
    background-image: url(../images/progress02.svg);
    background-size: auto 24px;
}

.boxgreen .icon_press.regis_step02 span {
    background-image: url(../images/progress02_active.svg);
}

.icon_press.regis_step03 span {
    background-image: url(../images/progress03.svg);
    background-size: auto 24px;
}

.boxgreen .icon_press.regis_step03 span {
    background-image: url(../images/progress03_active.svg);
}

.icon_press.regis_step04 span {
    background-image: url(../images/progress04.svg);
    background-size: auto 16px;
}

.boxgreen .icon_press.regis_step04 span {
    background-image: url(../images/progress04_active.svg);
}

.contentform {
    margin: 0 auto 50px;
    background-color: #fff;
    box-shadow: 5px 10px 20px rgba(169, 169, 169, 0.3);
    -webkit-box-shadow: 5px 10px 20px rgba(169, 169, 169, 0.3);
    -moz-box-shadow: 5px 10px 20px rgba(169, 169, 169, 0.3);
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}


.headline img {
    height: 25px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.header_form {
    height: 60px;
    background-image: url(../images/bg_hd_register.jpg);
    background-repeat: no-repeat;
    background-size: auto 60px;
    background-position: right top;
    /*  border-left: 5px solid #53B847;*/
    padding: 15px 15px 15px 45px;
    position: relative;
}

.headline h5 {
    font-size: 25px;
    line-height: 30px;
    text-shadow: 0 2px 0 #fff;
    -webkit-text-shadow: 0 2px 0 #fff;
    -moz-text-shadow: 0 2px 0 #fff;
}

.icon_recommend {
    img {
        height: 18px;
    }
    span {
        display: block;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: 0.02cm;
        margin-top: 1px;
    }
    a {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        text-align: center;
        color: #fff;
        position: absolute;
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        top: 25px;
        right: 50px;
        padding-top: 17px;
        display: block;
        color: #fff;
        background-color: #A8A8A8;
        &:hover {
        background-color: #53B847;
        }
    }
}

.sectionform {
    max-width: 750px;
    margin: 0 auto;
    padding-top: 40px;
}

.control_listform {
    padding: 0 60px;
}

.sectionform .control-label {
    font-size: 15px;
    line-height: 15px;
    &.t_idcard {
        color: #000;
    }
}

.red {
    color: #CB0606;
}

.sectionform {
    .btn-greenborder{
        line-height: 18px;
        height: 35px;
    }

    .form-group {
        margin-bottom: 25px;
        position: relative;
    }
    .form-control {
        // border: none;
        font-size: 16px;
        // line-height: 21px;
        height: 35px;
        color: #000000;
        border-radius: 6px;
        // border-color: #BBBBBB;
        // padding: 5px 0 7px 0;
        // border-bottom: 1px solid #ededed;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 17px;
        // &:focus {
        // border-color: #53B847;
        // border-width: 2px;
        // }
    }
}

.box_robot {
    line-height: 0;
    margin-bottom: 35px;
    img {
        max-width: 100%;
    }
}

.btn_2button .btn {
    font-size: 18px;
    line-height: 18px;
    min-width: 100px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
}

.btn {
    &.btn-gray {
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
        background-color: transparent;
        font-family: 'KanitLight';
        font-weight: 300;
        padding: 8px 16px;
        height: 35px;
        color: #fff;
        font-size: 18px;
        text-align: center;
        border: 1px solid #fff;
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }
    &.btn-green {
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
        background-color: transparent;
        font-family: 'KanitLight';
        font-weight: 300;
        padding: 8px 16px;
        height: 35px;
        color: #fff;
        font-size: 18px;
        text-align: center;
        border: 1px solid #fff;
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
        background-image: url(../images/bg_btn_green.png);
        &:hover, &:focus {
        background-size: cover;
        background-image: url(../images/bg_btn_gray.svg);
        }
    }
    &.btn-gray {
        background-color: #A8A8A8;
        /*background-image: url(../images/bg_btn_gray.svg);*/
        &:hover, &:focus {
        background-size: cover;
        background-image: url(../images/bg_btn_green.png);
        }
    }
}

.btn-right {
    text-align: right;
}

.mes_error {
    font-size: 13px;
    line-height: 16px;
    color: #CB0606;
    background-image: url(../images/bg_error.svg);
    background-repeat: no-repeat;
    background-size: 8px auto;
    background-position: 8px -4px;
    padding-top: 8px;
}

.mes-error-box {
    font-size: 13px;
    line-height: 16px;
    color: #CB0606;
    background-image: url(../images/bg_error.svg);
    background-repeat: no-repeat;
    background-size: 8px auto;
    background-position: 8px -4px;
    padding-top: 8px;
}


.sectionform .form-group {
    &.has_error .form-control {
        color: #CB0606;
        // border-bottom: 1px solid #CB0606;
        background-image: url(../images/icon_error.svg);
    }
    &.has_success .form-control {
        background-image: url(../images/icon_success.svg);
    }
}

/* css magic check */
@keyframes hover-color {
    from {
        border-color: #C4C4C4;
    }

    to {
        border-color: #C4C4C4;
    }
}


.magic-radio, .magic-checkbox {
    position: absolute;
    display: none;
}

.magic-radio[disabled], .magic-checkbox[disabled] {
    cursor: not-allowed;
}

.magic-radio + label, .magic-checkbox + label {
    position: relative;
    display: block;
    padding-left: 30px;
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    vertical-align: middle;
}

.magic-radio + label:hover:before, .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color;
}

.magic-radio + label:before, .magic-checkbox + label:before {
    position: absolute;
    top: -3px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #C4C4C4;
    background-color: #fff;
}

.magic-radio + label:after, .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: '';
}

.magic-radio[disabled] + label, .magic-checkbox[disabled] + label {
    cursor: not-allowed;
    color: #c1c1c1;
}

.magic-radio[disabled] + label {
    &:hover, &:before, &:after {
        cursor: not-allowed;
    }
}

.magic-checkbox[disabled] + label {
    &:hover, &:before, &:after {
        cursor: not-allowed;
    }
}

.magic-radio[disabled] + label:hover:before, .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #C4C4C4;
    animation-name: none;
}

.magic-radio[disabled] + label:before, .magic-checkbox[disabled] + label:before {
    border-color: #C4C4C4;
}

.magic-radio:checked + label:before, .magic-checkbox:checked + label:before {
    animation-name: none;
}

.magic-radio:checked + label:after, .magic-checkbox:checked + label:after {
    display: block;
}

.magic-radio {
    + label {
        &:before {
            border-radius: 50%;
        }
        &:after {
            top: 6px;
            left: 6px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #3e97eb;
        }
    }
    &:checked {
        + label:before {
            border: 1px solid #C4C4C4;
        }
            &[disabled] + label {
            &:before {
                border: 1px solid #c9e2f9;
            }
            &:after {
                color: #c1c1c1;
                background-repeat: no-repeat;
                background-position: 2px center;
                background-size: auto 9px;
                background-image: url(../images/ico_check_disable.png);
                background-color: transparent;
                width: 18px;
                height: 13px;
                top: 1px;
                left: 0px;
            }
        }
    }
}

.magic-checkbox {
    + label {
        &:before {
        border-radius: 3px;
        }
        &:after {
        top: 2px;
        left: 7px;
        box-sizing: border-box;
        width: 6px;
        height: 12px;
        transform: rotate(45deg);
        border-width: 2px;
        border-style: solid;
        border-color: #fff;
        border-top: 0;
        border-left: 0;
        }
    }
    &:checked {
        + label:before {
        border: #3e97eb;
        background: #3e97eb;
        }
        &[disabled] + label:before {
        border: #c9e2f9;
        background: #c9e2f9;
        }
    }
}

.box_checkradio .magic-radio + label:after {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 9px;
    background-image: url(../images/ico_check.svg);
    background-color: transparent;
    width: 18px;
    height: 13px;
    top: 1px;
    left: 0px;
}

/* end css megic check */

.box_check_regis, .content_otp {
    border-radius: 10px;
    background-color: #F9F9F9;
    border: 1px solid #E9E9E9;
}

.box_check_regis {
    padding: 15px 15px;
    margin-bottom: 25px;
}

.control_listform .t_title {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 25px;
    color: #000;
}

.box_checkradio {
    margin-bottom: 15px;
}

.sectionform {
  .btn {
    border-radius: 25px;
    min-width: 170px;
  }

  .form-footer{
    padding: 1.50rem 1.25rem;
    // background-color: rgba(168, 37, 37, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }

  .form-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }

    select.form-control {
        background-image: url(../images/bg_select.svg);
        background-repeat: no-repeat;
        background-position: right 7% center;
        background-size: auto 8px;
        appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        color: #000;
    }
    .form-group .form-control {
      background-color: transparent;
      color: $text-color-black;
      &[disabled], &[readonly] {
        cursor: not-allowed;
        border-bottom: 1px solid #ededed;
        background-color: #ECECED;
        opacity: 1;
        color: $text-color-black;
        }
    }
}

fieldset[disabled] .form-control {
    cursor: not-allowed;
    border-bottom: 1px solid #ededed;
    background-color: transparent;
    opacity: 1;
    color: #000;
}

// .sectionform .form-group .t_idcard + .form-control {
//     &[disabled], &[readonly] {
//         color: #BBB;
//     }
// }

.box-help {
    span {
        display: block;
        cursor: pointer;
    }
    img {
        height: 17px;
    }
    position: absolute;
    width: 17px;
    height: 17px;
    line-height: 0;
    right: 0;
    top: 31px;
}

.tooltip-inner {
    min-width: 100px;
}

.formdate {
    padding-right: 15px;
}

.body_form {
    .btn_2button {
        max-width: 733px;
        margin: 0 auto;
        border-top: 1px solid #ededed;
        // padding: 20px 0;
    }
    .btn-upload {
      background-color: $color-pink;
      // background-color: lightblue;
      color: white;
      border-radius: 20px;
      font-size: 19px;
      line-height: 19px;
      min-width: 170px;
      padding: 6px 10px;
    }
    .btn-upload:hover{
      background-color: #706F72;
      background-image: none;
    }
    hr {
        margin: 0;
        height: 17px;
        background-color: #F3F3F3;
    }
    .sectionform:first-child {
        border-top: 1px solid #c4c4c4;
    }

    .box-help {

        span {
            display: block;
            cursor: pointer;
        }
        img {
            height: 17px;
        }
          position: absolute;
          width: 17px;
          height: 17px;
          line-height: 0;
          right: 2%;
          // top: 63%;
          top: 46px;

        }

        .box-viewpassword {
          .btn {
            padding: 0;
            border: 0;
            line-height: 0;
            background: none;
          }
          img {
            height: 13px;
          }
          position: absolute;
          width: 17px;
          height: 17px;
          line-height: 0;
          right: 10%;
          // top: 63%;
          top: 46px;
        }
}

.headline_form {
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 15px;
    color: #58595B;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 30px;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}


.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

.box_mainprogress_step {
    position: relative;
    overflow: hidden;
}

.bg_lineprogress {
    height: 4px;
    position: absolute;
    top: 25px;
    width: 655px;
    margin: 0 auto;
    left: 97px;
}

.box_mainprogress_step .col-xs-3 {
    padding: 0;
}

.status_line {
    width: 33.3333%;
    float: left;
    span {
        display: block;
        width: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        background-image: url(../images/bg_graystep.svg);
        background-size: auto 4px;
    }
    &.passstep span {
        background-image: url(../images/bg_fullstep.svg);
    }
    &.haftstep span {
        background-image: url(../images/bg_haftstep.svg);
    }
}

.clear {
    clear: both;
}

.box-viewpassword {
    position: absolute;
    line-height: 0;
    top: 27px;
    right: 25px;
    width: 21px;
    height: 13px;
    cursor: pointer;
    .btn {
        padding: 0;
        border: 0;
        line-height: 0;
        background: none;
    }
    img {
        height: 13px;
    }
}

.sectionform .formpassword .form-control {
    letter-spacing: 0.05cm;
    font-size: 20px;
}

.t_remark {
    font-size: 13px;
    line-height: 16px;
    color: #5F5E60;
    background-image: url(../images/bg_remark.svg);
    background-repeat: no-repeat;
    background-size: 8px auto;
    background-position: 8px -4px;
    padding-top: 8px;
    max-width: 520px;
}

.content_otp {
    padding: 25px 20px 0 20px;
    margin-bottom: 30px;
}

.request_body {
    border-top: 1px solid #A8A8A8;
    padding-top: 20px;
}

.sectionform .box_input_request {
    .control-label {
        margin-bottom: 10px;
    }
    .form-control {
        font-size: 18px;
        line-height: 21px;
        font-family: 'KanitLight';
        font-weight: 300;
        border: 1px solid #D6D6D6;
        border-radius: 10px;
        height: 35px;
        padding: 10px 15px;
        color: #505050;
        &:focus {
        border: 1px solid #53B847;
        }
    }
    .form-group .form-control[readonly] {
        border-color: #D6D6D6;
    }
}

.title_request {
    color: #000;
    font-size: 15px;
    line-height: 21px;
    padding: 2px 0;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url(../images/request_gray.svg);
    background-size: auto 13px;
    &.has_error {
        color: #CB0606;
        background-image: url(../images/request_error.svg);
    }
}

.box_btn_request .btn {
    width: 100%;
    font-size: 15px;
    line-height: 21px;
    color: #fff;
    border-radius: 6px;
    padding: 1px 15px;
    background-color: #53B847;
    &:hover {
        background-color: #505050;
    }
}

.request_head {
    padding-bottom: 25px;
}

.popup_tooltip {
    position: absolute;
    bottom: 60px;
    right: -49px;
    padding-bottom: 13px;
    z-index: 100;
}

.bg_tooltip {
    background-color: rgba(222, 222, 222, 0.95);
    border: 1px solid #e1e1e1;
    width: 293px;
    min-height: 168px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.popup_tooltip h5 {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #706F72;
    margin-bottom: 10px;
    img {
        height: 20px;
        position: relative;
        margin-right: 8px;
        top: 3px;
    }
}

.body_tooltip {
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    > img {
        max-width: 100%;
    }
}

.popup_tooltip {
    display: none;
    font-size: 13px;
    line-height: 16px;
}

.arrow_tooltip {
    position: absolute;
    bottom: -8px;
    right: 55px;
    z-index: 10;
}

.body_tooltip {
    ol {
        margin-left: 20px;
    }
    li {
        strong {
            font-weight: normal;
            color: #53B847;
        }
        letter-spacing: 0.02cm;
    }
}

.title_request_success {
    padding-left: 25px;
    font-size: 13px;
    line-height: 16px;
    color: #149B00;
    background-image: url(../images/icon_success.svg);
    background-repeat: no-repeat;
    background-position: left 0;
    background-size: auto 17px;
    padding-top: 2px;
    position: relative;
    top: -7px;
}

.sectionform .box_input_request {
    .has_success .form-control, .has_error .form-control {
        background-position: 95% center;
        color: #000;
    }
    .has_success .form-control {
        border: 1px solid #149B00;
    }
    .has_error .form-control {
        border: 1px solid #CB0606;
    }
}

.t_sucess {
    font-size: 13px;
    line-height: 16px;
    color: #149B00;
    background-image: url(../images/bg_success.svg);
    background-repeat: no-repeat;
    background-size: 8px auto;
    background-position: 8px -4px;
    padding-top: 8px;
}

.box_input_request {
    .mes_error, .t_sucess {
        padding-left: 10px;
        background-position: 30px -4px;
    }
}

.box_previewdoc {
    line-height: 0;
    margin-bottom: 30px;
    img {
        display: block;
        width: 100%;
    }
}

.box_read_accept {
    text-align: center;
    margin-bottom: 20px;
    a {
        color: #53B847;
        border-bottom: 1px solid #53B847;
        display: inline-block;
        &:hover {
            color: #000;
            border-bottom: 1px solid #000;
        }
    }
    .box_checkradio {
        display: inline-block;
    }
}

.policy_check .box_checkradio {
    display: inline-block;
    margin-right: 30px;
}

.popup_policy {
    .modal-content {
        border: none;
        border-radius: 0;
    }
    .modal-dialog {
        width: 90%;
        max-width: 820px;
        margin: 30px auto;
    }
    .modal-body {
        padding: 35px 60px 0 60px;
        color: #505050;
        font-family: 'KanitLight';
        font-weight: 300;
        hr {
        border-color: #E9E9E9;
        margin: 30px 0;
        }
        h3 {
        position: relative;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 10px;
        &::before {
            height: 1px;
            width: 270px;
            background-color: #707070;
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -135px;
        }
        }
    }
    .close {
        width: 35px;
        height: 35px;
        opacity: 1;
        filter: alpha(opacity = 100);
        top: -15px;
        position: absolute;
        right: -18px;
        img {
        height: 100%;
        }
    }
}

.detail_policy strong {
    color: #22B10D;
}

.popup_policy .modal-body .t_policy {
    color: #58595B;
    font-family: 'KanitLight';
    font-weight: 400;
}

.detail_policy {
    font-size: 18px;
    line-height: 25px;
}

.popup_policy .modal-body ol {
    margin-left: 20px;
    li {
        margin-bottom: 20px;
    }
}

.policy_check {
    margin-top: 20px;
}

.popup_policy .modal-footer {
    text-align: center;
    border: none;
    padding: 0 0 20px 0;
    .btn.btn-green {
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        line-height: 16px;
        min-width: 100px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
    }
}

.regietercomplete .headline h5 {
    color: #149B00;
    font-size: 30px;
    line-height: 23px;
    text-align: center;
}

.content_complete {
    padding: 30px;
    text-align: center;
    color: #5F5E60;
    font-size: 18px;
    line-height: 25px;
}

.regis_no {
    span {
        display: block;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    margin-bottom: 30px;
}

.regis_comp01 {
    max-width: 360px;
    width: 80%;
    margin: 0 auto 30px;
}

.regis_comp02 {
    text-align: left;
    width: 90%;
    max-width: 525px;
    margin: 0 auto 20px;
}

.gister_download {
    img {
        margin-right: 8px;
        position: relative;
        top: 0;
        height: 17px;
    }
    .btn-green {
        border-radius: 20px;
        font-size: 19px;
        line-height: 19px;
        min-width: 170px;
        padding: 6px 10px;
    }
}

.btn_backto .btn.btn-green:hover {
    background-color: #706F72;
    background-image: none;
}

.gister_download {
    .btn-green:hover {
        background-color: #706F72;
        background-image: none;
    }
    margin-bottom: 30px;
}

.btn_backto .btn.btn-green {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    line-height: 16px;
    min-width: 200px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
}

.regis_comp01 img {
    height: 80px;
    margin-bottom: 20px;
}

.form_optioncheck, .form_checkregis_in {
    background-color: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
}

.form_optioncheck {
    padding: 20px;
}

.add_help {
    .box_checkradio {
        position: relative;
        display: inline-block;
        padding-right: 20px;
    }
    .magic-radio + label {
        display: inline-block;
    }
    .box_checkradio .box-help {
        top: 2px;
    }
}

.form_checkregis_in {
    padding: 22px 40px 0 40px;
    margin-top: 10px;
    position: relative;
    // border: 1px solid red;
}

.form_checkregis_in.has-error {
    border: 1px solid red;
}

.form_checkregis_in.has-error .bg_arrowin {
    content:url(../images/arrow_ingray_error.png);
}

.form_checkregis_in.has-error .bg_arrowin.first,
.form_checkregis_in .bg_arrowin.first{
    left:10%;
}
.form_checkregis_in.has-error .bg_arrowin.second,
.form_checkregis_in .bg_arrowin.second{
    right: 44%;
}

.bg_arrowin {
    height: 9px;
    position: absolute;
    top: -9px;
    right: 44%;
    content:url(../images/arrow_ingray.png);
}

.threestep .status_line {
    width: 50%;
}

.box_mainprogress_step.threestep {
    max-width: 550px;
}

.threestep .bg_lineprogress {
    width: 380px;
    left: 85px;
}

.t-preview01, .t-preview02 {
    font-size: 18px;
    line-height: 21px;
    color: $text-color-gray;
}

.box_preview {
    padding: 10px 20px;
}

.formpreview {
    > div:nth-child(even) {
        background-color: #F8F8F8;
    }
    margin-bottom: 30px;
    font-family: 'KanitLight';
    font-weight: 300;
}

.popup_alert {
    .modal-dialog {
        width: 90%;
        max-width: 450px;
        margin: 0 auto;
        top: 25%;
    }
    .modal-content {
        border-radius: 0;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
        text-align: center;
    }
    .modal-header {
        min-height: inherit;
        padding: 0;
        border-bottom: none;
    }
    .modal-body {
        padding: 60px 30px;
    }
    .modal-header .close {
        width: 33px;
        height: 33px;
        opacity: 1;
        line-height: 0;
        margin: 0;
        top: -16px;
        right: -16px;
        position: absolute;
    }
}

.img_alert {
    line-height: 0;
    img {
        height: 50px;
        margin-bottom: 30px;
    }
}

.content_alert {
    font-size: 15px;
    line-height: 21px;
    font-family: 'KanitLight';
    font-weight: 300;
}

.alert_success {
    color: #10A200;
}

.alert_error {
    color: #CB0606;
}

.alert_email {
    color: #505050;
}

.box-btn-request .btn {
    width: 100%;
    font-size: 15px;
    line-height: 21px;
    color: #fff;
    border-radius: 6px;
    background-color: #53B847;
}