$color_1: #65CC59;
$color_2: #F13636;
$color_3: #706F72;
$color_4: #fff;
$color_5: #505050;
$color_6: #17AE06;
$color_7: #5F5E60;
$color_8: #53B847;
$color_9: #A8A8A8;
$color_10: #0E9100;
$color_11: #7A7A7A;
$color_12: #000;
$font_family_1: 'KanitRegular';
$font_family_2: 'KanitLight';
$background_color_1: #F13636;
$background_color_2: #fff;
$background_color_3: #706F72;
$background_color_4: #65CC59;
$background_color_5: #F5F5F5;
$background_color_6: #E8FEE5;
$background_color_7: #F9F9F9;
$background_color_8: rgb(192,225,186);
$background_color_9: unset;
$background_color_10: transparent;
$background_color_11: #BBBBBB;
$background_color_12: #000;
$background_color_13: #e5e5e5;
$background_color_14: #eae8e8;
$border_color_1: #BBBBBB;

/* Override */
ef-pnd90 {
	.ng-select.ng-select-single {
		.ng-select-container {
			.ng-value-container {
				.ng-value {
					font-size: 14px;
				}
			}
		}
	}
	.ng-select.ng-select-searchable {
		.ng-select-container {
			.ng-value-container {
				.ng-input {
					font-size: 14px;
				}
			}
		}
	}
	.ng-select {
		font-size: 14px;
		.ng-placeholder {
			font-size: 14px;
		}
	}
}

/* End of override */

.btn.btn-bordergreen {
	border: 1px solid #65CC59;
	color: $color_1;
	height: 35px;
	min-width: 13px;
	font-size: 15px;
	line-height: 18px;
	display: inline-block;
	border-radius: 35px;
	padding: 8px 5px 10px 5px;
	min-width: 135px;
	background-repeat: no-repeat;
	background-color: $background_color_2;
	&:hover {
		background-color: $background_color_4;
		color: $color_4;
	}
	&:focus {
		background-color: $background_color_4;
		color: $color_4;
	}
}

.btn.btn-borderred {
	border: 1px solid #F13636;
	color: $color_2;
	border: 1px solid #F13636;
	color: $color_2;
	height: 35px;
	min-width: 13px;
	font-size: 15px;
	line-height: 18px;
	display: inline-block;
	border-radius: 35px;
	padding: 8px 5px 10px 5px;
	min-width: 135px;
	background-repeat: no-repeat;
	background-color: $background_color_2;
	&:hover {
		background-color: $background_color_1;
		color: $color_4;
		background-color: $background_color_1;
		color: $color_4;
	}
	&:focus {
		background-color: $background_color_1;
		color: $color_4;
	}
}

.btn.btn-bordergray {
	border: 1px solid #706F72;
	color: $color_3;
	height: 35px;
	min-width: 13px;
	font-size: 15px;
	line-height: 18px;
	display: inline-block;
	border-radius: 35px;
	padding: 8px 5px 10px 5px;
	min-width: 135px;
	background-repeat: no-repeat;
	background-color: $background_color_2;
	&:hover {
		background-color: $background_color_3;
		color: $color_4;
	}
	&:focus {
		background-color: $background_color_3;
		color: $color_4;
	}
}

.btn.bg-icon-add {
	background-image: url(../images/plus-green.svg);
	background-position: 15px center;
	background-size: auto 15px;
	padding-left: 20px;
	background-image: url(../images/plus-green.svg);
	background-position: 15px center;
	background-size: auto 15px;
	padding-left: 20px;
}

.bg-icon-add {
	&:hover {
		background-image: url(../images/plus-white.svg);
		background-image: url(../images/plus-white.svg);
	}
	&:focus {
		background-image: url(../images/plus-white.svg);
		background-image: url(../images/plus-white.svg);
	}
}

.btn.bg-icon-edit {
	background-image: url(../images/icon-edit-green.svg);
	background-position: 20px center;
	background-size: auto 15px;
	padding-left: 28px;
}

.bg-icon-edit {
	&:hover {
		background-image: url(../images/icon-edit-white.svg);
	}
	&:focus {
		background-image: url(../images/icon-edit-white.svg);
	}
}

.boxviewdata-in {
	.box-id {
		width: 300px;
	}
	.form-listradio {
		margin-bottom: 20px;
	}
	.form-listradio.last-child {
		margin-bottom: 0;
		.title-formcheck {
			margin-bottom: 0;
		}
	}
}

.t-titledata {
	margin-bottom: 20px;
	line-height: 20px;
}

.form-listradio {
	>div {
		display: inline-block;
		margin-right: 50px;
		margin-bottom: 10px;
	}
	>div.sub-formcheck {
		>div {
			display: inline-block;
			margin-right: 50px;
			margin-bottom: 10px;
		}
		display: block;
		margin-right: 0;
		padding-left: 30px;
	}
	>div.title-formcheck {
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.box-formcheck {
	.title-formcheck {
		.magic-radio {
			&+label {
				color: $color_5;
				font-family: $font_family_1;
			}
		}
	}
}

.td-form-other {
	.form-listradio {
		>div {
			margin-right: 40px;
			margin-bottom: 0;
			margin-right: 40px;
			margin-bottom: 0;
		}
		margin-left: 40px;
		margin-left: 40px;
	}
	>div {
		display: inline-block;
	}
}

.payment-gov {
	.form-listradio {
		padding-top: 30px;
		padding-top: 30px;
	}
}

.contenttab-sec01 {
	.box-textinput {
		>div.form-listradio {
			padding: 9px 0;
		}
	}
	.box-td-btnleft {
		padding: 0;
		margin: 0;
	}
}

.box-form-infomation {
	.control-label {
		font-size: 15px;
		line-height: 15px;
		font-family: $font_family_2;
		color: $color_3;
	}
	.box-input {
		margin-bottom: 30px;
		position: relative;
		.form-control {
			height: 35px;
			border: 1px solid #BBBBBB;
			border-radius: 5px;
			color: $color_3;
			box-shadow: none;
			-webkit-box-shadow: none;
			-o-box-shadow: none;
			-moz-box-shadow: none;
			width: 100%;
		}
	}
	.form-group {
		width: 100%;
		.box-input {
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.form-input-gov {
		.box-input {
			margin-bottom: 15px;
			margin-bottom: 15px;
		}
	}
}

.box-form-infomation.form-inline {
	label.control-label {
		margin-bottom: 25px;
		height: 35px;
		padding: 7px 0 10px 0;
		margin-right: 15px;
	}
	.box-formcheck {
		margin-bottom: 25px;
		height: 35px;
		padding: 7px 0 10px 0;
		margin-right: 15px;
	}
	label.control-label.request {
		&::after {
			position: relative;
		}
	}
	.box-input.input-group.date {
		display: inline-block;
		width: auto;
	}
}

label.request {
	&::after {
		position: absolute;
		color: $color_2;
		right: 0;
		top: 0;
		content: '*';
		font-size: 15px;
		line-height: 15px;
	}
}

.formaddress {
	.box-form-infomation {
		.form-group {
			.box-input {
				margin-right: 20px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

.box-form-gray {
	border: 1px solid #ECECEC;
	padding: 15px;
	border-radius: 5px;
	background-color: $background_color_5;
	margin-bottom: 30px;
	padding-bottom: 0;
	.form-inline {
		.box-formcheck {
			margin-bottom: 15px;
			padding: 9px 0 10px 0;
		}
	}
	.form-group {
		.box-input {
			margin-bottom: 15px;
			padding: 9px 0 10px 0;
		}
	}
	.box-form-infomation.form-inline {
		label.control-label {
			margin-bottom: 15px;
			padding: 9px 0 10px 0;
		}
	}
}

.icon-info {
	position: absolute;
	right: -25px;
	top: 9px;
	z-index: 1;
	cursor: pointer;
}

.width60 {
	width: 60px;
}

.width80 {
	width: 82px;
}

.width100 {
	width: 100px;
}

.width120 {
	width: 120px;
}

.width150 {
	width: 150px;
}

.width180 {
	width: 180px;
}

.width200 {
	width: 215px;
}

.width230 {
	width: 230px;
}

.width250 {
	width: 250px;
}

.width260 {
	width: 260px;
}

.width350 {
	width: 350px;
}

.width380 {
	width: 380px;
}

.body-tab-control {
	padding: 30px 40px;
	>h3 {
		margin-bottom: 25px;
	}
	h3 {
		font-size: 20px;
		margin-bottom: 25px;
	}
}

.control-formtable {
	.table {
		thead {
			th {
				border: none;
			}
		}
		td {
			padding: 0;
			border: none;
			font-family: $font_family_2;
			strong {
				font-family: $font_family_1;
				font-weight: normal;
			}
		}
		th {
			padding: 0;
			border: none;
			font-family: $font_family_2;
		}
		margin-bottom: 0;
		min-width: 1000px;
		min-width: 1000px;
		margin-bottom: 0;
		.box-table-cleardata {
			tr.firstinput {
				td {
					vertical-align: middle;
				}
				>td {
					padding: 14px 0 14px 8px;
					&:last-child {
						padding-right: 8px;
					}
				}
			}
		}
		.box-keycolumn02 {
			td {
				padding: 0 4px;
				padding: 0 4px;
			}
		}
	}
	table.tableform {
		tr {
			td {
				border-bottom: 1px solid #E6E6E6;
				padding: 4px 8px;
				height: 50px;
				vertical-align: middle;
			}
			&:last-child {
				td {
					border-bottom: none;
				}
			}
		}
	}
	.control-table-field {
		table {
			tr {
				td {
					height: 50px;
					vertical-align: middle;
					padding: 4px;
					border-bottom: 1px solid #E6E6E6;
					&:first-child {
						padding-left: 8px;
					}
					&:last-child {
						padding-right: 8px;
					}
				}
				&:last-child {
					td {
						border-bottom: none;
					}
				}
			}
		}
	}
	.box-formtabletotal {
		table {
			tr {
				td {
					height: 50px;
					vertical-align: middle;
					padding: 4px;
				}
			}
		}
		.box-inputtotal {
			table {
				tr {
					td {
						padding-left: 8px;
					}
				}
			}
		}
	}
	.table-responsive {
		overflow-y: hidden;
	}
	.box-tableformset.box-rmf {
		>table {
			>tbody {
				>tr {
					>td {
						padding: 13px 7px;
						border-bottom: 1px solid #E6E6E6;
						vertical-align: middle;
						padding: 13px 7px;
						border-bottom: 1px solid #E6E6E6;
						vertical-align: middle;
					}
					&:first-child {
						>td {
							padding-top: 0;
							padding-right: 0;
							border: none;
							padding-top: 0;
							padding-right: 0;
							border: none;
						}
					}
				}
			}
		}
	}
	tr {
		&:last-child {
			.box-tableformset {
				margin-bottom: 0;
			}
		}
	}
}

.box-table-cleardata {
	.tablenopadding {
		tr {
			td {
				padding: 0 !important;
				height: auto !important;
			}
		}
	}
	background-color: $background_color_7;
	table {
		width: 100%;
	}
	.text-total.form-addoption {
		float: left;
		width: 100%;
		position: relative;
		top: 9px;
	}
	.text-total.form-addoption.nonefield {
		top: 0;
		top: 0;
	}
}

.table {
	.bg-green {
		background-color: $background_color_6;
	}
	.bg-gray {
		background-color: $background_color_5;
	}
	.bg-white {
		background-color: $background_color_2;
	}
}

.control-table-field {
	border: 1px dashed #C4C4C4;
	border-radius: 5px;
	position: relative;
	top: -5px;
	padding: 4px 0;
	margin-left: 7px;
}

.box-formtabletotal {
	background-color: $background_color_7;
	border-radius: 5px;
	border: 1px solid #ECECEC;
}

.input-textright {
	.form-control {
		text-align: right;
	}
}

.input-textcenter {
	.form-control {
		text-align: center;
	}
}

.box-td-btnleft {
	margin: 15px 0;
	padding: 0 8px;
}

.sec-tax-attach {
	.box-td-btnleft {
		padding: 0;
		margin: 0;
		padding: 0;
		margin: 0;
	}
	border: 1px dashed #C4C4C4;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 30px;
	.table {
		margin-bottom: 0;
		thead {
			th {
				padding: 0;
				border: none;
			}
		}
		tbody {
			td {
				padding: 5px;
				vertical-align: middle;
				border-top: none;
			}
			tr {
				&:last-child {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}
		tfoot {
			td {
				padding: 15px 0 0 0;
			}
		}
	}
	.form-control {
		padding: 10px;
	}
}

.box-tableformset {
	margin-bottom: 30px;
	margin-bottom: 30px;
	.form-control {
		height: 35px;
		padding: 5px 4px;
		color: $color_7;
		font-size: 14px;
		line-height: 19px;
		border: 1px solid #BBBBBB;
		border-radius: 5px;
	}
	select.form-control {
		height: 35px;
		padding: 5px 15px;
		color: $color_7;
		font-size: 15px;
		line-height: 19px;
		border: 1px solid #BBBBBB;
		background-color: $background_color_2;
		border-radius: 5px;
		background-image: url(../images/bg_select.svg);
		background-repeat: no-repeat;
		background-position: 98% center;
		background-size: auto 8px;
		appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		-webkit-appearance: none;
		cursor: pointer;
	}
	.control-table-field {
		select.form-control {
			background-position: 95% center;
		}
	}
	.box-textinput {
		.fieldwidth80 {
			width: 80px;
    }
    .fieldwidth90 {
      width: 90px;
    }
		.fieldwidth110 {
			width: 110px;
		}
		.fieldwidth180 {
			width: 180px;
		}
		.fieldwidth200 {
			width: 200px;
		}
		.fieldwidth250 {
			width: 250px;
		}
		.fieldwidth400 {
			width: 400px;
    }
    .fieldwidth510 {
			width: 510px;
		}
	}
	.box-insertdetail {
		.form-control {
			padding: 5px 15px;
		}
	}
	.fieldwidth110 {
		background-position: 90% center;
	}
	.fieldwidth80 {
		background-position: 90% center;
	}
	.fieldwidth200 {
		background-position: 95% center;
	}
	.fieldwidth250 {
		background-position: 95% center;
	}
	.input-group {
		.form-control {
			border-radius: 5px;
		}
	}
	.input-true-add {
		.form-control {
			width: 70px;
			border-color: $border_color_1;
			margin-left: 10px;
			position: relative;
			top: -10px;
		}
	}
}

.body-formpopup {
	.table-responsive {
		overflow-x: hidden;
	}
}

.box-rmf {
	.box-title-input {
		padding-left: 8px;
	}
}

.content-tax-attach {
	.control-formtable {
		.box-tableformset.box-rmf {
			>table {
				>tbody {
					>tr {
						&:first-child {
							>td {
								padding: 13px 7px;
								border-bottom: 1px solid #E6E6E6;
								vertical-align: middle;
							}
						}
						>td {
							padding: 7px;
							height: 50px;
						}
					}
					>tr.td-headline {
						>td {
							padding: 25px 0;
							font-weight: bold;
							border-bottom: none;
						}
					}
					>tr.box-top {
						>td {
							vertical-align: top;
							padding-right: 0;
							overflow: hidden;
						}
					}
				}
			}
		}
	}
	.text-type-green {
		margin-bottom: 15px;
	}
	.box-keycolumn02 {
		.form-control {
			width: 190px;
			display: inline-block;
		}
	}
}

.table-tax-attach.control-formtable {
	.table {
		thead {
			th {
				vertical-align: middle;
				padding: 0 7px;
				vertical-align: middle;
				padding: 0 7px;
				.text-type-green {
					margin-bottom: 0;
				}
			}
		}
	}
}

.box-column01 {
	width: 370px;
}

.box-column02 {
	width: 340px;
}

.box-column03 {
	width: 710px;
}

.box-column04 {
	width: 610px;
}

.box-column05 {
	width: 367px;
}

.box-head-title {
	text-align: center;
	max-width: 246px;
	margin: 0 auto;
	margin-bottom: 15px;
	.btn.btn-bordergreen {
		font-size: 18px;
		line-height: 27px;
		border-width: 2px;
		min-width: 220px;
		display: inline-block;
		padding: 0 5px;
	}
}

.text-type-green {
	font-size: 15px;
	line-height: 19px;
	color: $color_6;
	font-family: $font_family_1;
	min-width: 100px;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	background-color: $background_color_6;
	padding: 3px;
	margin-bottom: 7px;
}

.text-type-gray {
	font-size: 13px;
	line-height: 19px;
}

.body-collapse {
	.box-tableformset {
		.box-insertdetail {
			.form-control {
				padding: 5px 10px;
				width: 100%;
			}
		}
		.form-control {
			width: 180px;
			width: 180px;
		}
	}
	.table {
		>tbody {
			>tr.subrow {
				.box-keycolumn02 {
					table {
						position: relative;
						left: -12px;
					}
				}
			}
			>tr {
				>td {
					text-align: unset;
					padding: 7px 15px;
					border: none;
					font-family: $font_family_2;
					vertical-align: middle;
					border-bottom: 1px solid #E6E6E6;
					height: 50px;
				}
			}
			>tr.td-insertdetail {
				>td {
					padding: 0;
				}
			}
		}
		td.box-keycolumn02 {
			table {
				tbody {
					>tr {
						>td {
							&:last-child {
								padding-right: 0;
								padding-right: 0;
							}
						}
					}
				}
			}
		}
		.box-keycolumn02 {
			td {
				padding: 0 4px;
				border: none;
				vertical-align: middle;
			}
		}
	}
	.table-insertdetail {
		.table {
			tr {
				td {
					border-bottom: none;
				}
			}
		}
	}
}

.control-contenttab {
	.box-textinput {
		.form-control {
			padding: 5px 15px;
		}
	}
	.body-collapse {
		.box-tableformset {
			.form-control {
				width: 170px;
			}
		}
	}
	.body-table-list {
		tbody {
			tr.bg-green {
				border-bottom: 1px solid #B6DDB1;
			}
		}
		.table {
			>tbody {
				>tr.bg-green {
					>td {
						background-color: $background_color_6;
						color: $color_10;
					}
				}
			}
		}
	}
}

.set-collapse {
	.box-tableformset {
		.table {
			margin: 0;
			margin: 0;
		}
		margin: 0;
		margin: 0;
	}
	margin-bottom: 4px;
}

.control-contenttab.box-tableformset {
	margin: 0;
}

.step-taxform.fourstep {
	.bg-lineprogress {
		width: 545px;
		left: 75px;
	}
	max-width: 700px;
}

.popup-tooltip {
	position: absolute;
	right: -88px;
	padding-bottom: 13px;
	z-index: 9;
	display: none;
	font-size: 13px;
	line-height: 16px;
	h5 {
		text-align: center;
		font-size: 20px;
		line-height: 25px;
		color: $color_3;
		margin-bottom: 5px;
		img {
			height: 20px;
			position: relative;
			margin-right: 8px;
			top: 3px;
		}
	}
}

.bg-tooltip {
	background-color: $background_color_8;
	border: 1px solid rgb(188,188,188);
	width: 293px;
	border-radius: 20px;
	padding: 5px 10px 10px 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.body-tooltip {
	border-radius: 5px;
	background-color: $background_color_2;
	padding: 10px;
	>img {
		max-width: 100%;
	}
	ol {
		margin-left: 20px;
	}
	li {
		strong {
			font-weight: normal;
			color: $color_8;
		}
		letter-spacing: 0.02cm;
	}
}

.arrow-tooltip {
	position: absolute;
	bottom: -8px;
	right: 55px;
	z-index: 10;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid rgba(192,225,186,0.8);
	position: absolute;
	right: 60px;
	z-index: 1;
	bottom: 2;
}

.box-sideleft {
	nav {
		>button {
			width: 60px;
			height: 60px;
			background-color: $background_color_2;
			border: none;
			padding: 0;
			text-align: center;
			margin-top: 0px;
			color: $color_5;
			font-size: 12px;
			text-align: center;
			border-radius: 0 5px 5px 0;
			-webkit-border-radius: 0 5px 5px 0;
			box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-o-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			float: right;
			img {
				height: 16px;
				margin: 5px auto 5px;
				display: block;
			}
			span {
				display: block;
				padding-left: 0;
			}
		}
		>button.menu-active {
			img {
				display: none;
			}
			span {
				display: none;
			}
			border-radius: 0;
			-webkit-border-radius: 0;
			box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-o-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			border: 1px solid #E6E6E6;
			width: 45px;
			height: 45px;
			background-position: center center;
			background-repeat: no-repeat;
			margin-right: 15px;
			background-image: url(../images/arrow-left-gray01.svg);
		}
	}
	position: absolute;
	top: 80px;
	z-index: 100;
	.cbp-spmenu {
		background: none;
		position: fixed;
		top: 160px;
		overflow: inherit;
	}
	.cbp-spmenu-left.menu-open {
		left: 0;
	}
	.cbp-spmenu-left {
		left: -350px;
	}
	.inner-sidebar {
		width: 350px;
		float: left;
		background-color: $background_color_2;
		border-radius: 0;
		padding: 0;
		height: 100%;
		border: 1px solid #E6E6E6;
		box-shadow: 0 3px 6px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
		-o-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
	}
	.cbp-spmenu-vertical {
		width: 340px;
	}
	.side-navi-item {
		width: auto;
		height: auto;
		background-color: $background_color_10;
		left: 350px;
		.btn {
			box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-o-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			width: 60px;
			height: 60px;
			background-color: $background_color_2;
			border: none;
			padding: 0;
			text-align: center;
			margin-top: 0px;
			color: $color_5;
			font-size: 12px;
			line-height: 12px;
			border-radius: 0 5px 5px 0;
			-webkit-border-radius: 0 5px 5px 0;
			img {
				height: 16px;
				margin: 5px auto 5px;
				display: block;
			}
			span {
				display: block;
				padding-left: 0;
			}
		}
		&:hover {
			background-color: $background_color_10;
			color: $color_5;
		}
	}
	.side-navi-item.active {
		.btn {
			img {
				display: none;
			}
			span {
				display: none;
			}
			border-radius: 0;
			-webkit-border-radius: 0;
			box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-o-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			border: 1px solid #E6E6E6;
			width: 45px;
			height: 45px;
			background-position: center center;
			background-repeat: no-repeat;
			margin-right: 15px;
			background-image: url(../images/arrow-left-gray01.svg);
		}
		background-color: $background_color_10;
		color: $color_5;
	}
	.side-navi-item.item1 {
		top: 0;
	}
	.side-navi-item.item2 {
		top: 70px;
	}
	.tab-income02 {
		.inner-sidebar {
			width: 350px;
		}
	}
}

.box-sideright {
	nav {
		>button {
			width: 60px;
			height: 60px;
			background-color: $background_color_2;
			border: none;
			padding: 0;
			text-align: center;
			margin-top: 0px;
			color: $color_5;
			font-size: 12px;
			text-align: center;
			border-radius: 5px 0 0 5px;
			-webkit-border-radius: 5px 0 0 5px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-o-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			float: left;
			img {
				height: 16px;
				margin: 5px auto 5px;
				display: block;
			}
			span {
				display: block;
				padding-left: 0;
			}
		}
		>button.menu-active {
			img {
				display: none;
			}
			span {
				display: none;
			}
			border-radius: 0;
			-webkit-border-radius: 0;
			box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-o-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
			border: 1px solid #E6E6E6;
			width: 45px;
			height: 45px;
			background-position: center center;
			background-repeat: no-repeat;
			margin-left: 15px;
			background-image: url(../images/arrow-right-gray01.svg);
		}
	}
	position: absolute;
	top: 80px;
	z-index: 100;
	right: 0;
	.cbp-spmenu {
		background: none;
		position: fixed;
		top: 160px;
		overflow: inherit;
	}
	.cbp-spmenu-right {
		right: -350px;
	}
	.inner-sidebar {
		width: 350px;
		float: left;
		background-color: $background_color_2;
		border-radius: 0;
		padding: 0;
		box-shadow: 0 3px 6px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
		-o-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
	}
	.cbp-spmenu-vertical {
		width: 410px;
	}
}

.sidebar-tab {
	font-family: $font_family_2;
	color: $color_5;
	strong {
		font-family: $font_family_1;
		font-weight: normal;
	}
	.tab-content {
		display: none;
		background-color: $background_color_2;
		padding: 0;
	}
	>.tab-content {
		min-height: 350px;
	}
	>ul.tabs {
		>li {
			background-repeat: no-repeat;
			background-image: url(../images/shadow-tab-right.svg);
			background-position: right top;
			cursor: pointer;
			&:last-child {
				background-position: left top;
				background-image: url(../images/shadow-tab-left.svg);
			}
		}
		>li.current {
			background-color: $background_color_2;
			color: $color_6;
			&:first-child {
				background-image: none;
			}
			&:last-child {
				background-image: none;
			}
		}
	}
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	li {
		background-color: $background_color_5;
		color: $color_9;
		font-size: 16px;
		line-height: 14px;
		display: inline-block;
		padding: 15px 10px;
		cursor: pointer;
		float: left;
		width: 50%;
		text-align: center;
	}
}

.tab-content.current {
	display: inherit;
}

ul.boxtabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	li {
		background-color: $background_color_5;
		color: $color_9;
		font-size: 16px;
		line-height: 14px;
		display: inline-block;
		padding: 10px 10px;
		cursor: pointer;
		float: left;
		width: 50%;
		text-align: center;
	}
	>li.active {
		background-color: $background_color_4;
		color: $color_4;
		text-shadow: 0 2px 0px rgba(0,0,0,0.30);
		-webkit-text-shadow: 0 2px 0px rgba(0,0,0,0.30);
		-o-text-shadow: 0 2px 0px rgba(0,0,0,0.30);
		-moz-text-shadow: 0 2px 0px rgba(0,0,0,0.30);
	}
}

.table-listsum-income {
	.table {
		td {
			padding: 13px 15px;
			vertical-align: middle;
			border-top: 1px solid #DFDFDF;
		}
		border: 1px solid #DFDFDF;
		border-top: none;
		margin-bottom: 0;
	}
}

.tab-content-in {
	display: none;
	background-color: $background_color_2;
	padding: 0;
}

.tab-content-in.active {
	display: inherit;
}

.content-listincome {
	float: left;
	width: 100%;
	padding: 15px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: inherit !important;
}

.t-green {
	color: $color_10;
}

.control-allowance {
	.btn {
		width: 100%;
		font-size: 14px;
		line-height: 21px;
		color: $color_5;
		display: contents;
		text-align: left;
		padding: 11px 15px;
	}
	.btn-group {
		display: block;
	}
	ul {
		li {
			&:not(.not-border) {
				border-bottom: 1px solid #E6E6E6;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.dropdown-toggle {
		&::after {
			position: absolute;
			right: 15px;
			top: 14px;
			content: url(../images/arrow-right-gray01.svg);
			border: none;
			padding: 0;
			line-height: 0;
		}
	}
	.dropdown-toggle.rotate {
		&::after {
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
	.dropright {
		.dropdown-menu {
			margin-left: 1px;
			background-color: $background_color_5;
			width: 350px;
			>h5 {
				color: $color_5;
				font-size: 16px;
				line-height: 20px;
				padding: 15px;
				border-bottom: 1px solid #E6E6E6;
				font-family: $font_family_1;
			}
		}
	}
	.dropdown-menu {
		border-radius: 0;
		ul {
			li {
				.dropdown-item {
					font-size: 16px;
					line-height: 21px;
					color: $color_5;
					display: block;
					text-align: left;
					padding: 12px 15px;
					background-color: $background_color_10;
					position: relative;
				}
			}
		}
		.boxcheckbox {
			span {
				font-size: 14px;
				line-height: 15px;
				color: $color_5;
			}
		}
		.magic-checkbox {
			&+label {
				&:after {
					top: 3px;
				}
			}
		}
	}
	.magic-checkbox {
		&+label {
			&:before {
				top: 1px;
				left: 0;
			}
		}
	}
	.dropdown-item {
		white-space: normal;
	}
}

button.btn-clear-style {
	background-color: $background_color_9;
	border: unset;
}

.box-sideleft.sidebar-allowance {
	.cbp-spmenu-vertical {
		width: 520px;
		height: auto;
	}
	.cbp-spmenu-left {
		left: -350px;
	}
	.cbp-spmenu-left.menu-open {
		left: 0;
	}
	.inner-sidebar {
		width: 350px;
	}
}

.sidebar-allowance {
	.inner-sidebar-in {
		position: relative;
		.popup-tooltip {
			right: 40px;
			bottom: -18px;
			left: auto;
			padding: 0;
		}
	}
}

.boxcheckbox.checkedall {
	position: absolute;
	right: 20px;
	top: 17px;
	z-index: 10;
	span {
		font-size: 14px;
		line-height: 16px;
		color: $color_5;
		cursor: pointer;
	}
}

#sideNavi.box-sideleft.tab01 {
	left: -350px;
}

.box-sideleft.tab01 {
	.side-navi-item {
		left: 350px;
	}
}

#sideNavi.box-sideleft.tab02 {
	left: -350px;
}

.box-sideleft.tab02 {
	.side-navi-item {
		left: 350px;
	}
}

.side-navi-data {
	.inner-sidebar-in {
		.popup-tooltip {
			right: 40px;
			bottom: -18px;
			left: auto;
			padding: 0;
		}
	}
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $background_color_13;
}

.inner-sidebar-in {
	>h5 {
		color: $color_5;
		font-size: 20px;
		line-height: 20px;
		padding: 15px;
		border-bottom: 1px solid #E6E6E6;
	}
	.popup-tooltip {
		right: auto;
		left: 010px;
		h5 {
			font-size: 16px;
			line-height: 18px;
		}
	}
	.bg-tooltip {
		width: 100%;
	}
	.triangle-down {
		right: 41px;
		display: none;
	}
	.body-tooltip {
		span {
			display: block;
			font-family: $font_family_2;
		}
	}
	.list-income {
		li {
			&:first-child {
				.popup-tooltip {
					bottom: auto;
					top: 5px;
				}
			}
		}
	}
	.scrollbar-outer {
		>.scroll-content.scroll-scrolly_visible {
			left: 0;
			margin-left: 0;
		}
	}
}

.list-income {
	>li {
		border-bottom: 1px solid #E6E6E6;
	}
	li {
		&:nth-child(even) {
			background-color: $background_color_5;
		}
	}
}

.box-list-statute {
	padding: 15px 45px 8px 15px;
	position: relative;
	label {
		strong {
			font-family: $font_family_1;
		}
	}
	.magic-checkbox {
		&+label {
			font-size: 14px;
			line-height: 19px;
			font-family: $font_family_2;
			color: $color_5;
			span {
				position: relative;
				top: -4px;
			}
		}
	}
	.boxcheckbox {
		label {
			font-size: 14px;
			line-height: 19px;
			font-family: $font_family_2;
			color: $color_5;
		}
	}
	.body-tooltip {
		padding: 5px;
	}
	.popup-tooltip {
		h5 {
			img {
				height: 16px;
				position: relative;
				margin-right: 8px;
				top: 2px;
			}
		}
	}
}

.box-list-statute.reduce {
	background-color: $background_color_5;
}

label.reduce-label-detail {
	span {
		font-size: 14px;
		line-height: 19px;
		font-family: $font_family_2;
		color: $color_5;
	}
}

.card-reduce-header {
	padding: 0.25rem 0.75rem;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.list-reduce {
	li {
		&:nth-child(even) {
			background-color: $background_color_5;
		}
	}
}

.box-help-pnd90 {
	position: absolute;
	right: 15px;
	top: 12px;
	z-index: 10;
	.click-help {
		line-height: 0;
		display: inline-block;
		cursor: pointer;
	}
}

.control-listincome {
	>div {
		max-height: calc(100vh - 215px);
		overflow-y: auto;
	}
	.scrollbar-outer {
		>.scroll-element.scroll-y {
			width: 4px;
			.scroll-element_outer {
				width: 4px;
				left: 0;
			}
			.scroll-bar {
				height: 50px !important;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				cursor: pointer;
			}
		}
		>.scroll-element {
			.scroll-element_outer {
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
			}
			.scroll-element_track {
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				background-color: $background_color_2;
			}
			.scroll-bar {
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				background-color: $background_color_11;
			}
		}
		>.scroll-content.scroll-scrolly_visible {
			left: 0;
			margin-left: 0;
		}
	}
	height: 100%;
}

.form-addoption {
	strong {
		float: left;
		margin-right: 10px;
	}
	.magic-radio {
		&+label {
			&:before {
				box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-o-box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-moz-box-shadow: 0 0 0 rgba(0,0,0,0.16);
			}
		}
	}
	.magic-checkbox {
		&+label {
			&:before {
				box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-o-box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-moz-box-shadow: 0 0 0 rgba(0,0,0,0.16);
			}
		}
	}
	.td-check {
		position: relative;
		top: 2px;
		>div {
			float: left;
		}
	}
}

.form-checkpayment {
	.td-check {
		margin-bottom: 10px;
		line-height: 20px;
		margin-bottom: 10px;
		line-height: 20px;
		&:last-child {
			margin-bottom: 5px;
			margin-bottom: 5px;
		}
	}
	width: 240px;
	margin: 0 auto;
	position: relative;
	padding-left: 20px !important;
	padding: 10px 0;
}

.form-checkpayment.checksalary {
	.td-check {
		margin: 0 30px 15px 0;
		margin: 0 30px 15px 0;
	}
	width: 240px;
	margin: 0 auto;
	position: relative;
	padding-left: 20px !important;
	padding-left: 35px !important;
	.magic-checkbox {
		&+label {
			font-size: 16px;
			line-height: 15px;
		}
	}
}

.table-listbonus {
	.td-check {
		width: 16px;
		height: 16px;
		margin: 0 auto;
		display: inline-block;
	}
}

.popup-summary {
	.modal-dialog {
		max-width: 90%;
		width: 1024px;
		background-color: $background_color_2;
		border-radius: 5px;
		border: 1px solid #E6E6E6;
		background-position: left top;
		background-image: url(../images/bg-popupleft.png);
		background-repeat: no-repeat;
	}
	.modal-content {
		max-width: 860px;
		width: 100%;
		margin: 0 auto;
		border: none;
		border-radius: 5px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.05);
		-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.05);
		-o-box-shadow: 0 3px 6px rgba(0,0,0,0.05);
		-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.05);
	}
	.table-listsum-income {
		.table {
			border: none;
			color: $color_5;
			font-size: 16px;
			font-family: $font_family_2;
		}
		tr {
			th {
				font-size: 22px;
				border-top: none;
				border-bottom: none;
			}
		}
	}
}

.control-bgbottom {
	background-position: right bottom;
	background-image: url(../images/bg-popupright.png);
	background-repeat: no-repeat;
	padding: 65px 30px;
}

.t-green02 {
	color: $color_6;
}

.sec-agreement {
	ol {
		counter-reset: item;
		padding-left: 25px;
		list-style-position: inside;
		>li {
			display: block;
			&:before {
				content: counters(item, ".") " ";
				counter-increment: item;
			}
		}
	}
	>ol {
		padding-left: 0;
		>li {
			font-weight: bold;
		}
	}
	li {
		margin-bottom: 10px;
		line-height: 24px;
	}
}

.sec-taxsummary {
	>h5 {
		display: block;
		color: $color_5;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 30px;
		font-family: $font_family_1;
	}
	margin-bottom: 30px;
}

.content-taxsummary {
	font-family: $font_family_2;
	strong {
		font-family: $font_family_1;
	}
	.table {
		margin-bottom: 0;
		td {
			font-size: 16px;
			line-height: 21px;
			vertical-align: middle;
			padding: 13px 15px;
			border-top: none;
			border-bottom: 1px solid #E6E6E6;
		}
		tr.bg-green {
			td {
				border: none;
			}
		}
	}
}

.box-sum-table {
	table.table {
		tr.bg-green {
			td {
				background-color: $background_color_6;
			}
		}
	}
}

.t-underline {
	text-decoration: underline;
}

.box-gray {
	background-color: $background_color_5;
	border-bottom: 1px solid #E6E6E6;
	padding: 15px;
}

.taxsummary-payment {
	p {
		margin-bottom: 20px;
		font-family: $font_family_1;
	}
	.box-inputgroup {
		.col-form-label {
			line-height: 16px;
		}
	}
}

.payment-gov-in {
	position: relative;
}

.input-gov-in {
	position: relative;
	padding-right: 40px;
	.t-unit {
		position: absolute;
		right: 0;
		top: 31px;
	}
	label {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 5px;
	}
}

.box-inputgroup {
	.form-control {
		height: 35px;
		border: 1px solid #BBBBBB;
		border-radius: 5px;
		color: $color_3;
		box-shadow: none;
		-webkit-box-shadow: none;
		-o-box-shadow: none;
		-moz-box-shadow: none;
		width: 100%;
	}
}

.taxsummary-grap {
	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
}

.taxsummary-graph {
	height: 375px;
	padding: 30px;
}

.popup-agreement {
	.modal-dialog {
		width: 90%;
		max-width: 1170px;
		color: $color_7;
	}
	.modal-content {
		padding: 40px;
		color: $color_5;
	}
}

.headline-agreement {
	text-align: center;
	border-bottom: 1px solid #D7D7D7;
	padding-bottom: 30px;
	margin-bottom: 30px;
	h2 {
		font-size: 35px;
		line-height: 40px;
		max-width: 750px;
		margin: 0 auto;
		width: 80%;
	}
}

.body-agreement {
	border-bottom: 1px solid #D7D7D7;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.text-remark {
	margin-bottom: 10px;
	line-height: 24px;
	border: 1px solid #E9E9E9;
	background-color: $background_color_5;
	padding: 10px;
}

.box-sec-agreement {
	>ul {
		>li {
			padding-left: 25px;
		}
		>ul {
			padding-left: 60px;
		}
	}
	margin-bottom: 30px;
}

.footer-agreement {
	.btn.btn-green {
		border-radius: 25px;
	}
	.check-agreement {
		text-align: center;
	}
	.box-checkbox {
		display: inline-block;
	}
}

.taxsummary-listpayment {
	margin-top: 10px;
	p {
		margin-bottom: 10px;
	}
	ul {
		li {
			margin-bottom: 5px;
		}
	}
}

.text-input {
	text-align: right;
	color: $color_7;
	font-size: 15px;
	line-height: 19px;
	padding-right: 10px;
}

.box-input-pct {
	>div {
		float: left;
	}
	.form-control {
		width: 80px;
	}
}

.t-pct {
	margin-left: 10px;
	padding: 10px 0;
}

.input-textleft {
	.form-control {
		text-align: left;
	}
}

.input-textleft.input-group.fieldwidth180 {
	display: inline-block;
	width: 180px;
}

.control-upfile-in {
	.input-textleft {
		margin-right: 15px;
	}
}

.box-td-btnright {
	text-align: right;
}

.box-keycolumn02 {
	table {
		width: 100%;
	}
	.magic-radio {
		&+label {
			&:before {
				box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-o-box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-moz-box-shadow: 0 0 0 rgba(0,0,0,0.16);
			}
		}
	}
	.magic-checkbox {
		&+label {
			&:before {
				box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-o-box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-moz-box-shadow: 0 0 0 rgba(0,0,0,0.16);
			}
			line-height: 18px;
		}
	}
}

.content-taxcopy {
	border: 1px solid #E6E6E6;
	background-color: $background_color_2;
	border-radius: 5px;
	padding: 40px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.05);
	-o-box-shadow: 0 3px 6px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}

.t-center {
	text-align: center;
}

.t-input-list {
	margin-left: 20px;
	font-size: 15px;
	line-height: 21px;
}

.box-payment-year {
	>div {
		float: left;
	}
	.width120 {
		.form-control {
			width: 120px;
			display: inline-block;
		}
	}
	.width40 {
		.form-control {
			width: 40px;
			display: inline-block;
		}
	}
}

.t-unit-x {
	margin: 0 10px;
	position: relative;
	top: 5px;
}

.form-tabtaxdata {
	.nopaddingright {
		padding-right: unset;
		padding-left: unset;
	}
}

.ant-tabs-bar {
	border-bottom: none !important;
}

.ant-tabs.ant-tabs-card {
	.ant-tabs-card-bar {
		.ant-tabs-nav-container {
			height: auto !important;
		}
	}
}

.ant-tabs-tab.ant-tabs-tab-active {
	background-color: $background_color_4 !important;
	color: $color_4 !important;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.16) !important;
	-webkit-text-shadow: 0 2px 0 rgba(0, 0, 0, 0.16) !important;
	-moz-text-shadow: 0 2px 0 rgba(0, 0, 0, 0.16) !important;
}

.ant-tabs-tab {
	background: none !important;
	border: none !important;
	font-size: 15px !important;
	line-height: 15px !important;
	padding: 14px 10px !important;
	display: inline-block !important;
	border-radius: 100px !important;
	color: $color_11 !important;
}

.content-taxdata {
	.container.container-tab {
		border: none;
		background-color: $background_color_9;
		border-radius: unset;
		box-shadow: none;
		-webkit-box-shadow: none;
		padding: unset;
	}
}

.ant-tabs-nav {
	.ant-tabs-tab-disabled {
		cursor: default !important;
		&:hover {
			cursor: default !important;
		}
	}
}

.ant-tabs-tab-btn-disabled {
	cursor: default !important;
}

#sideNavi {
	margin: 0;
	padding: 0;
	position: fixed;
	left: auto;
	top: 160px;
	z-index: 200;
}
.side-navi-item {
	margin: 0;
	padding: 0;
	position: absolute;
	left: auto;
	display: inline-block;
	width: 150px;
	height: 50px;
	color: $color_4;
	background-color: $background_color_12;
	cursor: pointer;
	&:hover {
		background-color: $background_color_13;
		color: $color_12;
	}
	>div {
		padding-top: 15px;
		text-align: center;
	}
}

.side-navi-tab {
	margin: 0;
	padding: 0;
	display: none;
	>div {
		padding: 30px;
	}
}

.side-navi-item-default {
	height: 50px;
	display: none;
}

.side-navi-item.item1 {
	top: 70px;
}

.side-navi-item.item2 {
	top: 235px;
}

.side-navi-item.active {
	background-color: $background_color_13;
	color: $color_12;
}

.side-navi-tab.active {
	display: inline-block;
}

.boxcheckbox.reduce-pointer {
	label {
		cursor: pointer;
	}
}

.headline-collapse {
	a {
		display: block;
		color: $color_5;
		line-height: 21px;
		padding: 0;
		text-align: left;
		background-repeat: no-repeat;
		background-position: right center;
		background-image: url(../images/collapse-up.svg);
	}
	margin-bottom: 4px;
	background-color: $background_color_14;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	padding-top: 15px;
	border-radius: 8px;
}

.btn.btn-reduce.collapsed {
	background-image: url(../images/collapse-down.svg);
}

.box-insertdetail {
	border-radius: 5px;
	border: 1px dashed #C4C4C4;
	padding: 15px 15px 0 15px;
	margin-bottom: 15px;
	max-width: 750px;
	margin-left: 15px;
	.btn-center {
		padding: 15px 0;
	}
}

.titlecheck {
	margin-bottom: 15px;
}

.box-familyid {
	margin: 15px 0;
	.magic-checkbox {
		&+label {
			font-size: 16px;
			line-height: 12px;
			&:before {
				box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-o-box-shadow: 0 0 0 rgba(0,0,0,0.16);
				-moz-box-shadow: 0 0 0 rgba(0,0,0,0.16);
			}
		}
	}
	.boxcheckbox {
		margin-top: 10px;
	}
}

.control-taxform {
	.box-insertdetail {
		.btn-center {
			.btn {
				min-width: 130px;
			}
		}
	}
}

.t-textinput {
	span {
		display: inline-block;
		margin-right: 15px;
		float: left;
	}
	padding: 8px 0;
}

.box-textinput {
	>div {
		float: left;
	}
	margin-bottom: 15px;
	width: 100%;
	float: left;
}

.keyprofile {
	.box-textinput {
		>div {
			margin-right: 15px;
		}
	}
}

.box-keyadd {
	.box-title-input {
		width: 260px;
	}
}

.box-add-taxdiscount {
	.td-form-other {
		.box-title-input {
			width: 260px;
			padding-left: 15px;
		}
		padding: 7px 0;
	}
	padding-top: 8px;
	.box-title-input {
		margin-bottom: 8px;
	}
}

h3.title-reduce {
	font-size: 20px;
}

.cbp-spmenu-right.menu-open {
	right: 0px;
}
