@import '../scss/_variables.scss';

.box-card{
  min-height: 515px;
  // padding: 30px;
}
@mixin scroll-box {
  overflow-y: scroll;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.full-scroll{
  @include scroll-box;
  height: 475px;
}
.scroll-header{
  @include scroll-box;
  height: 415px;
}
.scroll-footer{
  @include scroll-box;
  height: 455px;
  margin-bottom: 40px;
}
.scroll-header-footer{
  @include scroll-box;
  height: 385px;
  margin-bottom: 40px;
}
.text-des{
  font-size: 14px;
  bottom: 15px;
  left: 15px;
  width: 100%;
  position: absolute;
}

.head-line{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  margin: 20px;
  margin-bottom: 0;
}
