@import '../scss/_variables.scss';

.btn.btn-green{
  background-color: #53B847;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  color: #fff;
  text-shadow: 0 1px 0px rgba(0,0,0,0.30);
  -webkit-text-shadow: 0 1px 0px  rgba(0,0,0,0.30);
  -o-text-shadow: 0 1px 0px  rgba(0,0,0,0.30);
  -moz-text-shadow: 0 1px 0px  rgba(0,0,0,0.30);
}
.btn.btn-green:hover,
.btn.btn-green:focus,
.btn.btn-org:hover,
.btn.btn-org:focus{
  background-color: #707070;
}
.btn.btn-blue{
  background-color: #1867CA;
  box-shadow: 0 2px 0 #003982;
  -webkit-box-shadow: 0 2px 0 #003982;
  -o-box-shadow: 0 2px 0 #003982;
  -moz-box-shadow: 0 2px 0 #003982;
}
.btn.btn-blue:hover{
  background-color: #003982;
}

.btn{
  border-radius: 40px;
  min-width: 150px;
  border: none;
  font-size: 16px;
}
.btn-style{
  border-radius: 40px;
}
.btn-outline-primary{
  color: $green-font;
  border: 2px solid !important;
}
.btn-outline-primary:hover{
  background-color: $green-font;
}
.btn-outline-primary:not(:disabled):not(.disabled):active{
  background-color: $green-font;
}
.btn-primary {
  background: #7cca69;
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #6cbf57;
    border: none;
}
.btn-primary.disabled, .btn-primary:disabled,
.btn-outline-primary.disabled, .btn-outline-primary:disabled{
  color: #636363;
  background-color: #a7a7a7;
  border: none;
}

.btn-link {
  font-weight: 400;
  color: #6d6d6d;
}
.btn-link:hover {
  color: #969696;
  text-decoration: none;
}
.btn-link:focus, .btn-link.focus{
  text-decoration: none;
}

// btn-status --------------------------------------------------------------------
%btn-status{
  margin: 0 15px;
  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
}

.btn-status-g{
   @extend %btn-status;
  background-color: rgba(81, 184, 104, 0.25);
  color: #51b868;
}
.btn-status-o{
   @extend %btn-status;
  background-color: rgba(240, 158, 69, 0.25);
  color: #F09E45;
}
.btn-status-b{
   @extend %btn-status;
  background-color: rgba(81, 193, 219, .25);
  color: #51c0db;
}
.btn-status-gy{
   @extend %btn-status;
  background-color: rgba(105, 103, 103, .25);
  color: #696767;
}
.btn-status-r{
   @extend %btn-status;
  background-color: rgba(210, 63, 64, .25);
  color: #D23F40;
}
