@import '../scss/_variables.scss';

@media (min-width: 1300px) {
  .card-col-xl{
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

// profile --------------------------------------------------------------------
.profile-line{
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding-bottom: 20px;
}
.profile-pane{
  background-color: #ffffff !important;
}

// schedule --------------------------------------------------------------------
.schedule-content .tab-content{
  // background: cadetblue;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.schedule{
  margin-top: 20px;
}
.schedule p{
  font-size: 16px;
  text-align: center;
  color: #777777;
}
.schedule .list{
  background: #ffffff;
  // padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 12px;
}
.schedule .list .date,.schedule .list .title,.schedule .list .remaining {
  padding: 10px;
  text-align: center;
  // align-self: center;
}
.schedule .list .remaining{
  border-left: 2px #F2F2F2 dashed;
}
.schedule .list .remaining .day{
  max-width: 32px;
  height: 31px;
  border-radius: 50%;
  margin: auto;
  padding: 3px;
  padding-top: 5px;
  color: $red-font;
  font-size: 14px;
  border: 2px solid $red-font;
  margin-top: 3px;
  margin-bottom: 3px;
}
.schedule .list .title{
  text-align: left;
}
.schedule .list .title .name{
  color: $green-font;
  font-size: 18px;
}
.schedule .list .date .day{
  max-width: 30px;
  height: 30px;
  background: #80d263;
  border-radius: 50%;
  margin: auto;
  padding: 5px;
  color: #ffffff;
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
}




// minimize-maximize --------------------------------------------------------------------
.profile-small{
  width: 80px;
  background: #ffffff;
  padding: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.175) !important;
  border-radius: 10px;
  background-image: url(../images/green-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  right: 0;
  top: 1px;
  position: absolute;
  z-index: 8;
}
.profile-small i{
  font-size: 24px;
  top: -5px;
  right: -10px;
  position: relative;
}

.profile-arrow{
  position: absolute;
  right: 13px;
  top: 19px;
  z-index: 1;
}

.top-lang button{
  font-size: 14px;
}

.profile-maximize .profile-small-box{
  display: none;
}
.profile-maximize .left{
  flex: 0 0 75%;
  max-width: 75%;
  transition: max-width 0.3s;
  -webkit-transition: max-width 0.3s;
}
.profile-maximize .left .tax{
  flex: 0 0 100%;
  max-width: 100%;
}
.profile-maximize .profile-pane{
  display: block;
}


.profile-minimize .profile-small-box{
  display: block;
}
.profile-minimize .left{
  flex: 0 0 100%;
  max-width: 100%;
  transition: max-width 0.3s;
  -webkit-transition: max-width 0.3s;
}
.profile-minimize .left .tax{
  flex: 0 0 75%;
  max-width: 75%;
}
.profile-minimize .profile-pane,.profile-minimize .profile-arrow{
  display: none;
}
