@import '../scss/_variables.scss';
.card.filing-card {
    height: 120px;
    border-radius: 5px;
    margin: 15px;
    width: 95%;
    margin-left: 0;
    box-shadow: 0 10px 20px rgba(156, 156, 156, 0.2);

    .card-body {
        flex-direction: row-reverse;
        display: flex;
        padding: 0;

        border-width: 10px;
        border-left-style: solid;
        border-image: linear-gradient( to bottom, #83cb66, rgb(187, 231, 172) ) 1 100%;
        border-radius: 5px;
        background-image: linear-gradient(white, white), radial-gradient( #ffffff,#ffffff);
        height: 100%;
    }
    .card-title {
        padding: 5px;
        border-left: 2px #F2F2F2 dashed;
        margin: 0;
        font-size: 25px;
        max-width: 110px;
        text-align: center;
        position: relative;

        width: 110px;
        font-size: 22px;
        padding: 10px;

        span {
            font-size: 16px;
            color: #51AA33;
            position: absolute;
            width: 100%;
            bottom: 5px;
            left: 0;
        }
        a{
          bottom: 10px;
          font-size: 16px;
          color: #706F72;
          position: absolute;
          width: 100%;
          left: 0;
          font-weight: bold;
        }a:hover{
          color: $green-font;
        }
    }
    .card-text {
        margin-bottom: 0;
        padding: 10px;
        width: 183px;
        font-size: 14px;
        font-weight: bold;

        width: 70%;
        font-weight: normal;
        line-height: 17px;
        overflow: hidden;
        height: 95%;
    }
    .card-decorate {
        width: 10px;
        background: linear-gradient(to bottom, #78c45c 0%, #b5e5a5 100%);
        border-radius: 5px 0 0 5px;
    }
}
