@import '../scss/_variables.scss';

// ng-select --------------------------------------------------------------------
ng-select.ng-valid.ng-touched .ng-select-container {
  // border-color: $form-color-error;
  // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
  border-color: $form-color-focus;
  border-width: 2px;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

ng-select .ng-arrow-wrapper {
    background-image: url(../images/bg_select.svg) !important;
  background-repeat: no-repeat !important;
  // background-position: right 7% center !important;
  background-position: center !important;
  background-size: auto 8px !important;
  appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  -webkit-appearance: none !important;
  cursor: pointer;
  color: #000;
  .ng-arrow{
    border-style: none !important;
  }
}
// ng-select .ng-arrow-wrapper .ng-arrow {
  // display: none !important;
// }

// ng-select .ng-select-container{
//   background-image: url(../images/bg_select.svg) !important;
//   background-repeat: no-repeat !important;
//   background-position: right 7% center !important;
//   background-size: auto 8px !important;
//   appearance: none !important;
//   -moz-appearance: none !important;
//   -ms-appearance: none !important;
//   -o-appearance: none !important;
//   -webkit-appearance: none !important;
//   cursor: pointer;
//   color: #000;
// }

// ng-select.ng-select-opened{
  // border-color: $form-color-focus !important;
  // border-color:  #BBBBBB !important;
  // border-width: 2px;
  // box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
// }


.ng-select{
  // border: 1px solid #BBBBBB;
  border-radius: 5px;
  // height: 35px;
  color: #706F72;
  font-size: 16px;
  line-height: 19px;
  // padding-left: 10px !important;
  // padding-right: 10px !important;
  background: #ffffff;
}
.ng-select .ng-select-container{
  border: 1px solid #BBBBBB;
}
.ng-select .ng-placeholder{
  font-size: 16px;
  line-height: 30px;
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder{
  font-family: 'KanitLight';
}
.ng-select .ng-arrow-wrapper{
  // background-position: right 12px !important;
  background-size: auto 6px !important;
}
.ng-select .ng-select-container:after,.has-error ng-select.ng-invalid .ng-select-container:after{
  border: none !important;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value,
.ng-select.ng-select-searchable .ng-select-container .ng-value-container .ng-input {
    color: #5b5a5b;
    font-size: 16px;
    line-height: 33px;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
  top: 0px;
}
.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
  border: 1px solid #BBBBBB !important;
  box-shadow: none;
}


// switch --------------------------------------------------------------------
.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgb(6, 123, 255);
}
