@import '../scss/_variables.scss';

//modal
.modal-tabs .nav-tabs{
  margin-top: -39px;
  height: 39px;
}
.modal-tabs .tab-content-quote .nav-link{
  padding: 10px;
  min-width: 43px;
  font-size: 17px;
  padding-left: 30px;
padding-right: 30px;
}
.modal-tabs .modal-tab-content{
  min-height: 300px;
  padding: 20px;
  background-image: url(../images/bg-taxform-bottom.png), url(../images/bg-taxform-top.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 900px auto;
  padding-bottom: 40px;
}

.modal-tabs .tab-content-quote.nav-item {
    margin-left: 0;
    margin-top: -8px;
}
.modal-tab-content .form-cover{
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}
.modal-tab-content .form-cover .card-body{
  padding: 0;
}
.modal-tab-content .info{
  text-align: center;
  padding: 10px;
  line-height: 30px;
  font-weight: bold;
}
.modal-tab-content .info .topic{
  font-size: 22px;
}
.modal-tab-content .info .title{
  font-size: 30px;
  line-height: 50px;
  color: $green-font;
}
.modal-tab-content .form-control{
  border: 1px solid #c0efbe;
  border-radius: 5px;
  height: 35px;
}
.modal-tab-content .form-control .col-form-label{
  text-align: right;
}







.modal-tax .col-form-label{
  line-height: 8px;
}
