.t-title01{
  font-size: 16px;
  line-height: 16px;
  color: #000;
  text-align: right;
  height: 30px;
  vertical-align: middle;
  display: table-cell;
  width: 1%;
}
.box-search .input-long .form-control{
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  font-size: 15px;
  line-height: 15px;
  font-family: 'KanitLight';
  border-radius: 2px;
  height: 30px;
  padding: 7px 10px 7px 40px
}
.box-search .input-long{
  position: relative;
}
.box-search{
  padding: 20px 0 15px 0;
}

.control-report h4{
  max-width: 820px;
  display: block;
  width: 100%;
}

.head-report{
  color: #000000;
  padding: 15px 20px;
  background-color: #F8F8F8;
}


.list-report ul li a img{
  height: 24px;
  position:absolute;
  left: 30px;
  top: 8px;
}
.list-report ul li a {
  display: block;
  padding: 12px 30px 12px 75px;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  position: relative;
}
.list-report ul li:hover a{
  color: #10A200;
}
.list-report ul li:hover{
  border: 1px solid transparent;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.list-report ul li{
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-bottom: 1px solid #f5f5f5;
}
.list-report ul li:last-child a{
  border-bottom: 1px solid transparent;
}
.list-report {
  padding: 0 20px;
  background-color: #fff;
}

.control-report{
  padding-bottom: 15px;
}

.btn-bottom{
  margin-top: 27px;
}
.box-searchfull{
  padding: 20px 0 20px 30px;
}
.top-tablelist{
  padding:10px 15px;
}

.box-controlreport-tablelist{
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.16);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.16);
  -o-box-shadow:inset 0 1px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.16);
}

.iconfilter{
  height: 10px;
  margin-left: 2px;
}
.bot-page-result{
  color: #505050;
  font-size: 12px;
  line-height: 12px;
    font-family: 'KanitLight';
    margin: 8px 0;
}
.bot-page-result.pageselect{
  margin: 0;
}
.box-search-advance{
  background-color: #F8F8F8;
  padding: 20px 30px;
  box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);
-webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);
-o-box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);
-moz-box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);
background-position: 85% -14px;
background-repeat: no-repeat;
background-size: 30px 30px;
background-image: url(../images/bg-arrowtop.svg);
display: none;
}
.control-searchadv{
  padding-right: 30px;
}
.box-inputcheck,.box-search-group{
  margin-top: 15px;
}
.box-search-group .inputsearch .form-control{
  padding-left: 30px;
}
.box-searchadv-list{
  height: 182px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  border:1px solid #D5D5D5;
  border-radius: 2px;
  margin-top: -1px;
  padding: 0;
  position: relative;
}
.box-searchadv-list ul li{
  font-size: 14px;
  line-height: 14px;
  padding:8px 20px;
  color: #A8A8A8;
}
.box-searchadv-list ul li.active{
  color: #000;
}
.box-searchadv-list ul{
  padding: 15px 0;
}
.box-search-group{
  margin-bottom: 15px;
  padding-right: 15px;
}
.box-searchadv-list> div{
  max-height: 165px !important;
}
.btn-select img{
  height: 10px;
  opacity: 0.7;
}
.btn.btn-select{
  width: 50px;
  display: block;
  height: 30px;
  margin: 0 auto 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.12);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.12);
}
.btn.btn-select:hover{
  background-color: #8EDC84;
}
.btn.btn-select:hover img{
  opacity: 1;
}

.btn.btn-yellow {
  color: #fff;
  background-color: #F6BC00;
}
.btn.btn-yellow:hover{
  background-color: #707070;
}
.box-doctype{
  padding: 10px  0 0 0;
}
.td-icon img{
  height: 16px;
}
.td-manage span{
  display: inline-block;
  position: relative;
  top: 3px;
}
.click-arrow img{
  height: 12px;
}
.click-arrow{
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/down.png);
  position: relative;
  top: 4px;
  cursor: pointer;
}
.click-arrow.active{
  background-image: url(../images/up.png);
  }
  .box-tr-des{
    display: none;
  }
  .btn-greengradient{
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 35px;
    background-image: url(../images/bg-greengradient.png);
    border: 1px solid #fff;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.06);
    -webkit-box-shadow: 6px 6px 6px rgba(0,0,0,0.06);
    -o-box-shadow: 6px 6px 6px rgba(0,0,0,0.06);
    -moz-box-shadow: 6px 6px 6px rgba(0,0,0,0.06);
    color: #fff;
    text-shadow: 0 1px 0px rgba(0,0,0,0.16);
    -webkit-text-shadow: 0 1px 0px  rgba(0,0,0,0.16);
    -o-text-shadow: 0 1px 0px  rgba(0,0,0,0.16);
    -moz-text-shadow: 0 1px 0px  rgba(0,0,0,0.16);

  }
  .btn-greengradient:hover{
    background-color:#5F5E60;
    background-image: none;
    color: #fff;
  }
  .data-red{
    color: #F13636;
  }
  .btn-payment .btn{
    min-width: 107px;
  }
  .box-tr-despayment{
  box-shadow: inset 0 2px 9px rgba(0,0,0,0.20);
  -moz-box-shadow: inset 0 2px 9px rgba(0,0,0,0.20);
  -o-box-shadow: inset 0 2px 9px rgba(0,0,0,0.20);
  -webkit-box-shadow: inset 0 2px 8px rgba(0,0,0,0.20);
  }
  .content-popagent .modal-dialog {
      width: 90%;
      margin: 7% auto;
      max-width: 1170px;
  }
  .box-popagent-left{
    background-color: #E8FEE5;
    text-align: center;
    color: #10A200;
    padding: 60px 30px;
  }
  .box-popagent-left h3{
    font-size: 35px;
    line-height: 21px;
    margin-bottom: 30px;
  }
  .box-popagent-left img{
    max-width: 260px;
    width: 100%;
  }
  .box-popagent-left,.box-popagent-right{
    height: 480px;
  }
  .box-popagent-right h4{
    color: #10A200;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 40px;
  }
  .box-popagent-right{
    padding: 85px;
    background-image: url(../images/bg-payment-white.png);
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  .content-popagent  .modal-content{
    border-radius: 5px;
    overflow: hidden;
  }
  .popagent-form{
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    float: left;
    width: 100%;
    padding: 20px 15px 0 15px;
    margin-bottom: 40px;
  }
  .title03{
    color: #505050;
    font-size: 16px;
    line-height: 21px;
    font-family: 'KanitLight';
    float: left;
    width: 35%;
  }
  .inputbox {
    margin-bottom: 20px;
    float: left;
    width: 65%;
  }
  .inputbox .form-control{
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    color: #A8A8A8;
  }
  .inputbox select.form-control {
      background-image: url(../images/down-arrow.png);
      background-position: right center;
      background-repeat: no-repeat;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
  }
  .paymentonline{
    margin-bottom: 100px;
  }
/* css userprofile */
  .content-userprofile{
    padding-top: 30px;
    color: #58595B;
  }

  .control-information{
    margin: 0 auto 25px;
    background-color: #fff;
    box-shadow: 5px 10px 20px rgba(169, 169, 169, 0.36);
    -webkit-box-shadow: 5px 10px 20px rgba(169, 169, 169, 0.36);
    -moz-box-shadow: 5px 10px 20px rgba(169, 169, 169, 0.36);
    padding: 25px 0;
  }
  .control-information > div{
    padding: 0 40px 25px 40px;
  }
  .control-information > div{
    padding-top: 25px;
  }
  .control-information .headline-information{
    padding-bottom: 0;
    padding-top: 0;
  }
  .control-information hr {
      margin: 0;
      height: 17px;
      background-color: #F3F3F3;
  }
  .headline-information,
  .headline-information-in{
    position: relative;
  }
  .headline-information h4,
  .headline-information-in h5{
    position: relative;
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 15px;
  }
  .headline-information img,
  .headline-information-in img{
    position: relative;
    top:5px;
    margin-right: 10px;
  }
  .headline-information img{
    height: 30px;
  }
  .headline-information-in img{
    height: 23px;
  }
  .headline-information h4{
    font-size: 25px;
    line-height: 25px;
    background-position: right 15px;
    background-repeat: no-repeat;
    background-size: auto 15px;
    background-image: url(../images/arrow-view.svg);
    margin-bottom: 0;
  }
  .headline-information-in h5{
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 20px;
  }
  .headline-information-in .box-addagent{
    position: absolute;
    right: 0;
    top: 0;
  }
  .headline-information-in .box-addagent img{
    height: 20px;
    top: -1px;
  }
  .box-edit{
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    font-size: 15px;
    line-height: 15px;
    min-width: 65px;
  }
  .boxset-information > .body-information{
    padding: 0 10px;
  }
  .box-viewinformation .box-view:nth-child(even),
  .box-editinformation .box-view:nth-child(even){
    background-color: #F8F8F8;
  }
  .btn-showview img{
    height: 15px;
    margin: 0;
  }
  .box-edit span{
    display: inline;
    cursor: pointer;
    min-width: 65px;
    text-align: right;
  }
  .box-edit span.btn-showview{
    display: none;
  }
  .box-edit.active span.btn-showview{
    display: block;
  }
  .box-edit.active span.btn-showedit{
    display: none;
  }

  .control-listform {
      padding: 0 80px;
  }
  .control-listform .form-group {
      margin-bottom: 25px;
      position: relative;
  }
  .control-listform .control-label{
    font-size: 15px;
    line-height: 15px;
  }
  .control-listform .control-label.t-idcard{
    color: #000;
  }
  .control-listform  .form-group {
      margin-bottom: 5px;
      position: relative;
  }
  .control-listform .form-control{
    border: none;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #ededed;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 17px;
    height: 35px;
    border-radius: 0;
  }
  .control-listform select.form-control{
    background-image: url(../images/bg_select.svg);
    background-repeat: no-repeat;
    background-position: right 15px;
    background-size: auto 8px;
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: #000;
  }
  .control-listform .form-group .form-control[disabled],
  .control-listform .form-group .form-control[readonly],
  fieldset[disabled] .form-control {
      cursor: not-allowed;
      border-bottom: 1px solid #ededed;
      background-color: transparent;
      opacity: 1;
      color: #000;
  }
  .control-listform .form-group .t_idcard + .form-control[disabled],
  .control-listform .form-group .t_idcard + .form-control[readonly]{
    color: #BBB;
  }
  .box-editinformation .form-control:focus{
    border-color: #53B847;
        border-width: 2px;
  }
  .tooltip-inner{min-width: 100px;}
  .formdate{
    padding-right: 15px;
  }
  .btn-2button{
    max-width: 733px;
    margin: 0 auto;
    border-top: 1px solid #ededed;
    padding: 20px 0;
  }
  .box-viewinformation{
    display: block;
  }
  .box-editinformation{
    display: none;
  }
  .body-information-in.open .box-editinformation{
    display: block;
  }
  .body-information-in.open .box-viewinformation{
    display: none;
  }
  .control-listform .form-group{
    padding: 10px;
  }
  .control-listform .form-group.viewonly .control-label.t-idcard,
  .control-listform .form-group.viewonly  .control-label,
  .control-listform .form-group.viewonly .form-control,
  .control-listform .form-group.viewonly .form-control[disabled],
  .control-listform .form-group.viewonly .form-control[readonly]{
    color: #A8A8A8;
    border: none;
    background-color: transparent;
  }
  .box-editinformation .input-group.date .form-control {
      box-shadow: none;
  }
  .box-editinformation .btn{
    font-size: 18px;
    line-height: 18px;
    min-width: 100px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
  }
  .text-information02 span{
    display: block;
  }
  .control-information .box-search .input-long .form-control{
    box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    -moz-box-shadow:none;
    border-radius: 15px;
    height: 34px;
  }

/* end css megic check */
  .control-listformcheck .box-formcheck{
    max-width: 300px;
    margin-top: 5px;
  }
  .control-listformcheck .box-view {
      padding: 10px 30px 13px;
  }

  .body-information .box-table .table>tbody>tr>td{
    font-size: 18px;
    line-height: 18px;
  }
  .body-information .box-table .table > tbody>tr>th,
  .body-information .box-table .table>tbody>tr>td{
    border: none;
    color: #000;
    vertical-align: middle;
  }
  /*
  .body-information .btn.btn-green,
  .body-information .btn.btn-red{
    font-size: 13px;
    line-height: 13px;
    height: 26px;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    -moz-box-shadow:none;
    padding: 6px;
    border-radius: 4px;
    border: none;
  }*/
  .body-information .btn-payment .btn {
      min-width: 80px;
  }
  .body-information .box-search {
      padding: 0px 0 15px 0;
  }
  .box-addagent .btn{
    height: 30px;
    padding: 5px;
    min-width:90px;
    color: #000;
  }
  .box-addagent span{
    display: inline-block;
    position: relative;
    top: -5px;
  }
  .td-edit .btn{
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .select-pagin{
    background-image: url(../images/bg-select-xs.png);
  background-position: 20px center;
  background-repeat: no-repeat;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 35px;
  height: 30px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #C4C4C4;
  }
  .list-user ul li .user-name{
    padding-left: 60px;
    position: relative;
  }
  .list-user ul li .user-name span::after{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #BBBBBB;
    content: '';
    left: 5px;
    top: 12px;
    position:absolute;
    z-index: 1;
  }
  .list-user ul li.active .user-name span::after{
    background-color:#53B847;
  }
  .list-user ul li.active .user-name span{
      background-image: url(../images/user02.svg);
      color: #000;
  }
  .list-user ul li.active{
    background-color: #DBEED9;
  }
  .list-user ul li .user-name span::before{
    width: 1px;
    height: 30px;
    border-radius: 100%;
    background-color: #BBBBBB;
    content: '';
    left: 13px;
    top: -15px;
    position: absolute;
  }

  .list-user ul li:first-child .user-name span::before{
    display: none;
  }
  .content-userinformation{
    min-height: 350px;
    margin-bottom: 30px;
  }
  .content-userinformation  div.box-viewinformation,
  .content-userinformation  div.box-editinformation{
    max-width: 615px;
    margin: 0 auto;
    padding-top: 40px;
  }
  .content-userinformation  div.box-editinformation .control-listform{
    padding: 0;
  }
  .content-userinformation  hr {
      margin-top: 0;
      margin-bottom: 0;
      border: 0;
      border-top: 1px solid #E9E9E9;
  }
  .content-userinformation .box-view .box-formcheck{
    margin-top: 5px;
  }

  .box-viewinformation .btn.btn-org{
    min-width: 100px;
  }


  .box-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -o-opacity: 0;
    cursor: pointer;
  }
  .box-radio input[type="radio"] + label {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    min-width: 16px;
    height: 16px;
  }

  .box-radio input[type="radio"] + label:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    background-image: url(../images/bg-radio01.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 16px;
    background-color: transparent;
    height: 16px;
    width: 16px;
  }

  .box-radio input[type="radio"]:checked + label:before {
    background-image: url(../images/bg-radio02.png);  background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 16px;
    background-color: transparent;
    height: 16px;
    width: 16px;

  }
  .box-radio.text input[type="radio"] + label{
    padding-left: 25px;
  }

  .box-userconfirm p{
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
    color: #505050;
  }

  .control-tabagent {
    max-width: 850px;
    margin: 0 auto 20px;
    padding-top: 40px;
  }
  .control-tabagent .box-btn .btn {
      min-width: inherit;
      border-radius: 5px;
  }
  .control-tabagent .box-btn{
    margin-top: 26px;
  }
  .control-tabagent .btn.btn-green01{
    min-width: 90px;
    margin-left: 10px;
  }
  .control-tabagent  .control-searchfull{
    padding-right: 15px;
    margin-bottom: 15px;
  }
  .control-tabagent  h3{
    border-bottom: 1px solid #A8A8A8;
    color: #505050;
    font-size: 15px;
    line-height: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .control-tabagent .t-title02{
    font-size: 13px;
    margin-bottom: 5px;
  }
  .control-tabagent .box-input{
    margin-bottom: 10px;
  }
  .control-tabagent .table-scrollbar{
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .control-tabagent .table-scrollbar .table{
    width: 1300px;
  }
  .control-tabagent .box-table .table>tbody>tr>td{
    background-color: #fff ;
  }
  .control-tabpayment{
    padding-top: 60px;
    max-width: 850px;
    margin: 0 auto;
  }
  .control-tabpayment .box-userconfirm{
    font-size: 15px;
    margin-top: 20px;
    padding-bottom: 40px;
  }
  .content-popsearch .modal-dialog{
    max-width: 1040px;
    width:90%;
  }
  .content-popsearch .modal-content{
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    -o-box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  .content-popsearch .modal-body{
    padding: 20px 35px 0 35px;
  }
  .editpayment .box-edit.active span.btn-showview,
  .editpayment .box-edit span.btn-showview{
    display: block !important;
  }
  .editpayment .box-edit.active span.btn-showedit,
  .editpayment .box-edit span.btn-showedit{
    display: none !important;
  }
  .editpayment .btn.btn-green{
    min-width: 180px;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    color: #fff;
    text-shadow: 0 1px 0px rgba(0,0,0,0.30);
    -webkit-text-shadow: 0 1px 0px rgba(0,0,0,0.30);
    -o-text-shadow: 0 1px 0px rgba(0,0,0,0.30);
    -moz-text-shadow: 0 1px 0px rgba(0,0,0,0.30);
    margin-top: 5px;
  }

  // tax
  .box-createlist-date .t-title-date{
    font-family: 'KanitLight';
    font-size: 15px;
    line-height: 15px;
    display: inline-block;
    margin-right: 10px;
  }
  .box-createlist-date > div,.formcreate-date{
    display:inline-block;
  }
  .box-createlist-date > div{
    margin-right: 30px;
  }
  .box-createlist-date{
    margin-top: 15px;
  }
  .box-createlist{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #E6E6E6;
  }
  .formcreate-date .form-control{
    border: 1px solid #B9B9B9;
    border-radius: 5px;
    height: 35px;
    font-size: 16px;
    line-height: 25px;
    background-image: url(../images/bg_select.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: auto 8px;
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: #000;
    padding-right: 30px;
    width: 160px;
  }
  .formcreate-date .box-select-date .form-control {
    width: 100px;
  }
  .control-pagination  .box-pagination > div{
    float: none;;
  }
  .control-pagination .box-pagination{
    float: none;
    padding: 0;
    text-align: left;
  }
  .control-pagination .box-pagin{
    text-align: right;
  }
  .control-pagination .box-pagination .pagination{
    margin: 0;
  }
  .control-pagination .box-pagination .pagination a:hover,
  .control-pagination .box-pagination .pagination>.active>a,
  .control-pagination .box-pagination .pagination>.active>a:focus,
  .control-pagination .box-pagination .pagination>.active>a:hover,
  .control-pagination .box-pagination .pagination>.active>span,
  .control-pagination .box-pagination .pagination>.active>span:focus,
  .control-pagination .box-pagination .pagination>.active>span:hover{
    background-color: #AAAAAA;
    border-radius: 5px;
  }
/* 19/01/19 */
  .content-userprofile .container{
    max-width: 100%;
  }
  .box-viewinformation .box-search .t-title01{
    text-align: center;
  }
  .box-viewinformation .box-search > .row > .col-md-2:first-child{
    width: 14%;
  }
  .box-viewinformation .box-search > .row > .col-md-8{
    width: 74%;
  }
  .box-viewinformation .box-search > .row > .col-md-2{
    width: 10%;
  }
  .control-information .boxset-information:last-child{
    padding-bottom: 0;
  }
  .content-popsearch .box-btn .btn.btn-border{
    border-radius: 5px;
    min-width: 70px;
  }
  .box-changepassword .btn.btn-border{
    border-radius: 6px;
    color: #505050;
    border-color: #A8A8A8;
    min-width: 190px;
    height: 35px;
    text-shadow: none;
    -webkit-text-shadow:none;
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  .box-changepassword{
    position: relative;
  }

  .body-table-list tr {
    background-color: #fff;
    display: flex;
  }
  .body-table-list td,
  .body-table-list th{
    flex: 1;
   }
  .body-table-list td span,
  .body-table-list th span{
    display: block;
  }
  .body-table-list .table>tbody>tr.active,
  .body-table-list .table>tbody>tr:hover,
  .body-table-list tr:hover{
    -webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
      box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
      z-index: 1;
    position: relative;

  }



  // global -------------------------------

  .top-notice .btn-group{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fff;
    line-height: 0;
    cursor: pointer;
    border: none;
  }
  .top-notice .btn-group button{
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .top-notice img{
    width: 30px;
    height: 30px;
  }
  .top-notice{
    position: relative;
    margin-top: 10px;
  }
  .top-notice span{
    border-radius: 100%;
    background-color: #F13636;
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    width: 17px;
    height: 17px;
    display: block;
    position: absolute;
    top: -4px;
    right: -4px;
    text-align: center;
        padding: 0;
  }

  .dropdown-submenu {
     position:relative;
  }
  .dropdown-submenu>.dropdown-menu {
    top:0;left:100%;
    margin-top:-6px;
    margin-left:-1px;
  }

  /*************** SIMPLE INNER SCROLLBAR ***************/

  .scrollbar-inner > .scroll-element,
  .scrollbar-inner > .scroll-element div
  {
      border: none;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 10;
  }
  .scrollbar-inner > .scroll-element div {
      display: block;
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
  }
  .scrollbar-inner > .scroll-element.scroll-x {
      bottom: 2px;
      height: 8px;
      left: 0;
      width: 100%;
  }
  .scrollbar-inner > .scroll-element.scroll-y {
      height: 75%;
      right: 5px;
      top: 25px;
      width: 4px;
  }
  .scrollbar-inner > .scroll-element .scroll-element_outer {
      overflow: hidden;
  }
  .scrollbar-inner > .scroll-element .scroll-element_outer,
  .scrollbar-inner > .scroll-element .scroll-element_track,
  .scrollbar-inner > .scroll-element .scroll-bar {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  }
  .scrollbar-inner > .scroll-element .scroll-element_track,
  .scrollbar-inner > .scroll-element .scroll-bar {
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
      filter: alpha(opacity=40);
      opacity: 1;
  }
  .scrollbar-inner > .scroll-element .scroll-element_track { background-color: transparent; }
  .scrollbar-inner > .scroll-element .scroll-bar { background-color: #BBBBBB;  cursor: pointer;}
  .scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #BBBBBB; }
  .scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #BBBBBB; }
  /* update scrollbar offset if both scrolls are visible */
  .scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
  .scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
  .scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
  .scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }


  .box-iconfilter{
    line-height: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    width: auto;
    height: 22px;
  }
  .box-iconfilter img{
    height: 100%;
  }
