@import '../scss/_variables.scss';

.card-groupp{
  margin: 10px;
  margin-bottom: 30px;
}
.card-groupp .card-img{
  border-radius: 50%;
  border: 2px solid $green-font;
  width: 70px;
  height: 70px;
  background: #ffffff;
  padding: 11px;
}
.card-groupp .card-img img{
  width: 38px;
}



//tab header -------------------------------------------------------------------------
.content-taxform{
  // padding-top: 70px;
}
.nav-tax{
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(156, 156, 156, 0.1);
  margin-bottom: 30px;
}
.nav-tax-item{
  padding: 15px;
  font-weight: normal;
}
.nav-tax-item img{
  width: 30px;
  margin-bottom: 10px;
}
.nav-tax-item p{
  color: #343a40;
  font-weight: normal;
  max-width: 105px;
  margin: auto;
}
.nav-tax .nav-pills .nav-link {
    border-radius: 0;
}
.nav-tax .nav-pills .nav-link.active{
  background-color: #7fc96d;
  color: #ffffff;
}
.nav-tax .nav-pills .nav-link.active p{
  color: #ffffff;
}
.nav-tax-item span{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 43px;
  width: 30px;
  margin: 5px;
  margin-top: 0;
}

// icon ใส่ไว้ก่อน -----------------
.ico-payment{
  background-image: url(../images/tabs-trackingstatus.svg);
}
.nav-tax .nav-pills .nav-link.active > .ico-payment{
  // background-image: url(../images/tabs-trackingstatus.svg);
  filter: brightness(200%);
}


// Form page
// title -------------------------------------------------------------------------
.tax-title{
  text-align: center;
  margin: 20px;
  margin-top: 0px;
}
.tax-title .topic{
  font-size: 30px;
  margin-bottom: 10px;
}
.tax-title .sub-topic{
  margin-bottom: 20px;
}
.step-taxform{
  margin-bottom: 0;
}
.step-taxform{
  max-width: 650px;
}
.step-taxform.threestep .bg-lineprogress{
  width: 470px;
  top: 18px;
}
.content-taxform.freezestep .control-boxstep{
  left: 0;
}

// head-btn -----------------
.head-btn-container{
  position: absolute;
}
.head-btn{
  position: relative;
  top: -240px;
  left: -110px;
  width: 1240px;
}

// form --------------------------------------------------------------------
// tax form --------------------------------------------------------------------
.tax-form{

}
.tax-form .title{
  font-size: 20px;
  margin-bottom: 20px;
}
.tax-form .des{
  font-size: 12px;
  font-family: 'KanitLight';
  text-align: right;
}
.tax-form{
  margin-bottom: 50px;
}
.tax-form .form-content .form-group {
  margin-bottom: 15px;
}
.tax-form .form-content .form-group .col-3,
.tax-form .form-content .form-group .col-4,
.tax-form .form-content .form-group .col-6,
.tax-form .form-content .form-group .col-12,{
  padding-left: 20px;
  padding-right: 20px;
}
.tax-form .form-content .form-set{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
}
.tax-form .form-content .form-set label,.tax-form .form-content .form-des label,
.tax-form .form-content .form-input label{
  margin-right: 10px;
  font-weight: normal;
  font-family: 'KanitLight';
  font-size: 14px;
}
.tax-form .form-content .form-des{
  padding: 0 20px;
}
.form-result .gray{
  background: #f8f8f8;
  padding: 15px 10px;
  border: 1px solid #e8e8e8;
}
.form-result .green{
  background: #e8fee6;
  padding: 15px 10px;
  border: 1px solid #e8e8e8;
}
.form-result .form-set{
  border-bottom: none !important;
  padding-bottom: 0 !important;
}
.form-result h6{
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: normal;
  font-family: 'KanitLight';
  font-size: 14px;
}
.form-radio{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'KanitLight';
  font-size: 14px;
}
.form-radio input{
  margin-right: 10px;
  top: -1px;
  position: relative;
}
.form-radio .readonly{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
}
.tax-form .form-content .form-input .form-control{
  display: inline-block;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
// .tax-form .form-content .form-group .form-input .col-3,
// .tax-form .form-content .form-group .form-input .col-4,
// .tax-form .form-content .form-group .form-input .col-6,
// .tax-form .form-content .form-group .form-input .col-12{
//   padding: 0;
// }
.tax-form .form-content .form-control{
  color: inherit;
}
.tax-form .form-content .form-input .validation-message{
  text-align: center;
}


.tax-form .form-content .form-input select.form-control{
  padding-right: 30px !important;
  background-position: 98% center;
}
.form-step2{
  padding: 20px;
}
.form-step2 .title{
  font-size: 18px;
  font-family: 'KanitLight';
}
.form-step2 .topic{
  text-align: center;
  margin: 20px;
  color: $green-font;
}
.tax-form .form-content .form-input .sum{
  text-align: right;
  color: $green-font;
}
// .form-step2 .form-content .col-3{
//   margin-right: 10px;
//   margin-left: 10px;
// }
.fix-line-height{
  line-height: 36px;
}
.complete .body-tabtaxdata{
  padding: 0;
  font-family: 'KanitLight';
}
.complete .body-tabtaxdata .left{
  background: linear-gradient(to top, #e6fde5, #ffffff);
  padding: 50px;
}

.complete .body-tabtaxdata .right{
  padding: 50px;
  padding-bottom: 30px;
}
.complete .alert-success{
  color: $green-font;
  background-color: #e6fde5;
  border-color: $green-font;
  padding: 0;
  padding-top: 5px;
}
.complete .form-tabtaxdata{
  padding: 0;
}
