.root-angular-tree-component .angular-tree-component {
    font-size : 18px;
    font-family: 'KanitLight';
    width: 200% !important;
    overflow: auto;
    position:relative;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently not supported by any browser */
  }
  