<div class="top-user in" id="click-user">
	<span>{{ userProfile.nid | userName }}</span>
	<span>{{ userProfile.taxPayerName }}</span>
	<span>เข้าสู่ระบบวันที่ {{ userProfile.loginDate | wsDateShow:'DD/MM/yyyy' }} เวลา
		{{ userProfile.loginTime | timeShow:'HH:mm' }} น.</span>
</div>
<div id="box-usermanage">
	<button type="button" class="btn" (click)="authService.logout()">
		<img src="assets/images/icon-logout.svg" />
		ออกจากระบบ
	</button>
</div>

<!-- <div container="body" dropdown placement="bottom right">
	<button dropdownToggle type="button" class="top-user in dropdown-toggle">
		<span>{{ userProfile.nid | userName }}</span>
		<span>{{ userProfile.taxPayerName }}</span>
		<span>เข้าสู่ระบบวันที่ {{ userProfile.loginDate | wsDateShow:'DD/MM/yyyy' }} เวลา
			{{ userProfile.loginTime | timeShow:'HH:mm' }} น.</span>
	</button>
	<ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
		aria-labelledby="button-alignment">
		<li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
		<li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
		<li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
		<li class="divider dropdown-divider"></li>
		<li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
	</ul>
</div> -->