<div class="content-taxdata mt-3">
    <div class="container">
      <div class="content-taxdata-in">
        <div class="set-boxviewdata t-center">
          <h3>แบบแสดงรายการภาษีเงินได้บุคคลธรรมดา ภ.ง.ด.1</h3>
          <div class="form-tabtaxdata">
                <div class="form-group row justify-content-md-center align-items-center">
                  <i class="fas fa-check-circle fa-2x align-items-center" style="color:forestgreen"></i><label class="ml-2">กรมสรรพากรได้รับข้อมูลตามแบบ ภ.ง.ด.1 ของท่านเรียบร้อยแล้ว</label>
                </div>
  
                <div class="form-group row justify-content-md-center align-items-center">
                  <label>แต่ยังไม่ถือว่าท่านได้ยื่นแบบฯ จนกว่าท่านจะได้ชำระเงินภาษีเต็มตามจำนวนที่ท่านได้ยื่นรายการไว้</label>
                </div>
  
                <div class="form-group row justify-content-md-center" >
                  กรุณาพิมพ์แบบเพื่อเก็บไว้เป็นหลักฐาน
                </div>
  
                <div class="form-group row">
                      <div class="col-md-3 offset-lg-1 font-weight-bold">เลขประจำตัวผู้เสียภาษีอากร</div>
                      <div class="col-md-3">{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.id13 | mask:'0-0000-00000-00-0'}}</div>
                      <div class="col-md-1 font-weight-bold">ชื่อ</div>
                      <div class="col-md-3">{{formPnd1.value.pnd1CompleteForm.formDetail.taxPayerInfo.name}}</div>
                </div>
  
                <div class="form-group row justify-content-md-center">
                    หมายเลขอ้างอิงการยื่นแบบ
                </div>
  
                <div class="form-group row justify-content-md-center" >
                  <div class="input-group-prepend">
                    <div class="input-group-text">{{formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.refNo}}</div>
                    <div class="input-group-text">{{resultRecordForm.refNo}}</div>
                  </div>
                </div>
  
                <div class="form-group row justify-content-md-center" style="color:forestgreen">
                    ค่าปรับอาญา {{ resultRecordForm.criminal | number: '1.2-2'}} บาท
                </div>
  
                <div class="form-group row justify-content-md-center font-weight-bold" style="color:forestgreen">
                    ยอดเงินต้องชำระทั้งสิ้น {{ resultRecordForm.totAmt | number: '1.2-2'}} บาท
                </div>
  
                <div class="form-group row justify-content-md-center" style="color:forestgreen">
                    สถานะการยื่นแบบ "{{resultRecordForm.taxFormStatus}}"
                </div>
  
          </div>
        </div>
  
        <div class="content-taxdata mt-3">
            <div class="container">
              <div class="content-taxdata-in">
                <div class="set-boxviewdata">
                  <div class="form-tabtaxdata">
                    <div class="form-group row">
                      <span class="red">*</span> กรุณาแนบหลักฐานประกอบการยื่นแบบฯ
                    </div>
  
                    <div class="form-group row">
                      <div class="col-7 offset-1">
                        <label>ได้แนบหนังสือรับรองการหักภาษี ณ ที่จ่ายเป็นหลักฐาน</label>
                      </div>
                      <div class="col-3">
                          รวม {{ uploader?.queue?.length }} ฉบับ
                      </div>
                    </div>
  
                    <div class="form-group row">
                      <div class="col-7 offset-1">
                        <span class="btn btn-light btn-file">
                          <img style="vertical-align:middle" src="assets/images/icon-add.svg" alt=""/> แนบไฟล์ <input type="file" ng2FileSelect [uploader]="uploader">
                        </span>
                        <input type="file" ng2FileSelect [uploader]="uploader" />
                      </div>
                    </div>
  
                    <div class="form-group row" *ngFor="let item of uploader.queue">
                        <div class="col-5 offset-3">ชื่อไฟล์ที่อัพโหลด: {{ item?.file?.name }}</div>
                        <div class="col-3">
                          <a title="ลบ" (click)="item.remove()">
                            <img src="assets/images/icon-delete.svg" alt=""  width="50" height="20"/>
                          </a>
                        </div>
                    </div>
  
                    <div class="form-group row">
                      <div class="col-7 offset-1">
                        <label>ได้แนบหลักฐานการอยู่ในประเทศไม่น้อยกว่า 180 วันในปีภาษี {{ formPnd1.value.pnd1CompleteForm.formDetail.taxDetail.year }}</label>
                      </div>
                      <div class="col-3">
                          รวม {{ uploader2?.queue?.length }} ฉบับ
                      </div>
                    </div>
  
                    <div class="form-group row">
                      <div class="col-7 offset-1">
                        <span class="btn btn-light btn-file">
                            <img style="vertical-align:middle" src="assets/images/icon-add.svg" alt=""/> แนบไฟล์ <input type="file" ng2FileSelect [uploader]="uploader2">
                        </span>
                      </div>
                    </div>
  
                    <div class="form-group row" *ngFor="let item of uploader2.queue">
                      <div class="col-5 offset-3">ชื่อไฟล์ที่อัพโหลด: {{ item?.file?.name }}</div>
                      <div class="col-3">
                        <a title="ลบ" (click)="item.remove()">
                          <img src="assets/images/icon-delete.svg" alt=""  width="50" height="20"/>
                        </a>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
  
      </div>
    </div>
  </div>
  
  <ng-template #templateUpload>
    <div class="modal-header">
      <h4 class="modal-title pull-left">ข้อมูล</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      {{resultUpload}}<br>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-success" (click)="modalRef.hide()">ตกลง</button>
     </div>
  </ng-template>
  