<div class="modal fade modal-tabs modal-stack" bsModal #generalModal="bs-modal" tabindex="-1" role="dialog" (onShown)="onShown()" (onHidden)="onHidden()">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-tab-content clear-bg-color pt-5 pb-5">
            <div class="row mt-5 mb-5">
                <div class="col-12" 
                [class.text-left]="generalModalObj?.contentPosition == 'left'" 
                [class.text-center]="generalModalObj?.contentPosition == 'center' || !generalModalObj?.contentPosition"
                [class.text-right]="generalModalObj?.contentPosition == 'right'"
                [innerHTML]="generalModalObj?.content">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <ng-container *ngFor="let button of generalModalObj?.buttons">
                        <button type="button" class="{{ generalModalObj?.class ? generalModalObj?.class : 'btn btn-primary mr-2' }}" (click)="hideModal(button?.cb)">
                            {{button.text}}
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>