<div class="content-tabtaxdata">
  <div class="container">
    <div class="control-tabtaxdata">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" *ngFor="let tabItem of tabValue; let i = index" [class.active]="i == 0">
          <a role="tab" data-toggle="tab" (click)="onSelectedTab(i)" href="#tab0{{i + 1}}">
            {{ tabItem.tabTitle }}
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" *ngFor="let tabItem of tabValue; let i = index" id="tab0{{i + 1}}"
          [class.active]="i == 0">
          <ng-container [ngTemplateOutlet]="templateBodyTabTaxData" [ngTemplateOutletContext]="{ tabIndex: i }"></ng-container>
        </div>
        <!--end tab-pane-->
      </div>
      <!--end tab-content-->
    </div>
    <!--end control-tabtaxdata-->
  </div>
  <!--end container-->
</div>
<!--end content-tabtaxdata-->

<ng-template #templateBodyTabTaxData let-tabIndex="tabIndex">
  <div class="body-tabtaxdata">
    <h3>{{ tabValue[tabIndex].tabDesc }}</h3>
    <div class="form-tabtaxdata" [formGroup]="formPnd1Input">
      <div class="row">
          <div class="col-8">
            <div class="form-group-inline row">
              <div class="col-5">
                <label class="label-inline" for="">เลขประจำตัวผู้เสียภาษีอากร <span class="red">*</span></label>
              </div>
              <div class="col-7" style="margin-left: -30px">
                <input type="text" efNidnField  class="form-control input-inline"  mask="0-00000-0000-00-0" [formControlName]="'id13'" placeholder="เลขประจำตัวผู้เสียภาษีอากร 13 หลัก" (focusout)="setAutoData()" (keyup)="checkInputId13(myInput10.value)" #myInput10/>
                <!-- <span class="mes_error" *ngIf="formPnd1Input.controls['Id13'].valid"> Please enter a valid first name</span> -->
                <ef-validation-message [control]="formPnd1Input.controls.id13" [submit]="formSubmitAttempt"></ef-validation-message>
              </div>
            </div>
          </div>
          <div class="col-4"></div>
          <div class="col-5">
            <div class="form-group-inline row">
              <div class="col-8">
                <label class="label-inline" for="">คำนำหน้าชื่อ<span class="red">*</span></label>
              </div>
              <div class="col-4" style="margin-left: -30px">
                <ng-select [formControlName]="'titleName'"  bindValue="titleName"  bindLabel="titleName" [markFirst]="true" [items]="titleOption"  placeholder="โปรดเลือก">
                </ng-select>
                <ef-validation-message [control]="formPnd1Input.controls.titleName" [requiredSelect]="true" [submit]="formSubmitAttempt"></ef-validation-message>
                <!-- <span *ngIf="checkTitleName == true" class="mes_error">{{massage_error_select}}</span> -->
              </div>
            </div>
          </div>
          <div class="col-7">
            <div class="form-group-inline row">
              <div class="col-1">
                <label class="label-inline" for="">ชื่อ<span class="red">*</span></label>
              </div>
              <div class="col-11">
                <input type="text" class="form-control"  [formControlName]="'firstName'" (keyup)="checkCharacter(myInput.value)" #myInput (focus)="focusFirstName()"/>
                <ef-validation-message *ngIf="checkFirstName == false" [control]="formPnd1Input.controls.firstName" [submit]="formSubmitAttempt"></ef-validation-message>
                <div style="margin-top:10px">
                  <span *ngIf="checkFirstName == true" class="mes_error">{{massage_error_firstName}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8">
            <div class="form-group-inline row">
              <div class="col-5">
                <label class="label-inline" for="">ชื่อสกุล<span class="red">*</span></label>
              </div>
              <div class="col-7" style="margin-left: -30px">
                <input type="text" class="form-control" placeholder="ชื่อสกุล" [formControlName]="'surName'" (keyup)="checkCharacter1(myInput1.value)" #myInput1 (focus)="focusSurName()"/>
                <ef-validation-message *ngIf="checkSurName == false" [control]="formPnd1Input.controls.surName" [submit]="formSubmitAttempt"></ef-validation-message>
                <div style="margin-top:10px">
                  <span *ngIf="checkSurName == true" class="mes_error">{{massage_error_surName}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group-inline row">
              <div class="col-3">
                <label class="label-inline" for="">ชื่อกลาง</label>
              </div>
              <div class="col-9">
                <input type="text" class="form-control"  placeholder="ชื่อกลาง" [formControlName]="'midName'" (keyup)="checkCharacter2(myInput2.value)" #myInput2/>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group-inline row">
              <div class="col-6">
                <label class="label-inline" for="">วัน-เดือน-ปี ที่จ่าย<span class="red">*</span></label>
              </div>
              <div class="col-6">
                  <div class="box-input input-group date">
                      <input bsDatepicker class="form-control w-100"  [formControlName]="'date'"  placeholder="วว/ดด/ปปปป" (change)="changeDate()" (focus)="focusDate()"/>
                    <ef-validation-message *ngIf="checkDate == false" [control]="formPnd1Input.controls.date" [submit]="formSubmitAttempt"></ef-validation-message>
                    <span *ngIf="checkDate == true" class="mes_error">{{massage_error_date}}</span>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group-inline row">
              <div class="col-6">
                <label class="label-inline" for="">เงื่อนไขการหัก ณ ที่จ่าย<span class="red">*</span></label>
              </div>
              <div class="col-6">
                <ng-select name="" [formControlName]="'con'"  bindValue="id"  bindLabel="name" [markFirst]="true" [items]="Con"  placeholder="โปรดเลือก">
                </ng-select>
                <ef-validation-message [control]="formPnd1Input.controls.con" [requiredSelect]="true" [submit]="formSubmitAttempt"></ef-validation-message>
                <!-- <span *ngIf="checkCon == true" class="mes_error">{{massage_error_select}}</span> -->
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group-inline row">
              <div class="col-6">
                <label class="label-inline" for="">จำนวนเงินได้ที่จ่ายในครั้งนี้<span class="red">*</span></label>
              </div>
              <div class="col-6">
                <input type="text" class="form-control text-right" placeholder="0.00"  efNumberFormat="###,###,###,###.##"  [formControlName]="'pay'" (change)="checkValidate($event)" (keyup)="checkInputTaxPay(myInput9.value,templateTaxPay)" #myInput9/>
                <ef-validation-message *ngIf="payError === true" [control]="formPnd1Input.controls.pay" [submit]="formSubmitAttempt"></ef-validation-message>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group-inline row">
              <div class="col-6">
                <label class="label-inline" for="">จำนวนเงินภาษีที่หักและนำส่งครั้งนี้<span class="red">*</span></label>
              </div>
              <div class="col-6">
                <input type="text" class="form-control text-right" placeholder="0.00"  efNumberFormat="###,###,###,###.##" [formControlName]="'tax'" (keyup)="checkInputTax()"/>
                <ef-validation-message  *ngIf="taxError === true" [control]="formPnd1Input.controls.tax" [submit]="formSubmitAttempt"></ef-validation-message>
              </div>
            </div>
          </div>
         <!--end input_form-->
      </div>
      <!--end row-->
    </div>
    <!--end form-tabtaxdata-->
    <div class="btn-center">
      <button type="button" name="button" class="btn btn-greenborder" [disabled]="formPnd1Input.dirty == false" (click)="showModalClearData(templateClearData)">ล้างข้อมูล</button>
      <button type="button" name="button" class="btn btn-green" [disabled]="formPnd1Input.dirty == false" (click)="onSubmit()">ตกลง</button>
    </div>
    <div class="content-list-taxdata">
      <div class="top-list-taxdata">
        <div class="row">
          <div class="col-md-8">
            <div class="form-taxdata-inputid" [formGroup]="formSearch">
              <div class="title-id">เลขประจำตัวผู้เสียภาษีอากร</div>
              <div *ngIf="searchAll == false" class="input-id">
                <input type="text" class="form-control"  mask="0-00000-0000-00-0" [formControlName]="'inputSearch'" placeholder="เลขประจำตัวผู้เสียภาษีอากร 13 หลัก">
                <ef-validation-message [control]="formSearch.controls.inputSearch" [submit]="formSubmitAttempt"></ef-validation-message>
              </div>
              <div *ngIf="searchAll == true" class="input-id">
                <input type="text" class="form-control"  mask="0-00000-0000-00-0"  [formControlName]="'inputSearch'" placeholder="ค้นหา ทั้งหมด">
                <ef-validation-message [control]="formSearch.controls.inputSearch" [submit]="formSubmitAttempt"></ef-validation-message>
              </div>
              <div class="btn-search-id">
                <button type="button" name="button" class="btn btn-aaa" (click)="onSearch()">ค้นหา</button>
              </div>
              <div class="clear"></div>
            </div>
            <!--end form-taxdata-inputid-->
          </div>
          <div class="col-md-4">
            <div class="btn-right">
              <button *ngIf="checkDelete == true"  type="button" name="button" class="btn btn-red-border" (click)="showModalDeleteAllData(templateDeleteAllData)">ลบรายการ</button>
              <button *ngIf="dataSet.length > 0"  type="button" name="button" class="btn btn-border-gray btn-print" (click)="onPrint()">พิมพ์รายการใบแนบ</button>
            </div>
            <!--end btn-right-->
          </div>
        </div>
      </div>
      <!--end top-list-taxdata-->
      <div class="table-list-taxdata">
        <div class="head-table-list">
          <img src="assets/images/bg-headtable-list.svg" alt="">
          <div class="head-table-list-bg" *ngFor="let data of dataSummary; let i = index">
            <div class="table-summary" style="font-size:15px">
              <span>สรุป จำนวนราย</span>
              <strong>{{data.Total}}</strong>
              <span>ราย</span>
            </div>
            <div *ngIf="checkIncome === true" class="table-summary pl-1 pr-1" style="font-size:15px">
              <span>เงินได้ทั้งสิ้น</span>
              <strong style="margin-left: 13px">{{data?.Income | number: '1.2-2'}}</strong>
              <span>บาท</span>
            </div>
            <div *ngIf="checkIncome === false" class="table-summary" style="font-size:15px">
                <span>เงินได้ทั้งสิ้น</span>
                <strong *ngIf="data?.Income == '-'" style="margin-left: 20px">{{data?.Income}}</strong>
                <strong *ngIf="data?.Income != '-'" style="margin-left: 20px">{{data?.Income | number: '1.2-2'}}</strong>
                <span>บาท</span>
            </div>
            <div *ngIf="checkTex === true" class="table-summary pl-1 pr-1" style="font-size:15px">
              <span>ภาษีที่นำส่งทั้งสิ้น</span>
              <strong style="margin-left: 15px">{{data?.Tax | number: '1.2-2'}}</strong>
              <span   style="margin-left: -20px">บาท</span>
            </div>
            <div *ngIf="checkTex === false" class="table-summary" style="font-size:15px">
                <span>ภาษีที่นำส่งทั้งสิ้น</span>
                <strong *ngIf="data?.Tax == '-'" style="margin-left: 15px">{{data?.Tax}}</strong>
                <strong *ngIf="data?.Tax != '-'" style="margin-left: 15px">{{data?.Tax | number: '1.2-2'}}</strong>
                <span   style="margin-left: -20px">บาท</span>
            </div>
          </div>
          <!--end head-table-list-bg-->
          <div class="clear"></div>
        </div>
        <!--end head-table-list-->

        <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="loading"
          [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)" [nzShowTotal]="tableTotal">
          <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
              <th class="t-center" nzWidth="1%" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="checkAll($event)"></th>
              <th class="text-center" nzWidth="6%"><span>ลำดับ</span></th>
              <th class="text-center" nzWidth="18%" nzShowSort nzSortKey="id13"><span>เลขประจำตัวผู้เสียภาษี</span></th>
              <th class="text-center" nzWidth="20%" nzShowSort nzSortKey="firstName"><span>ชื่อผู้มีเงินได้</span></th>
              <th class="text-center" nzWidth="15%" nzShowSort nzSortKey="date"><span>วัน/เดือน/ปี ที่จ่าย</span></th>
              <th class="text-center" nzWidth="15%" nzShowSort nzSortKey="pay"><span>จำนวนเงินได้ที่<br>จ่ายครั้งนี้ (บาท)</span></th>
              <th class="text-center" nzWidth="15%" nzShowSort nzSortKey="tax"><span>จำนวนเงินภาษีที่หัก<br>และนำส่งในครั้งนี้</span></th>
              <th class="text-center" nzWidth="10%" nzShowSort nzSortKey="con"><span>เงื่อนไข<br>
                <!-- <a *ngIf="checkDelete == true" title="ลบ" class="delete-condition"><img src="assets/images/icon-remove-gray.svg" alt="" (click)="onDelete(0)"></a> -->
              </span></th>
            </tr>
          </thead>
          <tbody>
            <tr class="box-condition-tr" *ngFor="let data of ajaxTable.data; let i = index">
              <td class="text-center"  nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus(data.id13)"></td>
              <td class="text-center"  nzWidth="6%">{{data.seq}}</td>
              <td class="text-left"    nzWidth="18%">{{data.id13 | mask: '0-00000-0000-00-0'}}</td>
              <td class="text-left"    nzWidth="20%">{{data.titleName}} {{data.firstName}} {{data.surName}}</td>
              <td class="text-center"  nzWidth="15%">{{data.date | toDate:'YYYY-MM-DD' | dateLocalTh: ['short','numeric']}}</td>
              <td class="text-right"   nzWidth="15%">{{data.pay | number: '1.2-2'}}</td>
              <td class="text-right"  nzWidth="15%">{{data.tax | number: '1.2-2'}}</td>
              <td class="text-center"    nzWidth="10%">
                <span class="title-condition" *ngIf="data?.con == 1">หัก ณ ที่จ่าย</span>
                <span class="title-condition" *ngIf="data?.con == 2">ออกให้ตลอดไป</span>
                <span class="title-condition" *ngIf="data?.con == 3">ออกให้ครั้งเดียว</span>
                <div class="btn-condition">
                  <a title="แก้ไข"class="edit-condition"><img src="assets/images/icon-edit-gray.svg" alt="" (click)="onEdit(data.id13)"></a>
                  <a title="ลบ" class="delete-condition" style="margin-left: 10%"><img src="assets/images/icon-remove-gray.svg" alt="" (click)="onDelete(data.id13)"></a>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>

      </div>
      <!--end table-list-taxdata-->

    </div>
    <!--end content-list-taxdata-->
  </div>
  <!--end body-tabtaxdata-->
</ng-template>

<ng-template #tableTotal let-range="range" let-total>
    แสดง {{range[0]}}-{{range[1]}} จาก ทั้งหมด {{total}} รายการ
</ng-template>

<ng-template #templateClearData>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{alertHeader}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalClearData.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    {{msgBody}}<br>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-red float-center" (click)="modalClearData.hide()">ยกเลิก</button>
     <button type="button" class="btn btn-success" (click)="onClearData()">ยืนยัน</button>
   </div>
</ng-template>

<ng-template #templateDeleteAllData>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{alertHeader}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalDeleteAllData.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    {{msgBody}}<br>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-red float-center" (click)="modalDeleteAllData.hide()">ยกเลิก</button>
     <button type="button" class="btn btn-success" (click)="onDelete(0)">ยืนยัน</button>
   </div>
</ng-template>

<ng-template #templateTaxPay>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{alertHeader}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="payModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    {{msgBody}}<br>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-red float-center" (click)="setDataTaxPay(0)">ไม่</button>
     <button type="button" class="btn btn-success" (click)="setDataTaxPay(1)">ใช่</button>
   </div>
</ng-template>